<div #stickyn class="TMO-NOTIFICATION-COMPONENT no-padding">
  <div class="alert-in sticky-top" [ngClass]="{'alert-out':!showNotification, 'sticky-position': !headerTop}" [ngStyle]="{'background-color': backgroundColor}" >
    <div class="gn-container">
    <div tmo-layout="grid" class="no-padding cursor d-inline-flex" (click)="resolveAlert()">
      <div tmo-layout="10 10@md 11@lg" class="no-padding">
        <span class="d-flex">
          <div class="bg-color-red d-flex align-items-center" [ngClass]="alertType == 'Warning' ? 'bg-color-yellow': 'bg-color-red'">
            <div class="margin-xsmall margin-small-md left-icon" [ngClass]="alertIcon"></div>
          </div>
          <div tmo-layout="11" class="no-padding margin-xsmall margin-small-md m-r-0-md m-l-0-md">
            <span class="display6 d-block d-md-inline-block white"> {{alertDesc}} </span>
            <span tmo-layout="hide@md" class="body white"> {{alertSubDescMobile !== isEmpty? alertSubDescMobile : alertSubDesc}} </span>
            <span tmo-layout="hide@md" class="legal white text-decoration-underline white-space-nowrap cursor"> {{alertSubDescLink}}</span>
            <span tmo-layout="hide show@md" class="body-copy white padding-left-xsmall"> {{alertSubDesc}} </span>
            <span tmo-layout="hide show@md" class="legal white text-decoration-underline white-space-nowrap cursor"> {{alertSubDescLink}}</span>
          </div>
        </span>
      </div>
      <div tmo-layout="2 2@md 1@lg" class="no-padding d-flex align-items-center justify-content-end">
        <div class="pull-right">
          <div class="margin-xsmall margin-small-md right-icon" [ngClass]="alertNavIcon"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>