@import "src/assets/scss/global-variables.scss";
.TMO-NOTIFICATION-COMPONENT {
  @media #{$smartphones-xxs}, #{$smartphones-xs},#{$smartphones-sm} {
    height: 49px;
  }
  @media #{$alldeviceexceptsmartphone} {
    height: 59px;
  }

  .right-icon {
    margin-top: $s;
    margin-bottom: $s;
  }
  .left-icon {
    width: $m !important;
    height: $m !important;
  }
  .margin-xsmall {
    margin: $xs;
  }
  .margin-small {
    margin: $s;
  }
  @media #{$alldeviceexceptsmartphone} {
    .margin-small-md {
      margin: $s;
    }
    .margin-left-large-md {
      margin-left: $l;
    }
    .d-md-inline-block {
      display: inline-block;
    }
    .m-r-0-md {
      margin-right: 0px;
    }

    .m-l-0-md {
      margin-left: 0px;
    }
  }

  .gn-container {
    // @media #{$desktops-xl} {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    // }
    @media #{$desktops-xl} {
      padding-right: 0px;
      padding-left: 0px;
    }
    @media #{$desktops-lg} {
      max-width: unset;
    }
    @media #{$smartphones-xs}, #{$smartphones-sm} {
      max-width: unset;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}
@media #{$smartphones-sm}, #{$smartphones-xs} {
  .left-0 {
    left: $zero;
  }
  .right-0 {
    right: $zero;
  }
  .padding-right-0 {
    padding-right: $zero !important;
  }
}
.sticky-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1900;
  @media #{$smartphones-xxs}, #{$smartphones-xs} {
    top: 158px;
  }
  @media #{$alldeviceexceptsmartphone} {
    top: 113px;
  }
}

.sticky-position {
  @media #{$smartphones-xxs}, #{$smartphones-xs},#{$smartphones-sm} {
    top: 72px;
  }
}
