<div class="TMO-SERVER-ERROR-MODAL">
  <div tmo-layout="container">
    <div tmo-layout="grid"  class="padding-top-xxl">
      <div tmo-layout="12 10@sm offset-2@sm 12@md offset-1@md" class="text-center">
        <a class="secondary-cta padding-top-small" appButtonripple (click)="visible = !visible" (keydown.enter)="visible = !visible"  tabindex="0" aria-label="Click on Server Error button" >Server Error</a>
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" id="modalBody" tabindex="-1" data-backdrop="false" aria-live="assertive" [ngClass]="{'animation-in':visible}">
        <div *ngIf="visible">
        <div tmo-layout="grid gap-none" class="no-margin text-center">
          <span mat-dialog-title tmo-layout="12"  class="no-padding black display5" tabindex="0" role="title" aria-label="We're having some trouble">We're having some trouble.</span>
        </div>
        <div tmo-layout="grid gap-none" class="no-margin padding-top-medium">
          <div tmo-layout="12" class="no-padding text-center body-copy" tabindex="0" aria-label="We're sorry our systems are currently unavailable. Please try again later">We're sorry our systems are currently unavailable. Please try again later.</div>
        </div>
        <div tmo-layout="grid gap-none"  class="mx-0 padding-top-xl">
          <div tmo-layout="12" class="no-padding padding-left-xsmall">
                <button (keydown.tab)="focusIn()" class="primary-cta-accent pull-right margin-left-xxsmall ml-2" aria-label="Click to go to previous page button" appButtonripple (click)="close()">Go to previous page</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
  </div>