<div class="TMO-HOME-REFILL-CONFIRMATION-PAGE">
  <div class="tmo-content bg-color-gray">
    <div tmo-layout="container">
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 10@md offset-2@md"
          class="text-center padding-vertical-large-xs padding-vertical-large-sm padding-top-large padding-bottom-xl">
          <img class="check-size" src="./assets/img/svg/icons/Check.svg" tabindex="0" alt="check icon">
        </div>
        <div tmo-layout="12 10@md offset-2@md"
          class="display3 text-center padding-bottom-xxl-xs padding-bottom-xxl-sm padding-bottom-large">
          <span tabindex="0" role="title" aria-label="You have successfully used your refill card">You have successfully
            used your refill card</span>
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="padding-bottom-small">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div tmo-layout="grid gap-row-none" *ngFor="let detail of oderDetails; let i = index">
        <div tmo-layout="6 offset-2@md"
          [ngClass]="{'display6 padding-bottom-small': i == 0, 'body-copy': i > 0, 'padding-bottom-xsmall-xs padding-bottom-xsmall-sm': (i > 0) && i < ( oderDetails.length-1 )}">
          <span class="pull-left" tabindex="0" [attr.aria-label]="detail.descTitle">{{detail.descTitle}}:</span>
        </div>
        <div tmo-layout="6 4@md"
          [ngClass]="{'display6 padding-bottom-small': i == 0, 'body-copy': i > 0, 'padding-bottom-xsmall-xs padding-bottom-xsmall-sm': (i > 0) && i < ( oderDetails.length-1 )}">
          <span class="pull-right" tabindex="0" [attr.aria-label]="detail.value">{{detail.value}}</span>
        </div>
      </div>
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 10@md offset-2@md" class="body-copy padding-vertical-small">
          <span tabindex="0" aria-label="Auto refill is on">Auto refill is on <span routerLink=""
              class="brand-magenta cursor text-decoration-underline" tabindex="0" aria-label="Manage" role="link">Manage</span></span>
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="padding-bottom-small">
          <div class="inset-divider-1px"></div>
        </div>
      </div>
      <div tmo-layout="grid gap-row-none" *ngFor="let detail of accountDetails; let i = index">
        <div tmo-layout="5 offset-2@md"
          [ngClass]="{'display6 padding-bottom-small': i == 0, 'body-copy': i > 0, 'padding-bottom-xsmall-xs padding-bottom-xsmall-sm': (i > 0) && i < ( oderDetails.length-1 )}">
          <span class="pull-left" tabindex="0" [attr.aria-label]="detail.descTitle">{{detail.descTitle}}<span
              *ngIf="i > 0">:</span></span>
        </div>
        <div tmo-layout="7 5@md" class="d-grid-sm"
          [ngClass]="{'display6 padding-bottom-small': i == 0, 'body-copy': i > 0, 'padding-bottom-xsmall-xs padding-bottom-xsmall-sm': (i > 0) && i < ( oderDetails.length-1 )}">
          <span class="pull-right vertical-bottom-align" tabindex="0" [attr.aria-label]="detail.value"
            *ngIf="detail.value">{{detail.value}}</span>
        </div>
      </div>
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 4@md offset-5@md" class="padding-vertical-xxl padding-vertical-large-sm padding-vertical-large-xs">
          <div class="text-center">
            <button class="primary-cta full-btn-width" appButtonripple tabindex="0" aria-label='Return home'>Return
              home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
