@import "src/assets/scss/global-variables.scss";
.TMO-HOME-REFILL-CONFIRMATION-PAGE {
  .check-size {
    width: 120px;
    height: 120px;
    @media #{$smartphones-xs},#{$smartphones-sm} {
      width: 72px;
      height: 55px;
    }
  }
  .full-btn-width {
    width :100%;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
      .d-grid-sm {
        display: grid;
        
      }
      .vertical-bottom-align{
        align-self: end;        
        justify-self: end;
      }
  }
}
