.TMO-HOME {
    .tmo-row > .column,
    .rowflex >.column {
        padding: 20px;
        background: yellow;
        text-align: center;
        margin-bottom: 10px;
        text-overflow: clip 
    }
}