<div class="TMO-HOME">
    <div tmo-layout="container">
        <div tmo-layout="grid 4">
            <div class="demo">1</div>
            <div class="demo">2</div>
            <div class="demo">3</div>
        </div>
        <div tmo-layout="grid 2" class="padding-top-medium">
                <div class="demo">1</div>
                <div class="demo">2</div>
                <div class="demo">3</div>
        </div>
    </div>
</div>