@import "src/assets/scss/global-variables.scss";
.tmo-styleguide-search-reusable {

  .search {
    position: relative;
  }
  .search .search-icon-gray {
    font-size: 24px;
    left: 16px;
    position: absolute;
    top: 8px;
    z-index: 2;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .search,
    .search-icon-gray {
      font-size: 14px !important;
    }
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {
    input {
      font-size: 14px !important;
    }
  }
  .search .search-icon-right {
    animation: search-animation-right 0.9s;
  }
  .search .search-input-right {
    animation: search-animation-right-input 0.9s;
  }
  .search .search-icon-left {
    animation: search-animation-left 0.9s;
  } //for center
  .search .search-icon-center {
    animation: search-animation-center-icon 0.9s;
  }
  .suggestions {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0; //transition: all 0.9s;
    //transition: all 0.4s;
    transition: all 300ms;
    z-index: -1;   
  }
  .show-suggestions {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    min-height: 55px;
    max-height: 146px; 
    opacity: 1;
    overflow-y: auto;  
    padding-top: $xs;
    padding-bottom: $xs;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);    
    z-index: 1;     
 
  }
  .recent-search {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: all 300ms;
  }
  .show-recent-search {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    min-height: 55px;
    max-height: 146px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    padding-top: $xs;
    padding-bottom: $xs;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 100%;

  }
  .ul-style-none {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    }
  .li-style-search {
    color: #6a6a6a;
    padding: 5px 5px 5px 5px;
    margin-left:10px;
    margin-right: 8px;
    font-family: $arial;
    letter-spacing: $zero;  
    overflow-x: hidden;
    @media #{$smartphones-xs}, #{$smartphones-sm}{
      font-size: 14px; 
      line-height: 24px; 
      letter-spacing: 0.5px;
    }
    @media #{$alldeviceexceptsmartphone} {
      font-size: 16px; 
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
  .li-style-search:hover {
    background-color: $gray20;
    color:$brand-magenta;
  }
  .li-style-searchhover {
   // background-color: $gray20;
   background-color :$gray20;
    color:$brand-magenta;
  }
  .li-style-search:active {
    background-color: $brand-magenta;
    color: $white;
  }
  .li-style-suggestions {
    
    padding: 8px 8px 8px 40px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: $arial;
    letter-spacing: $zero;  
    overflow-x: hidden;
    @media #{$smartphones-xs}, #{$smartphones-sm}{
      margin-left: -4px;
      font-size: 14px; 
      line-height: 20px; 
      letter-spacing: 0.5px;
    }
    @media #{$alldeviceexceptsmartphone} {
      font-size: 16px; 
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
  .li-style-suggestions:hover {
    background-color: $gray20;
    color:$brand-magenta;
  }
   .li-style-suggestions:active {
    background-color: $brand-magenta;
    color: $white;
  }
  .clock-icon {
    padding-right: 13px;
    font-size: 23px;
    @media #{$smartphones-xs}, #{$smartphones-sm}{
      padding-right: 8px;
    }
  }
  .scroll-style::-webkit-scrollbar {
    width: 7px;
    // height: 102px;
  }
  .scroll-style::-webkit-scrollbar-thumb {
    border-radius: 4.5px;
    // height: 102px;
    background-color: $gray30;
  }
  input {
    width: 0%;
    font-size: 16px;
    color:black;
  }
  .persistent-input {
    width: 100%;
    font-size: 16px;
    line-height: 24px; 
    padding-left: 48px;
    padding-right: 56px;
    padding-top: 8px;
    padding-bottom: 1px;
    letter-spacing:0.5px;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .persistent-input {
      font-size: 14px !important;
      padding-left: 43px;
      padding-bottom: 1px;
    }
  }
  .input-right1 {
    animation: search-animation-right-close-input 0.9s;
  }
  .input-left-close {
    animation: search-animation-left-close 0.9s;
  }
  .input-center {
    animation: search-animation-center-close 0.9s;
  }
  .input-100 {
    width: 100%;
    padding-left: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .input-100 {
      padding-left: 40px;
      padding-bottom: 8px;
    }
  }
  .input-100-left {
    animation: search-animation-left 0.9s;
  }
  .input-100-center {
    animation: search-animation-center 0.9s;
  } // for right
  .search-100 {
    position: absolute;
    left: auto !important;
    right: 0px;
  }
  .search-100-right {
    animation: search-animation-right-close 0.9s;
  }
  .search-100-center-close {
    right: 50% !important;
    left: auto !important;
    animation: search-animation-center-icon-close 0.9s;
  }
  .search-100-center {
    position: absolute;
    left: 50% !important;
    transition: 0.6s ease-in all;
  }
  ::placeholder {
    color: $gray60;
  }
  input.persistent-input::-webkit-input-placeholder {
    color: $gray60;
    opacity: 1;
  }
  input {
    caret-color: $brand-magenta;
  }
  .clear-icon1 {
    opacity: 0;
    position: absolute;
    top: 22px;
    right: 16px;
    font-size: 24px;
    z-index: -1;
  }
  .clear-icon1-animation-right {
    transition: 0.8s ease-in all;
  }
  .clear-icon1-animation-left {
    transition: 0.8s ease-in all;
    animation: search-animation-left 0.9s;
  }
  .clear-icon1-animation-center {
    transition: 0.9s;
  }
  .show-clear-icon1 {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    filter: invert(0.5);
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 24px;
    z-index: 1;
    animation: clear-animation-left-close 0.9s;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .show-clear-icon1 {
      font-size: 14px !important;
    }
  } //for right
  @keyframes search-animation-right {
    from {
      margin-left: 85%;
      width: 0%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @media #{$smartphones-sm},
  #{$smartphones-xs} {
    @keyframes search-animation-right-close {
      from {
        width: 100%;
        padding-left: 0%;
      }
      to {
        width: 0%;
        padding-right: 13px;
      }
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    @keyframes search-animation-right-close {
      from {
        width: 100%;
        padding-left: 0%;
      }
      to {
        width: 0%;
        padding-right: 22px;
      }
    }
  } //for right
  @keyframes search-animation-right-input {
    from {
      margin-left: 96%;
      width: 0%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes search-animation-right-close-input {
    from {
      margin-left: 0%;
      width: 100%;
    }
    to {
      margin-left: 100%;
      width: 0%;
    }
  } //for left
  @keyframes search-animation-left {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes search-animation-left-close {
    0% {
      width: 100%;
      padding-left: 56px;
    }
    100% {
      width: 0%;
      padding-left: 56px;
      border: none;
    }
  } //for center
  @keyframes search-animation-center {
    from {
      -webkit-transform: scaleX(0);
      transform: scaleX(0)
    }
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  }
  @keyframes search-animation-center-close {
    from {     
      margin-left: 0%;
      width: 100%;
    }
    to { 
      margin-left: 51%;
      margin-right: 49%;
      width: 0%;     
    }
  }
  @keyframes search-animation-center-icon {
    from {
      margin-left: 50%;
      margin-right: 50%;
    }
    to {
      margin-left: 0%;
      margin-right: 100%;
    }
  }
  @keyframes search-animation-center-icon-close {
    from {
      margin-left: 0%; //margin-right:100%;
      width: 100%;
    }
    to {
      margin-left: 50%;
      margin-right: 50%;
      width: 50%;
    }
  }
  input.leftPlaceHolder,
  input.leftPlaceHolder::-webkit-input-placeholder {
    color: $gray30;
    transition: 0.4s ease-in all !important;
  }

  @media all and (-ms-high-contarst: none),
(-ms-high-contrast: active) {
  input:focus::placeholder {
    color: $gray60;
    opacity: 1;
  }
}
.input-animation {
  width: 100%;
}

.overlap {
  position: absolute;
  z-index: 1000;
  background: $white;
  width: 100%;
  display:block;
}

.li-style-searchhover-active
{
  background-color: $brand-magenta;
  color:$white;
}

}



