/*Version 0.0.1*/
@mixin icons($background) {
 background: $background no-repeat; 
}

@mixin icon-height-width($height, $width) {
  height: $height; 
  width: $width; 
}
.width-height-20 {
  width: 20px; 
  height: 20px; 
}

.arrow-right {
  @include icons(url('assets/img/svg/icons/ic_keyboard_arrow_right_gray30_24px.svg')); 
  @extend .width-height-20; 
}

.arrow-down-disable {
  @include icons(url('assets/img/svg/icons/arrow-up-disable.svg')); 
  @extend .width-height-20; 
  transform: rotate(180deg); 
}

.arrow-up {
  @include icons(url('assets/img/svg/icons/arrow-up.svg')); 
  @extend .width-height-20; 
}

.exclamation-circle {
  @include icons(url('assets/img/svg/icons/error_circle.svg'));
   @extend .width-height-20;
}
.exclamation-error {
  background: url('assets/img/svg/icons/error_red.svg') no-repeat; 
  color: red; 
  height: 20px; 
  margin-top: 4px; 
  width: 20px; 
}

.clear-icon {
  background: url('assets/img/svg/icons/clear-gray.svg') no-repeat; 
  width: 22px; 
  height: 22px; 
}

.clear-icon1 {
  background: url('assets/img/svg/icons/clear-gray-16.svg') no-repeat; 
  width:16px; 
  height:16px; 
}

.clear-icon-light{
  background: url('assets/img/svg/icons/clear-lightgray-16.svg') no-repeat; 
  width:16px; 
  height:16px;
  filter: invert(0) !important; 
}

.warning-red{
  background: url('assets/img/svg/icons/warning_red_regular-16.svg') no-repeat;
  height: 16px; 
  width: 16px;
}

.search-icon-gray {
  background: url('assets/img/png/search-icon.png') no-repeat;
  height: 24px; 
  width: 24px; 
}

.arrow-right-magenta {
  @include icons(url('assets/img/svg/icons/ic_keyboard_arrow_right_magenta_24px.svg')); 
  @extend .width-height-20; 
}

// write all your media queries here

@media #{$smartphones-xs}, #{$smartphones-sm} {
  .clear-icon-xs-sm {
    background: url('assets/img/svg/icons/clear-gray-14.svg') no-repeat; 
  }
  .clear-icon-light{
    background: url('assets/img/svg/icons/clear-lightgray-14.svg') no-repeat; 
  }
}
 
.arrow-down {
  @include icons(url('assets/img/svg/icons/Arrow_up_gray.svg'));
  @extend .width-height-20;
  transform: rotate(180deg);
}

.tooltip-icon {
  @include icons(url('assets/img/svg/icons/ic_tooltip_black_24px.svg')); 
  @extend .width-height-20; 
  display: inline-block; 
}

.clear-icon-black {
  background: url('assets/img/svg/icons/clear_black.svg') no-repeat; 
  filter:grayscale(100%); 
  height: 22px; 
  width: 22px; 
}

.arrow-back {
  @include icons(url('assets/img/svg/icons/back-arrow.svg'));
  @extend .width-height-20;
}
.notification-icon{
  background: url('assets/img/svg/icons/baseline-notifications-24px.svg') no-repeat;
  height: 24px; 
  width: 24px;
}
 .notification-icon-magneta{
 background: url('assets/img/svg/icons/baseline-notifications-magneta.svg') no-repeat;
 height: 24px; 
 width: 24px;
}
 .notification-icon-grey{
 background: url('assets/img/svg/icons/baseline-notifications-grey40.svg') no-repeat;
 height: 24px; 
 width: 24px;
 }
 .warning-icon{
  background: url('assets/img/svg/icons/baseline-warning-yellow.svg') no-repeat;
  height: 24px; 
  width: 24px;
 }
 .warning-outline-black {
  @include icons(url('assets/img/svg/icons/warning_outline_black.svg'));
  @extend .width-height-20;
}
.warning-outline-white {
    @include icons(url('assets/img/svg/icons/warning_outline_white.svg'));
    @extend .width-height-20;
}
.error_filled_white{
  @include icons(url('assets/img/svg/icons/error_filled_white.svg'));
  @extend .width-height-20;
}
.arrow-right-white {
  @include icons(url('assets/img/svg/icons/ic_keyboard_arrow_right_white_24px.svg'));
  @extend .width-height-20;
}
.arrow-right-yellow {
  @include icons(url('assets/img/svg/icons/ic_keyboard_arrow_right_yellow_24px.svg'));
  @extend .width-height-20;
}
.info-icon{
  background: url('assets/img/svg/icons/outline-info-grey40.svg') no-repeat;
  height: 24px; 
  width: 24px;
  }
  .check-icon{
    background: url('assets/img/svg/icons/ic-check-circle-green-24-px.svg') no-repeat;
    height: 24px; 
    width: 24px;
    }
    
  .error{
    background: url('assets/img/svg/icons/error.svg') no-repeat;
  height: 24px; 
  width: 24px; 
  }
  .validation-outline-green{
    background: url('assets/img/svg/icons/validation-outline-green.svg') no-repeat;
    height: 24px; 
    width: 24px; 
  }
  .warning-red-outline-12{
    background: url('assets/img/png/warning-red-outline-12.png') no-repeat;
    width: 24px;
    height: 24px;
 }
  
 .search-white {
  @include icons(url('assets/img/svg/icons/baseline-search-24px-white.svg')); 
  @include icon-height-width(24px, 24px); 
}

// header & footer icons starts
.person-white {
  @include icons(url('assets/img/header-footer/baseline-person-24px-white.svg')); 
  @extend .width-height-20; 
}

.arrow-up-white {
  @include icons(url('assets/img/header-footer/arrow-up-white.svg')); 
  @include icon-height-width(16px, 16px); 
}

.call-white {
  // @include icons(url('assets/img/svg/icons/baseline-call-24px-white.svg')); 
  @include icon-height-width(24px, 24px); 
}

.comments-white {
  @include icons(url('assets/img/header-footer/round-question_answer-24px-white.svg')); 
  @include icon-height-width(24px, 24px); 
}

.searchicon-white {
  // @include icons(url('assets/img/svg/icons/baseline-search-24px-white.svg')); 
  @include icon-height-width(24px, 24px); 
}

.search-gray {
  @include icons(url('assets/img/header-footer/baseline-search-gray.svg')); 
  @include icon-height-width(24px, 24px); 
}

.search-magenta {
  @include icons(url('assets/img/header-footer/baseline-search-magenta.svg')); 
  @include icon-height-width(24px, 24px); 
}

.menu-white {
  @include icons(url('assets/img/header-footer/baseline-menu-24px-white.svg')); 
  @include icon-height-width(24px, 24px); 
}

.footer-tooltip {
  @include icons(url('assets/img/header-footer/support_icon_black.svg')); 
  @include icon-height-width(16px, 16px); 
}
.footer-tooltip-magenta {
  @include icons(url('assets/img/header-footer/support_icon_magenta.svg')); 
  @include icon-height-width(16px, 16px); 
}
.phone {
  @include icons(url('assets/img/header-footer/contact_us_icon_black.svg')); 
  @include icon-height-width(16px, 16px); 
}
.phone-magenta {
  @include icons(url('assets/img/header-footer/contact_us_icon_magenta.svg')); 
  @include icon-height-width(16px, 16px); 
}
.business {
  @include icons(url('assets/img/header-footer/store_locator_icon_black.svg')); 
  @include icon-height-width(16px, 16px); 
}
.business-magenta {
  @include icons(url('assets/img/header-footer/store_locator_icon_magenta.svg')); 
  @include icon-height-width(16px, 16px); 
}

.hotspot {
  @include icons(url('assets/img/header-footer/coverage_icon_black.svg')); 
  @include icon-height-width(16px, 16px); 
}
.hotspot-magenta  {
  @include icons(url('assets/img/header-footer/coverage_icon_magenta.svg')); 
  @include icon-height-width(16px, 16px); 
}

.tmobileicon{
  @include icons(url('assets/img/header-footer/t-mobile_icon_black.svg')); 
  @include icon-height-width(16px, 16px); 
}

.tmobileicon-magenta {
  @include icons(url('assets/img/header-footer/t-mobile_icon_magenta.svg')); 
  @include icon-height-width(16px, 16px); 
}
.person-magenta {
  @include icons(url('assets/img/header-footer/person-magenta.svg')); 
  @extend .width-height-20; 
}

// header & footer icons ends
