.TMO-APP-DOWNLOAD-PAGE {
  $smartphones-xxs: "only screen and (max-width: 380px)";
  $smartphones-xs: "only screen  and (max-width: 575px)";
  $smartphones-sm: "only screen and (min-width: 576px) and (max-width: 767px)";
  $tele-grotesk-ultr: Tele-Ult;
  $tele-grotesk-norm: Tele-Nor;
  $Tele-Grotesk-Fet: Tele-Fet;
  $brand-magenta: #e20074;
  $magenta-mid: #f41a8a;
  $magenta-dark: #ba0060;
  $white: #ffffff;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  p {
    line-height: 14px;
  }

  .hd-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .hd-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .hd-no-margin {
    margin: 0;
  }

  .hd-col-2,
  .hd-col-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .hd-col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .hd-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .hd-col-8 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .hd-display4 {
    color: #000000;
    font-family: $tele-grotesk-ultr;
    font-size: 18px;

    @media #{$smartphones-xxs} {
      font-size: 16px;
    }
  }

  .hd-display5 {
    color: #6a6a6a;
    font-family: $tele-grotesk-norm;
    font-size: 14px;

    @media #{$smartphones-xxs} {
      font-size: 12px;
    }
  }

  .hd-header {
    display: block;
    padding: 16px 24px 16px 24px;

    @media #{$smartphones-xxs} {
      padding: 16px;
    }
  }

  .hd-d-none {
    display: none;
  }

  .hd-d-inline-block {
    display: inline-block;
  }

  .hd-align-center {
    align-items: center;
  }

  .hd-vertical-middle {
    vertical-align: middle;
  }

  .hd-close-pink {
    background: url("../../../../assets/img/TMOheader/close-pink.svg") no-repeat;
    height: 16px;
    width: 16px;
  }

  .hd-logo-pink {
    background: url("../../../../assets/img/TMOheader/logo-pink.svg") no-repeat;
    height: 32px;
    width: 32px;
  }

  .hd-m-l-30 {
    margin-left: 30px;
  }

  .hd-p-t-4 {
    padding-top: 4px;
  }

  @mixin button-styles(
    $height: 32px,
    $paddingright: 16px,
    $paddingleft: 16px,
    $marginleft: 12px,
    $marginright: 12px,
    $background: $brand-magenta,
    $color: $brand-magenta,
    $borderradius: 0px,
    $border: solid 0px $white,
    $font-family: $Arial,
    $font-size: 5px,
    $letter-spacing: 0.5px,
    $font-weight: $normal,
    $outline: none
  ) {
    height: $height;
    padding-right: $paddingright;
    padding-left: $paddingleft;
    margin-left: $marginleft;
    margin-right: $marginright;
    background: $background;
    color: $color;
    border-radius: $borderradius;
    border: $border;
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    outline-style: $outline;
  }

  @mixin button_hoverAndActive(
    $background-color: $brand-magenta,
    $box-shadow: none,
    $outline: none,
    $border-color: $brand-magenta,
    $color: $brand-magenta,
    $text-decoration: none
  ) {
    background-color: $background-color;
    box-shadow: $box-shadow;
    outline: $outline;
    border-color: $border-color;
    color: $color;
    text-decoration: $text-decoration;
  }

  @mixin button_focus(
    $background-color: $brand-magenta,
    $box-shadow: none,
    $outline: none,
    $border-color: $brand-magenta,
    $color: $brand-magenta,
    $text-decoration: none
  ) {
    background-color: $background-color;
    box-shadow: $box-shadow;
    outline: $outline;
    border-color: $border-color;
    color: $color;
    text-decoration: $text-decoration;
  }

  .ripple {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  @-webkit-keyframes ripple {
    to {
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  .ripple-animate {
    -webkit-animation: ripple 1000ms ease-out;
    animation: ripple 1000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 10px;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    width: 10px;
  }

  .TeritiaryCTA {
    @include button-styles(
      32px,
      16px,
      16px,
      0px,
      0px,
      $white,
      $brand-magenta,
      4px,
      1px solid #cccccc,
      $Tele-Grotesk-Fet,
      18px,
      0.5px,
      normal
    );
    background-color: transparent;
    @extend .ripple;
    &:hover {
      @include button_hoverAndActive($white, none, none, none, $magenta-mid, none);
    }
    &:focus {
      @include button_focus($white, none, 5px auto -webkit-focus-ring-color, none, $magenta-mid, none);
    }
    &:active {
      @include button_hoverAndActive($white, none, none, none, $magenta-dark, none);
    }
  }

  @media #{$smartphones-xxs} {
    .hd-m-l-20-xxs {
      margin-left: 20px;
    }
  }

  .sticky-header {
    background-color: $white;
    position: fixed;
    top: 0;
    z-index: 2000;
  }

  .tmo-sticky-download {
    @media #{$smartphones-xxs}, #{$smartphones-xs} {
      height: 86px;
    }
  }
}
