.TMO-LOADER-SPINNER {

 .drg-spinner-large {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    margin-top: 46vh;
    stop-color: #e20074;
    
  }
  .spinner-loader-background {
    z-index: 99999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top:0;
}

.spinner-loader-background-none {
    z-index: 99999;
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
}

    .preloader-wrapper{
        display:inline-block;
        position:relative;
        width:50px;
        height:50px
    }     
    .preloader-wrapper.active{
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
    }@-webkit-keyframes container-rotate{
    to{
        -webkit-transform: rotate(360deg)
    }
    }@keyframes container-rotate{
        to{
            -webkit-transform:rotate(360deg);transform:rotate(360deg)
        }
        }    
    .spinner-layer{
        position:absolute;
        width:100%;
        height:100%;
        opacity:0;
        border-color:#e20064
    }
    .circle-clipper{
        display:inline-block;
        position:relative;
        width:50%;
        height:100%;
        overflow:hidden;
        border-color:inherit
    }     
    .circle-clipper.left .circle{
        left:0;
        border-right-color:transparent !important;
        -webkit-transform:rotate(129deg);transform:rotate(129deg)
    }
    .left {
        float: left !important;
    }    
    .circle {
        border-radius: 50%;
    }     
    .active .circle-clipper.left .circle{
        -webkit-animation:left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        animation:left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
    }    
    .gap-patch .circle{
        width:1000%;
        left:-450%
        }      
    .gap-patch {
        position: absolute;
        top: 0;
        left: 45%;
        width: 10%;
        height: 100%;
        overflow: hidden;
        border-color: inherit;
    }      
    .active .spinner-layer {
        opacity: 1;
        -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }@-webkit-keyframes fill-unfill-rotate{
    12.5%{
        -webkit-transform: rotate(135deg)
    }25%{
        -webkit-transform: rotate(270deg)
    }37.5%{
        -webkit-transform: rotate(405deg)
    }50%{
        -webkit-transform: rotate(540deg)
    }62.5%{
        -webkit-transform: rotate(675deg)
    }75%{
        -webkit-transform: rotate(810deg)
    }87.5%{
        -webkit-transform: rotate(945deg)
    }to{
        -webkit-transform: rotate(1080deg)
    }
    }@keyframes fill-unfill-rotate{
    12.5%{
        -webkit-transform: rotate(135deg);transform: rotate(135deg)
    }25%{
        -webkit-transform: rotate(270deg);transform: rotate(270deg)
    }37.5%{
        -webkit-transform: rotate(405deg);transform: rotate(405deg)
    }50%{
        -webkit-transform: rotate(540deg);transform: rotate(540deg)
    }62.5%{
        -webkit-transform: rotate(675deg);transform: rotate(675deg)
    }75%{
        -webkit-transform: rotate(810deg);transform: rotate(810deg)
    }87.5%{
        -webkit-transform: rotate(945deg);transform: rotate(945deg)
    }to{
        -webkit-transform: rotate(1080deg);transform: rotate(1080deg)
    }
    }       
    .active.circle-clipper.right.circle{
    -webkit-animation: right-spin1333mscubic-bezier(0.4, 0, 0.2,1) infinite both;
    animation: right-spin1333mscubic-bezier(0.4, 0,  0.2, 1) infinite both;
    }@-webkit-keyframes left-spin{
    from{
        -webkit-transform: rotate(130deg)
    }50%{
        -webkit-transform: rotate(-5deg)
    }to{
        -webkit-transform: rotate(130deg)
    }
    }@keyframes left-spin{
    from{
        -webkit-transform: rotate(130deg);transform: rotate(130deg)
    }50%{
        -webkit-transform: rotate(-5deg);transform: rotate(-5deg)
    }to{
        -webkit-transform: rotate(130deg);transform: rotate(130deg)
    }
    }@-webkit-keyframes right-spin{
    from{
        -webkit-transform: rotate(-130deg)
    }50%{
        -webkit-transform: rotate(5deg)
    }to{
        -webkit-transform: rotate(-130deg)
    }
    }@keyframes right-spin{
    from{
        -webkit-transform: rotate(-130deg);transform: rotate(-130deg)
    }50%{
        -webkit-transform: rotate(5deg);transform: rotate(5deg)
    }to{
        -webkit-transform: rotate(-130deg);transform: rotate(-130deg)
    }
    }      
    .active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }
    .circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
    }
    .circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    }

  

}    

