<div class="TMO-FA-LINES">
  <div tmo-layout="container">
    <!-- Add main content class as required for Button bottom alignment -->
    <div tmo-layout="grid 12" class="padding-top-large padding-top-medium-xs padding-top-medium-sm text-center">
      <span class="display3" tabindex="0" aria-label="Family allowances">Family allowances</span>
    </div>
    <div>
      <div tmo-layout="grid">
        <div tmo-layout="12 10@md offset-2@md" class="padding-top-small padding-top-medium-xs padding-top-medium-sm">
          <span class="text-left h5-heading text-decoration-none" tabindex="0">List of all lines</span>
          <span class="float-right body-copy" tmo-layout="hide show@md">
            <a class="teritiary-cta brand-magenta text-decoration-none cursor float-right no-padding-viewlines cursor sectional-link" href="#">Help</a>
          </span>
        </div>
      </div>
      <div tmo-layout="grid">
        <div tmo-layout="12 10@md offset-2@md" class="padding-vertical-small padding-bottom-medium-xs padding-bottom-medium-sm">
          <span class="text-left body-copy" tabindex="0">The following lines are available:</span>
          <span class="float-right body-copy" tmo-layout="hide@md  show@sm">
            <a class="teritiary-cta brand-magenta text-decoration-none cursorfloat-right no-padding-viewlines cursor" href="#">Help</a>
          </span>
        </div>
      </div>
    </div>
    <div tmo-layout="grid" class="position-relative">
      <div tmo-layout="6@md 5@lg offset-2@md offset-2@lg">
        <app-search-reusable [inputArray]="lineData" [persistent]=true [elementId]=1 (callBackValue)="searchValue($event)" [placeholder]="dynamicplaceholder"></app-search-reusable>
      </div>
    </div>
    <div tmo-layout="grid">
      <div tmo-layout="9@md offset-2@md 12@sm offset-0@sm" class="padding-top-small padding-bottom-base">
        <div class="padding-bottom-xxl">
          <div tmo-layout="grid gap-row-none">
            <div tmo-layout="4@md 6"  class ="padding-top-small" *ngFor="let val of selectedLineData;">
              <a routerLink="" class="body-copy">
                {{val.title}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
