<div class="TMO-FA-BENEFIT">
    <div tmo-layout="container" class="padding-bottom-medium">
        <div tmo-layout="grid gap-none">
            <div tmo-layout="12 10@md offset-2@md 8@lg offset-3@lg" class="text-center padding-top-small">
                <img role="img" aria-label="image" class="netflix-img" src="http://placehold.it/608x304?text=FPO" tabindex="0">
            </div>
            <div tmo-layout="12 10@md offset-2@md 8@lg offset-3@lg" class="text-center padding-top-small">
                <span class="display4" tabindex="0" aria-label="We’re including Netflix On Us">We’re including Netflix On Us </span>
            </div>
            <div tmo-layout="12 10@md offset-2@md 8@lg offset-3@lg" class="padding-top-small" tabindex="0">
                <span class="body-copy">Just sign up for a Netflix account below. If you have a Netflix Premium subscription, you'll see a charge for
              the cost difference  within 2-3 bill cycles.</span>
            </div>
        </div>
        <div tmo-layout="grid gap-none" class="d-block text-center">
            <div tmo-layout="12" class="cd-inline-block padding-top-large ">
                <button class="primary-cta full-btn-width" appButtonripple aria-label="Sign up for Netflix">Sign up for Netflix On Us</button>
            </div>
        </div>
        <div tmo-layout="grid gap-none">
            <div tmo-layout="12 10@md offset-2@md 8@lg offset-3@lg" class="legal padding-top-large padding-bottom-large" tabindex="0">
                Redeeming this offer will replace your current Netflix payment method with T-Mobile. On all T-Mobile plans, if congested,
                customers using >50GB/mo. may notice reduced speeds due to prioritization. Video typically streams at 480p.
                Tethering at max 3G speeds. Int'l speeds approx. 128 kbps. Limited time offer; subject to change. Receive
                Netflix Standard 2-screen (up to a $10.99/mo. value) while you maintain 2+ qual'g T-Mobile ONE lines in good
                standing. Value may be applied to different Netflix streaming plans. Not redeemable or refundable for cash.
                Cancel Netflix anytime. Netflix Terms of Use apply:
                <span class="legal-link cursor"> www.netflix.com/termsofuse</span>. 1 offer per T-Mobile account; may take
                1-2 bill cycles. Like all plans, features may change or be discontinued at any time; see T-Mobile Terms and
                Conditions for details.
            </div>
        </div>
    </div>
</div>