.TMO-GLOBAL-FOOTER-COMPONENT {

  $smartphones-xs: 'only screen  and (max-width: 575px)';
  $smartphones-sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
  $tablets-md: 'only screen and (min-width: 768px) and (max-width: 991px)';
  $desktops-lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
  $desktops-xl: 'only screen and (min-width: 1200px)';
  $alldeviceexceptsmartphone: 'only screen and (min-width: 768px)';

  $tele-grotesk-fet: Tele-Fet;
  $tele-grotesk-norm: Tele-Nor;
  $tele-grotesk-ultr: Tele-Ult;
  $tele-grotesk-hal: Tele-Hal;
  
  $arial: Arial;
  $bold: bold;
  $normal: normal;
  $zero:0;
  $gray05:#f8f8f8;
  $brand-magenta:#e20074;
  $xs: 8px;
  $s: 16px;
  $l: 32px;
  $m:24px;
  $xxxl: 56px;
  $gray20: #e8e8e8;
  $black: #000000;
  $gray60: #6a6a6a;
  $pointer: pointer;

  @mixin txt-styles(
    $font-family: $Arial,
    $font-size: 5px,
    $line-height: 5px,
    $letter-spacing: 5px,
    $font-weight: $normal,
    $color: $black
  ) {
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    color: $color;
  }

  .gf-legal {
    @include txt-styles($arial, 10px, 12px, 0.5px, $normal, $gray60);
  }

  .gf-black {
    color: $black;
  }

  .gf-cursor {
    cursor: $pointer;
  }

  @mixin gh-txt-styles(
    $font-family: $arial,
    $font-size: 5px,
    $font-weight: $normal,
    $letter-spacing: 5px,
    $line-height: 5px
  ) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
  }
  .gf-footer {
    @include gh-txt-styles($arial, 14px, $normal, 0, 14px);
    background-color: $gray05;
  }

  .gf-display5 {
    @include gh-txt-styles($tele-grotesk-norm, 14px, $bold, 0.5px, $s);
  }
  .gf-eyebrow {
    @include gh-txt-styles($tele-grotesk-norm, 14px, $bold, 0.6px, 20px);
    color: #6a6a6a;
  }
  @media #{$alldeviceexceptsmartphone} {
    .gf-display5 {
      @include gh-txt-styles($tele-grotesk-norm, 15px, $bold, 0.5px, $s);
    }
    .gf-eyebrow {
      @include gh-txt-styles($tele-grotesk-norm, 14px, $bold, 0.5px, 12px);
      color: #6a6a6a;
    }
  }

  // footer icons starts

  @mixin icons($background) {
    background: $background no-repeat;
  }

  @mixin icon-height-width($height, $width) {
    height: $height;
    width: $width;
  }

  .gf-footer-tooltip {
    @include icons(url("../../../../assets/img/header-footer/support_icon_black.svg"));
    @include icon-height-width(16px, 16px);
  }
  .gf-footer-tooltip-magenta {
    @include icons(url("../../../../assets/img/header-footer/support_icon_magenta.svg"));
    @include icon-height-width(16px, 16px);
  }
  .gf-phone {
    @include icons(url("../../../../assets/img/header-footer/contact_us_icon_black.svg"));
    @include icon-height-width(16px, 16px);
  }
  .gf-phone-magenta {
    @include icons(url("../../../../assets/img/header-footer/contact_us_icon_magenta.svg"));
    @include icon-height-width(16px, 16px);
  }
  .gf-business {
    @include icons(url("../../../../assets/img/header-footer/store_locator_icon_black.svg"));
    @include icon-height-width(16px, 16px);
  }
  .gf-business-magenta {
    @include icons(url("../../../../assets/img/header-footer/store_locator_icon_magenta.svg"));
    @include icon-height-width(16px, 16px);
  }

  .gf-hotspot {
    @include icons(url("../../../../assets/img/header-footer/coverage_icon_black.svg"));
    @include icon-height-width(16px, 16px);
  }
  .gf-hotspot-magenta {
    @include icons(url("../../../../assets/img/header-footer/coverage_icon_magenta.svg"));
    @include icon-height-width(16px, 16px);
  }

  .gf-tmobileicon {
    @include icons(url("../../../../assets/img/header-footer/t-mobile_icon_black.svg"));
    @include icon-height-width(16px, 16px);
  }

  .gf-tmobileicon-magenta {
    @include icons(url("../../../../assets/img/header-footer/t-mobile_icon_magenta.svg"));
    @include icon-height-width(16px, 16px);
  }

  // footer icons ends

  .gf-flex {
    display: flex;
  }
  .gf-column-12 {
    width: 100%;
  }
  .gf-column-6 {
    width: 50%;
    float: left;
  }
  a:hover {
    color: $brand-magenta;
    text-decoration: none;
  }
  .gf-inline-block {
    display: inline-block;
  }
  .gf-links:hover {
    span {
      color: $brand-magenta;
    }
  }

  .gf-text-decoration-none {
    text-decoration: none;
  }
  .gf-padding-bottom-large {
    padding-bottom: 32px;
  }

  .gf-padding-top-large {
    padding-top: $l;
  }
  .gf-full-bleed-divider {
    border-top: 6px solid $gray20;
  }

  .gf-padding-bottom-medium {
    padding-bottom: $m;
  }

  .gf-container-md {
    @media #{$alldeviceexceptsmartphone} {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    @media #{$tablets-md} {
      max-width: 720px;
    }
    @media #{$desktops-lg} {
      max-width: 960px;
    }
    @media #{$desktops-xl} {
      max-width: 1140px;
    }
  }

  @media #{$alldeviceexceptsmartphone} {
    .gf-column-6-md {
      width: 50%;
      float: left;
    }
    .gf-p-b-26-md {
      padding-bottom: 26px;
    }

    // .gf-margin-horizontal-large-md {
    //   margin-left: $l;
    //   margin-right: $l;
    // }
    .gf-flex-md {
      display: flex;
    }
    .gf-inline-flex-md {
      display: inline-flex;
    }
    .gf-justify-center-md {
      justify-content: center;
    }
    .gf-padding-left-xsmall-md {
      padding-left: $xs;
    }
    .gf-hidden-md {
      display: none;
    }

    .gf-no-padding-md {
      padding-left: $zero;
      padding-right: $zero;
    }

    .gf-column-offset-md-1 {
      // margin-left: 8.3%;
      margin-left: 7%;
    }
  }

  @media #{$desktops-lg},#{$desktops-xl} {
    .gf-padding-right-xxxl-lg {
      padding-right: $xxxl;
    }

    .gf-column-offset-lg-1 {
      // margin-left: 8.3%;
      margin-left: 7%;
    }
  }

  @media #{$tablets-md} {
    .gf-p-r-20-md {
      padding-right: 20px;
    }
  }

  @media #{$desktops-lg} {
    .gf-p-l-30-lg {
      padding-left: 30px;
    }
  }

  @media #{$desktops-xl} {
    .gf-p-l-40-xl {
      padding-left: 40px;
    }
  }

  @media #{$smartphones-xs}, #{$smartphones-sm} {
    .gf-padding-horizontal-small-xs {
      padding-right: $s;
      padding-left: $s;
    }
    .gf-padding-bottom-large-xs {
      padding-bottom: $l;
    }
    .gf-m-l-16-xs {
      margin-left: $s;
    }
    .gf-padding-bottom-medium-xs {
      padding-bottom: $m;
    }
    .gf-padding-bottom-medium-sm {
      padding-bottom: $m;
    }
    .gf-padding-horizontal-small-sm {
      padding-right: $s;
      padding-left: $s;
    }
    .gf-padding-bottom-large-sm {
      padding-bottom: $l;
    }
    .gf-p-l-16-sm {
      padding-left: 16px;
    }
    .gf-p-l-16-xs {
      padding-left: 16px;
    }
    .gf-hidden-xs {
      display: none;
    }
  }
}
.gf-float-left {
  float: left;
}

.gf-text-center {
  text-align: center;
}
