<div class="TMO-GLOBAL-FOOTER-COMPONENT">
    <div class="gf-footer">
      <div class="gf-flex gf-padding-top-large gf-padding-bottom-large gf-container-md">
        <div class="gf-column-12 gf-padding-top-large gf-flex-md gf-justify-center-md">
          <div *ngFor="let list of linkArray;let i = index">
            <div class="gf-padding-horizontal-small-xs gf-padding-horizontal-small-sm" *ngIf="list.title" [ngClass]="{'gf-padding-bottom-large-xs gf-padding-bottom-large-sm gf-p-r-20-md gf-padding-right-xxxl-lg': (i < linkArray.length-1)}">
              <a routerLink="" tabindex="0" class="gf-links gf-inline-block gf-text-decoration-none" (mouseover)="changeIcons(i)" (mouseleave)="changeMagentaIcons(i)">
                <span class="{{list.image}} gf-float-left" [ngClass]="showIcons[i] ? 'list.magentaImage': list.magentaImage"></span>
                <span class="gf-display5 gf-black gf-p-l-16-xs gf-p-l-16-sm gf-padding-left-xsmall-md gf-text-decoration-none">{{list.title}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="gf-flex gf-container-md">
        <div class="gf-column-12 gf-padding-bottom-large gf-padding-bottom-medium-xs gf-padding-bottom-medium-sm">
          <div class="gf-full-bleed-divider"></div>
        </div>
      </div>
  
      <div class="gf-flex gf-container-md gf-no-padding-md">
        <div class="gf-column-6 gf-m-l-16-xs gf-column-offset-md-1 gf-padding-bottom-large-xs gf-padding-bottom-large-sm gf-p-b-26-md">
          <div class="gf-inline-flex-md gf-column-6-md gf-justify-center-md" *ngFor="let footer of footerArray; let i=index; let isOdd = odd" [ngClass]="{'gf-p-l-30-lg gf-p-l-40-xl': isOdd}">
            <div class="gf-column-12" *ngIf="i < 4" [ngClass]="{'gf-padding-bottom-medium': i < 3}">
              <a class="gf-eyebrow gf-text-decoration-none" routerLink="" tabindex="0">{{footer.link}}</a>
            </div>
          </div>
        </div>
        <div class="gf-column-6 gf-m-l-16-xs gf-column-offset-lg-1 gf-padding-bottom-large-xs gf-padding-bottom-large-sm gf-p-b-26-md">
          <div *ngFor="let footer of footerArray; let i=index; let isOdd = odd">
            <div class="gf-column-12 gf-column-6-md" *ngIf="i >= 4" [ngClass]="{'gf-padding-bottom-medium': i < footerArray.length-1, 'gf-p-l-30-lg gf-p-l-40-xl': isOdd}">
              <a class="gf-eyebrow gf-text-decoration-none" routerLink="" tabindex="0">{{footer.link}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="gf-flex gf-padding-bottom-large">
        <div class="gf-column-12 gf-text-center">
          <span class="gf-legal gf-black gf-cursor" tabindex="0" role="note" aria-label="copyright 2002-2018 T-Mobile USA, Inc">© 2002-2018 T-Mobile USA, Inc</span>
        </div>
      </div>
    </div>
  </div>
