<div class="TMO-HOME-REFILL-ACCOUNT-PAGE">
  <div class="tmo-content bg-color-gray">
    <div tmo-layout="container" class="container-sm" *ngIf='isDataLoaded'>
      <!-- Last login, Welcome & Notifications Section -->
      <div tmo-layout="grid gap-row-none"
        class="padding-top-xsmall padding-horizontal-small-xs padding-horizontal-small-sm" id="notifications-section">
        <div tmo-layout="12 10@md offset-2@md">
          <span class="legal" tabindex="0" [attr.aria-label]='"My phone number:" + accountData.phone'>My phone number:
            {{accountData.phone}} </span>
          <div tmo-layout="12 10@md offset-2@md"
            class="padding-vertical-large relative-position padding-top-medium-sm padding-top-medium-xs padding-bottom-medium-xs">
            <span class="display4" tabindex="0"
              [attr.aria-label]='"Welcome," + accountData.accountName'>Welcome, {{accountData.accountName}}</span>
            <span class="float-right d-inline-flex align-items-center cursor m-t-10-xs" tabindex="0"
              [attr.aria-label]='"You have "+accountData.notifications.length+" notifications. Click here to view them"'
              (keydown)="eventHandler($event)">
              <span class="notification-bounds" (keydown)="eventHandler($event)">
                <span
                  class="inline-block padding-right-base-sm relative-position bell-icon m-t-4 m-l-4 notification-down"
                  (keydown)="eventHandler($event)"
                  [ngClass]="{'notification-icon-magneta': accountData.notifications.length>0,'notification-icon-grey':accountData.notifications.length<=0 }">
                  <span class="notification-count legal-bold notification-down"
                    (keydown)="eventHandler($event)">{{accountData.notifications.length}}</span>
                </span>
              </span>
              <span class="body-copy padding-right-xsmall padding-left-xsmall padding-top-xsmall notification-down"
                tmo-layout="hide show@md" (keydown)="eventHandler($event)"> Notifications
              </span>
              <span class="arrow-down notification-down cursor m-l-xs m-t-xs" (keydown)="eventHandler($event)"></span>
            </span>
            <div class="relative-position">
              <div class="overlap float-right">
                <div class="notifications scroll-style search-menu"
                  [ngClass]="{'show-notifications ': showNotification,'show-notifications-out':!showNotification}">
                  <div class="text-right padding-bottom-small m-r-16 padding-top-xsmall relative-position">
                    <p class="d-inline-flex align-items-center" [tabindex]="showNotification?'0':'-1'"
                      [attr.aria-label]='"You have "+accountData.notifications.length+" notifications. Click here to close the notifications"'
                      (keydown)="eventHandler($event)">
                      <span tmo-layout="hide@md" class="mobile-notification-title h4-heading padding-top-xsmall"
                        *ngIf="showNotification">Notifications</span>
                      <span class="notification-bounds">
                        <span class="inline-block padding-right-base-sm relative-position bell-icon m-r-7 m-t-4"
                          [ngClass]="{'notification-icon-magneta': accountData.notifications.length>0,'notification-icon-grey':accountData.notifications.length<=0 }">
                          <span class="notification-count legal-bold">{{accountData.notifications.length}}</span>
                        </span>
                      </span>
                      <span class="body-copy padding-right-xsmall padding-left-xsmall padding-top-xsmall"
                        tmo-layout="hide show@md"> Notifications </span>
                      <span class="inline-block cursor arrow-up m-l-xs m-t-xs" (click)="closeNotification()"></span>
                    </p>
                  </div>
                  <div *ngIf="accountData.notifications.length<=0">
                    <p class="body-disabled text-center margin-auto padding-horizontal-medium padding-bottom-xxl padding-top-large"
                      [tabindex]="showNotification && accountData.notifications.length<=0? '0' : '-1'">At this time no
                      notifications exist for your account.</p>
                  </div>
                  <div *ngIf="accountData.notifications.length>0">
                    <div *ngFor="let notification of accountData['notifications']"
                      class="grid padding-vertical-xsmall notification-section d-flex align-items-center padding-horizontal-xsmall"
                      tabindex="-1" routerLink="">
                      <div class="padding-horizontal-xsmall padding-horizontal-small-xs" tmo-layout="12">
                        <span [tabindex]="showNotification?'0':'-1'"
                          [attr.aria-label]='notification.type=="error"?"error "+ notification.title :"warning "+ notification.title  '>
                          <span class="inline-block warning-info-icon"
                            [ngClass]="{'error': notification.type=='error', 'warning-icon':notification.type=='warning','info-icon':notification.type=='info', 'check-icon':notification.type=='check'}"></span>
                          <span
                            class="body-bold-link text-decoration-none word-break vertical-align-top">{{notification.title}}</span></span>
                        <br />
                        <span class="body-copy word-break" [tabindex]="showNotification?'0':'-1'"
                          [attr.aria-label]='notification.description '>{{notification.description}} </span>
                        <a class="legal brand-magenta text-decoration-underline white-space-nowrap cursor"
                          [tabindex]="notification.additionalLink?'0':'-1'"
                          [attr.aria-label]="notification.additionalLink +' link'"
                          routerLink="">{{notification.additionalLink}}</a>
                      </div>
                    </div>
                    <div class="text-center padding-bottom-small padding-top-xsmall padding-horizontal-small">
                      <button class="secondary-cta-accent secondary-cta-black font-14 full-btn-width btn-width-md"
                        appButtonripple [tabindex]="showNotification?'0':'-1'" aria-label="Click here to see all"> See
                        all</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End-->
      <!-- Balance & I want to Section -->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 5@md offset-2@md 6@lg offset-2@lg" class="bg-color-white">
          <div class="padding-top-small padding-horizontal-small padding-bottom-medium padding-bottom-small-sm padding-bottom-small-xs">
            <div class="vertical-align-middle padding-bottom-small">
              <span class="display6 black" tabindex="0" role="title" aria-label="My account"> My account </span>
            </div>
            <div tmo-layout="12" class="padding-bottom-small margin-horizontal-sm">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12">
              <div class="body-copy text-center">
                <span tabindex="0" aria-label="Account balance">Account balance</span>
              </div>
              <div class="display4 text-center padding-top-xsmall-xs padding-top-xsmall-sm">
                <span tabindex="0"
                  [attr.aria-label]='"$"+accountData.accountDetails[0].price +" "+ accountData.accountDetails[0].unit'>
                  <span>${{accountData.accountDetails[0].price}}</span>
                  <span class="vertical-align-top h6-heading text-bold margin-base">{{accountData.accountDetails[0].unit}}</span>
                </span>
              </div>
              <div tmo-layout="grid gap-column-none">
                <div tmo-layout="12 8@md offset-3@md 8@lg offset-3@lg" class="text-center padding-vertical-small">
                  <button class="secondary-cta secondary-cta-black txt-ellipsis no-padding full-btn-width"
                    appButtonripple aria-label='Click here to Refill account'>
                    Refill account</button>
                </div>
              </div>
              <div *ngFor="let details of accountData.accountDetails">
                <div class="padding-top-small" *ngIf="details.title">
                  <div class="body-copy inline-block" tabindex="0" [attr.aria-label]='details.title'> {{details.title}}
                  </div>
                  <div class="body-copy text-bold black inline-block float-right" tabindex="0"
                    [attr.aria-label]='details.val'>
                    {{details.val}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div tmo-layout="12" class="display-separator padding-bottom-small-xs padding-bottom-small-sm"></div>
        <div tmo-layout="12 5@md offset-7@md 4@lg offset-8@lg"
          class="bg-color-white margin-top-small-xs padding-top-small-sm">
          <div class="padding-top-small padding-bottom-medium padding-horizontal-small">
            <span class="display6 black" tabindex="0" role="title" aria-label="Shortcuts">Shortcuts</span>
            <div tmo-layout="12" class="padding-vertical-small margin-horizontal-sm">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12">
              <span class="body-copy" tabindex="0" aria-label="Binge On™">Binge On™</span>
              <div class="float-right">
                <span class="legal padding-horizontal-xsmall" *ngIf="onState">ON</span>
                <span class="legal padding-horizontal-xsmall" *ngIf="!onState">OFF</span>
                <span class="toggle relative-position">
                  <label class="switch">
                    <input type="checkbox" tabindex="-1" class="slider-btn" checked (click)="clickFun()">
                    <span class="slider round" (keydown.enter)="toggle()" aria-label="phone status on" role="switch"
                      tabindex="0"></span>
                  </label>
                </span>
              </div>
            </div>
            <div tmo-layout="12" class="padding-top-xsmall legal w-80">
              <span tabindex="0" aria-label="Lorem ipsum dolor sit amet, consect etur adipiscing elit.">Lorem ipsum
                dolor sit amet, consect
                etur adipiscing elit.
              </span>
            </div>
            <div tmo-layout="12" class="padding-vertical-small margin-horizontal-sm padding-horizontal-small-sm padding-horizontal-small-xs">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12">
              <div [ngClass]="{'padding-top-small': i!= 0}"
                *ngFor="let details of accountData['iWantToList'];let i=index ">
                <div class="d-flex-xs">
                  <img src="{{details.image}}" class="imgWidth" alt="{{details.description}}" tabindex="0">
                  <a class="font-14 bold font-tele-fet text-transform-none padding-left-xsmall vertical-align-middle text-decoration-none position-absolute-md p-t-5 padding-top-base-xs padding-bottom-base-xs padding-top-base-sm padding-bottom-base-sm"
                    routerLink={{details.url}}
                    [attr.aria-label]='"click here to"+ details.description'>{{details.description}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End --> <!-- My Line Section -->
      <div tmo-layout="grid gap-none" [ngClass]="{'padding-vertical-large padding-vertical-small-xs padding-vertical-small-sm': accountData.myLineDetails.upgradeEarly , 'padding-top-large padding-bottom-large padding-top-small-xs padding-bottom-small-xs padding-bottom-small-sm padding-top-small-sm': !accountData.myLineDetails.upgradeEarly}">
        <div tmo-layout="12 10@md offset-2@md" class="bg-color-white padding-top-small p-b-20 padding-horizontal-small">
          <span class="display6" tabindex="0" [attr.aria-label]='accountData.myLineDetails.title' role="title">{{accountData.myLineDetails.title}}</span>
          <span class="body-copy padding-left-xsmall" tabindex="0" [attr.aria-label]='accountData.myLineDetails.number'>{{accountData.myLineDetails.number}}</span>
          
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="bg-color-white padding-horizontal-small-md padding-horizontal-small-lg padding-horizontal-small-xl">
          <div class="inset-divider-1px"></div>
        </div>
        <div tmo-layout="12 3@md offset-2@md" class="bg-color-white padding-top-medium text-center padding-bottom-medium padding-bottom-large-xs padding-bottom-large-sm">
            <div>
            <img [src]="accountData.myLineDetails.image" alt="phone image" class="paddiing-top-small-xs padding-top-small-md img-desktop"
              tabindex="0" />
          </div>
        </div>
        <div tmo-layout="12 7@md" class="bg-color-white padding-horizontal-small-xs padding-horizontal-small-sm ">
          <div *ngFor="let data of accountData.myLineDetails.data; let i=index;" class="padding-right-small">
            <div tmo-layout="grid" class="align-items-center cursor" [ngClass]="{'padding-vertical-small': i !== 0, 'padding-bottom-small padding-top-small-md padding-top-small-lg padding-top-small-xl': i === 0}">
              <div tmo-layout="11 10@md">
                <span class="body-copy black" tabindex="0" [attr.aria-label] = 'data.title' >{{data.title}}</span><span *ngIf="i !== 0">:</span> <span *ngIf="data.subtitle" tabindex="0" [attr.aria-label] = 'data.subtitle'>{{data.subtitle}}</span>
                <br *ngIf="data.change" class="d-none visible-xs"/><span [ngClass]="{'padding-left-xsmall': !data.change}" class="legal padding-vertical-xsmall" tabindex="0" [attr.aria-label]='data.description'>{{data.description}}</span>
              </div>
              <div tmo-layout="1 2@md " >           
                <div class="d-flex float-right">                  
                  <span class="arrow-right float-right" tabindex="0" aria-label="click for more details" *ngIf="data.expand"></span>
                </div>
              </div>
            </div>
             <div class="inset-divider-1px" *ngIf="i != accountData.myLineDetails.data.length-1"></div>
          </div>
        </div>
      </div>   
          <!--End -->
    </div>
  </div>
</div>
