@import "src/assets/scss/global-variables.scss";
$smartphones-xs-sm: "only screen and (min-width: 375px) and (max-width: 767px)";
.TMO-HOME-REFILL-ACCOUNT-PAGE {
  .primary-cta:hover,
  .primary-cta:active,
  .primary-cta:active::after {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px !important;
  }
  .font-14 {
    font-size: 14px !important;
  }
  /* notification style start*/
  .overlap {
    position: absolute;
    z-index: 1;
    background: $white;
    width: 100%;
    display: block;
    width: 336px;
    top: -46px;
    right: -$s;
  }
  .mobile-notification-title {
    position: absolute;
    top: 10px;
    left: $m;
  }
  .word-break {
    word-break: break-word;
  }
  @media #{$smartphones-sm} {
    .overlap {
      top: -30px;
    }
  }
  @media #{$smartphones-xs} {
    .overlap {
      top: -30px;
      width: 359px;
    }
    .m-t-10-xs {
      margin-top: -10px;
    }
  }
  @media #{$smartphones-xxs} {
    .overlap {
      top: -30px;
      width: 305px;
    }
  }
  .notifications {
    overflow-y: hidden;
    opacity: 0;
    transition: all 300ms;
    z-index: -1;
  }
  .show-notifications {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
    overflow-y: auto;
    max-height: 405px;
    transition: max-height 0.4s;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    display: block;
  }
  .show-notifications-out {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
    overflow-y: hidden;
    padding-top: $zero;
    max-height: 0px;
    transition: max-height 0.4s, padding-top 0.4s;
    -webkit-transition: max-height 0.4s, padding-top 0.4s;
    -moz-transition: max-height 0.4s, padding-top 0.4s;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    display: none;
  }
  .padding-right-base-sm {
    padding-right: $base;
  }
  .m-r-16 {
    margin-right: $s;
  }
  .m-t-xs {
    margin-top: $xs;
  }
  .notification-count {
    color: $white;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .bell-icon {
    display: inline-table;
    transform: scale(1.1);
    width: 16px;
  }
  .warning-info-icon {
    width: 20px;
    height: 20px;
  }
  .warning-info-icon.error {
    width: 21px;
    height: 18px;
  }
  .notification-section {
    cursor: context-menu;
    &:hover {
      background-color: $gray10;
    }
  }
  /* notification style ends */
  /*  balance and i want section starts */
  .font-tele-fet {
    font-family: $tele-grotesk-fet;
  }
  .vertical-align-top {
    vertical-align: top;
  }
  .text-transform-none {
    text-transform: none;
  }
  @media #{$smartphones-sm}, #{$smartphones-xs} {
    .container-sm {
      max-width: 100%;
    }
    .margin-horizontal-sm {
      margin-left: -16px;
      margin-right: -16px;
    }
    .d-flex-xs {
      display: flex;
    }
    .m-l-xs {
      margin-left: $xs;
    }
    .display-separator{
      display: block;
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    .position-absolute-md {
      position: absolute;
    }
    .p-t-5 {
      padding-top: 5px;
    }
    .btn-width-md {
      width: 100%;
    }
  }
  .imgWidth {
    width: 24px;
    height: 24px;
  }
  .body-bold-link:hover {
    color: $black;
  }
  .slider {
    z-index: 0;
  }
  .toggle {
    top: 3px;
  }
  .w-80{
    width:80%;
  }
  .margin-base{
    margin-left:-4px;
  }
  
// My line starts
@media #{$smartphones-xs-sm} {
  .m-t-2-sm {
    margin-top: 2px;
  }
  .display-separator{
    display: block;
  }
}
.validation-outline-green {
  height: 20px;
  width: 20px;
}
.justify-content-center {
  justify-content: center;
}
@media #{$alldeviceexceptsmartphone} {
  .padding-right-small {
    padding-right: $s;
  }
  .padding-horizontal-46{
    padding-left: 46px;
    padding-right: 46px;
  }
  .d-flex-md {
    display: flex;
  }
  .padding-left-xsmall-md {
    padding-left: $xs;
  }
  .position-absolute-md {
    position: absolute; 
  }
  .m-t-7-md {
    margin-top: 7px;
  }
  .display-separator{
    display: none;
  }
}
.font-italic {
  font-style: italic;
}
.p-b-20{
  padding-bottom: 20px;
}
@media #{$tablets-md} {
.btn-style{
    width: 147px;
    font-size: 14px;
    padding-right: 8px;
    padding-left: 8px;
}
}
//my line ends
}
