@import "src/assets/scss/global-variables.scss";
.TMO-HEADER-COMPONENT {
.header {
    background-color: $white;
    height: 57px;
}

.arrow-size {
    font-size: 22px;
    color: $black;   
    cursor: $pointer;
}

.icon-size {
    height: 20px;
    width: 20px;
}

.phone-size {
    font-size: 22px;
    color: $black;
}
.header-border {
  box-shadow:  0px 2px 1px -2px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px #dddddd;
  }
}