<div *ngIf= "commonService.visibleHeader" class="TMO-HEADER-COMPONENT">
  <div tmo-layout="container">
    <div tmo-layout="grid" class="padding-top-small header-border header ">
      <div tmo-layout="4">
        <span class=" float-left arrow-size arrow-back" (click)="gotopreviouspage()" aria-hidden="true"></span>
      </div>
      <div  tmo-layout="4" class="text-center">
        <img src="assets/img/png/tmo-logo.png" class="icon-size">
      </div>
      <div tmo-layout="4">
        <i class="fa fa-phone  float-right phone-size cursor" aria-hidden="true" (click)="contactUs()"></i>
      </div>
    </div>
  </div>
</div>
