@import "src/assets/scss/global-variables.scss";
.TMO-MAXIMUM-ATTEMPTS {
    .img-height {
      width: 142px;
      height: 120px;
    }
    .hidden {
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;
   } 
    @media #{$smartphones-xs},#{$smartphones-sm} {
      .main-content {
        min-height: calc(100vh - 97px);
      }
      .img-height {
        width: 130px;
        height: 109px;
      }
      .text-left-sm {
        text-align: left; 
      } 
    }
}