<div class="TMO-MAXIMUM-ATTEMPTS">
  <div tmo-layout="container">
    <!--<div class="main-content">-->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12" class="no-padding padding-top-large text-center">
          <!-- <p class="hidden">error image</p> -->
          <img src="./assets/img/svg/icons/error-icon.svg" class="img-height" role="img" aria-label="error icon" tabindex="0">
        </div>
        <div tmo-layout="12" class="display3 padding-top-medium text-center" tabindex="0" [attr.aria-label]="detailsObject.title">{{detailsObject.title}}</div>
        <div tmo-layout="12 10@md offset-2@md" class="body-copy padding-top-medium text-center text-left-sm">
          <div tabindex="0" [attr.aria-label]="detailsObject.content">{{detailsObject.content}} </div>
        </div>
      </div>
   <!-- </div>-->
    <div tmo-layout="grid">
      <div tmo-layout="4@md offset-5@md" class="text-center padding-top-medium padding-bottom-large padding-bottom-medium-xs padding-bottom-medium-sm">
        <button appButtonripple class="primary-cta full-btn-width w-100" role="button" tabindex="0" aria-label="click on CTA text goes here">CTA text goes here</button>
      </div>
    </div>
  </div>
</div>