<div class="TMO-HOME-TMO-HOME-PAGE-PREPAID">
  <div class="tmo-content bg-color-gray">
    <!--<app-global-header></app-global-header>-->
    <app-notification tabindex="0" aria-label='Warning Your account is past due. Pay now to avoid fees. Pay Now link. Click here to make a payment'
      *ngIf="showAlert && isDataLoaded && (homePageData.accountBalance[0].alertInfo | json) !== isEmptyObject"
      (callBackCloseAlert)="closeAlert($event)" (keydown)="closeAlert($event)" alertIcon="warning-outline-white"
      [alertDesc]="homePageData.accountBalance[0].alertInfo.title" [alertSubDesc]="homePageData.accountBalance[0].alertInfo.description"
      [alertSubDescLink]="homePageData.accountBalance[0].alertInfo.descriptionLink" backgroundColor="#e8200d"
      alertResolveURL="">
    </app-notification>
    <div tmo-layout="container" class="container-sm" *ngIf='isDataLoaded' [ngClass]="{'slide-content':!showAlert}">
      <!-- Last login, Welcome & Notifications Section -->
      <div tmo-layout="grid gap-row-none" class="padding-top-xsmall padding-horizontal-small-xs padding-horizontal-small-sm"
        id="notifications-section">
        <div tmo-layout="12 10@md offset-2@md">
          <span class="legal f-size10" tabindex="0" [attr.aria-label]='"My
          Phone number" + homePageData.phoneNumber'>My
            Phone number {{homePageData.phoneNumber}} </span>
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="padding-vertical-large relative-position padding-top-medium-sm padding-top-medium-xs padding-bottom-medium-xs">
          <span class="display4" tabindex="0" role="heading" [attr.aria-label]='"Welcome," + homePageData.accountName'>Welcome,
            {{homePageData.accountName}}</span>
          <span class="float-right d-inline-flex align-items-center cursor m-t--10-xs" tabindex="0" [attr.aria-label]='"You have "+homePageData.notifications.length+" notifications. Click here to view them"'
            (click)="openNotification()" (keydown)="eventHandler($event)">
            <span class="notification-bounds" (click)="openNotification()" (keydown)="eventHandler($event)">
              <span class="inline-block padding-right-base-sm relative-position bell-icon m-t-4 m-l-4 notification-down"
                (click)="openNotification()" (keydown)="eventHandler($event)" [ngClass]="{'notification-icon-magneta': homePageData.notifications.length>0,'notification-icon-grey':homePageData.notifications.length<=0 }">
                <span class="notification-count legal-bold notification-down" (click)="openNotification()" (keydown)="eventHandler($event)">{{homePageData.notifications.length}}</span>
              </span>
            </span>
            <span class="body-copy padding-right-xsmall padding-left-xsmall padding-top-xsmall notification-down"
              tmo-layout="hide show@md" (click)="openNotification()" (keydown)="eventHandler($event)"> Notifications
            </span>
            <span class="arrow-down notification-down m-l-xs m-t-xs" (click)="openNotification()" (keydown)="eventHandler($event)"></span>
          </span>
          <div class="relative-position">
            <div class="overlap float-right">
              <div class="notifications scroll-style search-menu" [ngClass]="{'show-notifications ': showNotification,'show-notifications-out':!showNotification}">
                <div class="text-right padding-bottom-small m-r-16 padding-top-xsmall relative-position">
                  <p class="d-inline-flex align-items-center" [tabindex]="showNotification?'0':'-1'" [attr.aria-label]='"You have "+homePageData.notifications.length+" notifications. Click here to close the notifications"'
                    (click)="openNotification()" (keydown)="eventHandler($event)">
                    <span tmo-layout="hide@md" class="mobile-notification-title h4-heading padding-top-xsmall" *ngIf="showNotification">Notifications</span>
                    <span class="notification-bounds">
                      <span class="inline-block padding-right-base-sm relative-position bell-icon m-r-7 m-t-4"
                        [ngClass]="{'notification-icon-magneta': homePageData.notifications.length>0,'notification-icon-grey':homePageData.notifications.length<=0 }">
                        <span class="notification-count legal-bold">{{homePageData.notifications.length}}</span>
                      </span>
                    </span>
                    <span class="body-copy padding-right-xsmall padding-left-xsmall padding-top-xsmall" tmo-layout="hide show@md">
                      Notifications </span>
                    <span class="inline-block cursor arrow-up m-l-xs m-t-xs" (click)="closeNotification()"></span>
                  </p>
                </div>
                <div *ngIf="homePageData.notifications.length<=0">
                  <p class="body-disabled text-center margin-auto padding-horizontal-medium padding-bottom-xxl padding-top-large"
                    [tabindex]="showNotification && homePageData.notifications.length<=0? '0' : '-1'">At this time no
                    notifications exist for your account.</p>
                </div>
                <div *ngIf="homePageData.notifications.length>0">
                  <div *ngFor="let notification of homePageData['notifications']" class="grid padding-vertical-xsmall notification-section d-flex align-items-center padding-horizontal-xsmall"
                    tabindex="-1" routerLink="">
                    <div class="padding-horizontal-xsmall padding-horizontal-small-xs" tmo-layout="12">
                      <span [tabindex]="showNotification?'0':'-1'" [attr.aria-label]='notification.type=="error"?"error "+ notification.title :"warning "+ notification.title  '>
                        <span class="inline-block warning-info-icon" [ngClass]="{'error': notification.type=='error', 'warning-icon':notification.type=='warning','info-icon':notification.type=='info', 'check-icon':notification.type=='check'}"></span>
                        <span class="body-bold-link text-decoration-none word-break vertical-align-top">{{notification.title}}</span></span>
                      <br />
                      <span class="body-copy word-break" [tabindex]="showNotification?'0':'-1'" [attr.aria-label]='notification.description '>{{notification.description}}
                      </span>
                      <span class="legal brand-magenta text-decoration-underline white-space-nowrap cursor" [tabindex]="notification.additionalLink?'0':'-1'"
                        [attr.aria-label]="notification.additionalLink +' link'">{{notification.additionalLink}}</span>
                    </div>
                  </div>
                  <div class="text-center padding-bottom-small padding-top-xsmall padding-horizontal-small">
                    <button class="secondary-cta-accent secondary-cta-black font-14 full-btn-width" appButtonripple
                      [tabindex]="showNotification?'0':'-1'" aria-label="Click here to see all"> See all</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End-->
      <!-- Balance & I want to Section -->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 5@md offset-2@md 6@lg offset-2@lg" class="bg-color-white">
          <div class="padding-vertical-small padding-horizontal-small padding-bottom-medium-xs">
            <div class="vertical-align-middle padding-bottom-small">
              <span class="display6 black" tabindex="0" aria-label="My account"
              role="title">My account</span>
             
            </div>
            <div tmo-layout="12" class="padding-bottom-small margin-horizontal-sm">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12" class="padding-bottom-xsmall">

              <div class="text-center" *ngIf="isPaymentDue">
                
                <div class="body-copy padding-top-xsmall text-center">
                  <span tabindex="0" aria-label="Account Balance">Account Balance</span>
                </div>
              </div>
              <div class="display4 text-center" [ngClass]="{'padding-top-xsmall': !isPaymentDue }">
                <span tabindex="0" [attr.aria-label]='"$"+homePageData.accountBalance[0].price +" "+ homePageData.accountBalance[0].unit'>
                  <span>${{homePageData.accountBalance[0].price}}</span>
                  <span class="vertical-align-top h6-heading text-bold">{{homePageData.accountBalance[0].unit}}</span>
                </span>
              </div>
              <div class="text-center padding-vertical-small" *ngIf="homePageData.accountBalance[0].price != 0 && homePageData.accountBalance[0].autopayDetails.length !== 0">
                  <div class="legal">
                    <a class="black" href="/">Autopay</a> <span tabindex="0" [attr.aria-label]='"scheduled for" + homePageData.accountBalance[0].autopayDetails[0].scheduleDate'>scheduled for {{homePageData.accountBalance[0].autopayDetails[0].scheduleDate}} </span></div>
                  <div class="legal padding-top-xsmall"><span tabindex="0" [attr.aria-label]='"VISA" +homePageData.accountBalance[0].autopayDetails[0].visaNumber'> VISA {{homePageData.accountBalance[0].autopayDetails[0].visaNumber}} </span></div>
                </div>
               <div tmo-layout="grid gap-column-none">
                <div tmo-layout="12 4@md offset-5@md 4@lg offset-5@lg" class="text-center padding-top-small-sm padding-top-small-xs padding-top-small">
                  <button class="full-btn-width"
                   [ngClass]="{'secondary-cta secondary-cta-black txt-ellipsis no-padding': homePageData.accountBalance[0].accountInfo[0].accountLink != 'Primary', 'primary-cta': (homePageData.accountBalance[0].accountInfo[0].accountLink == 'Primary' )} "
                    appButtonripple aria-label='Click here to Refill account'>
                    Refill account</button>
                </div>
              </div>
             <div class="body-copy padding-top-small">
               <p *ngFor="let accountDetails of homePageData.accountBalance[0].accountInfo" class="padding-top-small">
                <span class="d-inline-flex align-items-center"><span *ngIf="accountDetails.description=='Low funds'" class="inline-block error" tabindex="0" aria-label="warning icon"></span> 
                <span [ngClass]="{'padding-left-xsmall':(accountDetails.description=='Low funds')}" tabindex="0" [attr.aria-label]="accountDetails.title">{{accountDetails.title}}</span>
              </span>
                <span class="pull-right black text-bold" tabindex="0" [attr.aria-label]="accountDetails.description">{{accountDetails.description}}</span>
               </p>
             </div>
            </div>
          </div>
        </div>
        <div tmo-layout="12 5@md offset-7@md 4@lg offset-8@lg" class="bg-color-white margin-top-small-xs padding-top-small-sm">
          <div class="padding-vertical-small padding-horizontal-small">
            <span class="display6 black" tabindex="0" role="title" aria-label="Shortcuts">Shortcuts</span>

            <div tmo-layout="12" class="padding-top-small padding-bottom-xsmall margin-horizontal-sm">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="grid gap-column-none" class="body-copy padding-top-small" *ngIf="bingeOn">
              <div tmo-layout="9"><p ><span tabindex="0" aria-label="Binge on trademarked">Binge on&trade;</span></p>
              <p class="legal f-size10 padding-top-xsmall"><span tabindex="0" aria-label="lorem ipsum dolor sit amet, cosnect etur adipiscing elit">lorem ipsum dolor sit amet, cosnect etur adipiscing elit</span></p></div>
              <div tmo-layout="3"> 
                  <p class="d-flex align-items-center pull-right"><span class="legal padding-left-xsmall p-t-2" *ngIf="onState">ON</span>
                  <span class="legal padding-left-xsmall p-t-2" *ngIf="!onState">OFF</span>
                <span class="checkbox margin-left-medium-m margin-right-xsmall-m relative-position top-3 padding-left-xsmall">
                <label class="switch">
                  <input type="checkbox" tabindex="-1" class="slider-btn" checked    (click)="clickBinge()">
                  <span class="slider round"  (keydown.enter)="toggle()" aria-label="phone status on" role="switch"  tabindex="0"></span>
                </label>
              </span></p></div>
            
            </div>
            <div tmo-layout="12" class="padding-top-small margin-horizontal-sm" *ngIf="bingeOn">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12" class="padding-top-medium">
              <div [ngClass]="{'padding-top-small': i!= 0}" *ngFor="let details of homePageData['shortcuts'];let i=index ">
                <div class="d-flex-sm">
                  <!-- *ngIf="homePageData.paymentDetails.length !== 0 && i != 0" -->
                  <img src="{{details.image}}" alt="{{details.description}}" tabindex="0">
                  <a class="font-14 bold font-tele-fet text-transform-none brand-magenta padding-left-xsmall vertical-align-middle text-decoration-none position-absolute-md p-t-5-md padding-top-base-xs padding-bottom-base-xs padding-top-base-sm padding-bottom-base-sm padding-top-base-md padding-bottom-base-md"
                    routerLink={{details.url}} [attr.aria-label]='"click here to"+ details.description'>{{details.description}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End -->
      <!-- My Line Section -->
      <div tmo-layout="grid gap-none" [ngClass]="{'padding-vertical-large padding-vertical-small-xs padding-vertical-small-sm': homePageData.myLineDetails.upgradeEarly , 'padding-top-large padding-bottom-large padding-top-small-xs padding-bottom-small-xs padding-bottom-small-sm padding-top-small-sm': !homePageData.myLineDetails.upgradeEarly}">
        <div tmo-layout="12 10@md offset-2@md" class="bg-color-white padding-top-small p-b-20 padding-horizontal-small">
          <span class="display6" tabindex="0" [attr.aria-label]='homePageData.myLineDetails.title' role="title">{{homePageData.myLineDetails.title}}</span>
          <span class="body-copy padding-left-xsmall" tabindex="0" [attr.aria-label]='homePageData.myLineDetails.number'>{{homePageData.myLineDetails.number}}</span>
          
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="bg-color-white padding-horizontal-small-md padding-horizontal-small-lg padding-horizontal-small-xl">
          <div class="inset-divider-1px"></div>
        </div>
        <div tmo-layout="12 3@md offset-2@md" class="bg-color-white padding-top-medium text-center padding-bottom-medium padding-bottom-large-xs padding-bottom-large-sm">
            <div>
            <img [src]="homePageData.myLineDetails.image" alt="phone image" class="paddiing-top-small-xs padding-top-small-md img-desktop"
              tabindex="0" />
          </div>
        </div>
        <div tmo-layout="12 7@md" class="bg-color-white padding-horizontal-small-xs padding-horizontal-small-sm ">
          <div *ngFor="let data of homePageData.myLineDetails.data; let i=index;" class="padding-right-small">
            <div tmo-layout="grid" class="align-items-center cursor" [ngClass]="{'padding-vertical-small': i !== 0, 'padding-bottom-small padding-top-small-md padding-top-small-lg padding-top-small-xl': i === 0}">
              
              <div tmo-layout="7 8@md" *ngIf="data.change">
                <span class="body-copy black" tabindex="0" [attr.aria-label] = 'data.title' >{{data.title}}<span *ngIf="i !== 0">:</span> <span tabindex="0" [attr.aria-label] = 'data.subtitle'>{{data.subtitle}}</span></span>
                <br *ngIf="data.change" class="d-none visible-xs"/><span [ngClass]="{'padding-left-xsmall': !data.change}" class="legal padding-vertical-xsmall" tabindex="0" [attr.aria-label]='data.description'>{{data.description}}</span>
              </div>
              <div tmo-layout="11 10@md" *ngIf="!data.change">
                <span class="body-copy black" tabindex="0" [attr.aria-label] = 'data.title' >{{data.title}}<span *ngIf="i !== 0">:</span> <span tabindex="0" [attr.aria-label] = 'data.subtitle'>{{data.subtitle}}</span></span>
                <br *ngIf="data.change" class="d-none visible-xs"/><span [ngClass]="{'padding-left-xsmall': !data.change}" class="legal padding-vertical-xsmall" tabindex="0" [attr.aria-label]='data.description'>{{data.description}}</span>
              </div>

              <div tmo-layout="5 4@md " *ngIf="data.change">           
                <div class="d-flex float-right">
                  <span class="sectional-link d-inline-flex p-t-5 float-right" *ngIf="data.change" tabindex="0" aria-label="change pending">CHANGE PENDING</span>
                  <span class="arrow-right float-right" tabindex="0" aria-label="click for more details" *ngIf="data.expand"></span>
                </div>
              </div>
              <div tmo-layout="1 2@md " *ngIf="!data.change">           
                <div class="d-flex float-right">
                  <span class="arrow-right float-right" tabindex="0" aria-label="click for more details" *ngIf="data.expand"></span>
                </div>
              </div>

            </div>
             <div class="inset-divider-1px" *ngIf="i != homePageData.myLineDetails.data.length-1"></div>
          </div>
        </div>
      </div>   
    </div>
  </div>
  <!-- <app-global-footer></app-global-footer> -->
</div>
