@import "src/assets/scss/global-variables.scss";
.TMO-STYLEGUIDE-BREADCRUMB {
  .breadcrumb-item + .breadcrumb-item::before { 
    content: ' \003E'; 
    } 
  .breadcrumb { 
    background: $white; 
    padding: .75rem 1rem 0;
      margin-bottom: 0;
    } 
  .breadcrumb-item.active { 
    color: $brand-magenta; 
    } 
  .breadcrumb li a { 
    color: $black; 
    text-decoration: none; 
    } 
    .breadcrumb li a:hover { 
      text-decoration: underline; 
      } 
  .breadcrumb { 
    border-radius: 0.25rem; 
    display: flex; 
    flex-wrap: wrap; 
    list-style: none; 
    margin-bottom: 0; 
    margin-top: 5px; 
    padding-left: 0px;
    padding-right: 1rem;
    } 
  .breadcrumb-item + .breadcrumb-item { 
    padding-left: 0.5rem; 
    } 
    .breadcrumb-item + .breadcrumb-item::before {
      color: $gray60; 
      display: inline-block;
      padding-right: 0.5rem;
        
    }
} 