<div class="TMO-STYLEGUIDE-BREADCRUMB">
  <div tmo-layout="container" *ngIf="commonService.visibleBreadcrumb">
    <div tmo-layout="grid gap-none">
      <div tmo-layout="12 10@lg offset-2@lg 10@md offset-2@md">
        <ol class="padding-top-large padding-top-medium-xs padding-top-medium-sm breadcrumb" *ngIf="currentbreadcrumbpath?.length > 0">
          <li class="breadcrumb-item"   *ngFor="let breadcrumb of currentbreadcrumbpath;let last=last;let index=index">
            <a *ngIf="!last"  tabindex="0" routerLink="{{ breadcrumb.url}}" class="text-black">{{currentpath[index]}}</a>
            <span *ngIf="last"  tabindex="0"  class="breadcrumb-item active">{{currentpath[index]}}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>