<div class="TMO-SUCCESS-STATUS">
  <div tmo-layout="container">
    <!--<div class="main-content">-->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12" class="no-padding padding-top-large text-center">
            <!-- <p class="hidden">success image</p> -->
          <img src="./assets/img/svg/icons/fixed-icon.svg" class="img-height" role="img" tabindex="0" aria-label="success image" alt="success image">
        </div>
      </div>
      <div tmo-layout="grid gap-row-none" *ngFor="let info of detailsArray">
        <div tmo-layout="12" class="display3 padding-top-medium text-center">
          <div tabindex="0" [attr.aria-label]="'Success headline goes here'">Success headline goes here </div>
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="body-copy padding-top-medium text-center text-left-sm">
          <div tabindex="0" [attr.aria-label]="'Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here.'">
            Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here. Success copy goes here.</div>
        </div>
      </div>
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12" class="text-center padding-top-large padding-top-medium-xs padding-top-medium-sm" *ngIf="successFromResubmit">
          <div class="body-bold black" tabindex="0" aria-label="Number of attempts message goes here in bold.">
            Number of attempts message goes here in bold.</div>
        </div>
      </div>
    <!--</div>-->
    <div tmo-layout="grid gap-row-none">
      <div tmo-layout="12 4@md offset-5@md" class="text-center padding-top-large padding-bottom-xl padding-vertical-medium-xs padding-vertical-medium-sm">
        <button role="button" class="secondary-cta secondary-cta-black txt-ellipsis w-100 no-padding" 
         tabindex="0" aria-label="click on Button CTA goes here"
          appButtonripple>
          CTA text goes here</button>
      </div>
    </div>
  </div>
</div>