@import "src/assets/scss/global-variables.scss";
.TMO-SUCCESS-STATUS {
    .hidden {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
     } 
     
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .img-height {
            height: 109px;
            width: 130px;
        } 
        .text-left-sm {
            text-align: left; 
          }         
    }
    .cursor:hover {
        color:$brand-magenta;
    }
    @media #{$smartphones-xs},#{$smartphones-sm} {
        .main-content {
          min-height: calc(100vh - 97px);
        }
    }   
}