<div class="TMO-REFILL-INPUT">
  <div class="tmo-content bg-color-gray">
    <div tmo-layout="container" class="container-sm">
      <form #myForm="ngForm">
        <div tmo-layout="grid gap-none" *ngIf="isDataLoaded" class="padding-top-xsmall padding-bottom-large">
          <div tmo-layout="12 10@lg offset-2@lg" class="padding-horizontal-small-xs padding-horizontal-small-sm">
            <span class="legal f-size10" tabindex="0" aria-label="My phone number: (360) 998-9183">My phone
                number: {{refillData.phone}}</span>
          </div>
            <div tmo-layout="12 10@lg offset-2@lg"
                class="padding-vertical-large relative-position padding-top-medium-sm padding-top-medium-xs padding-bottom-medium-xs padding-bottom-medium-sm padding-horizontal-small-xs padding-horizontal-small-sm">
                <span class="display4" tabindex="0" aria-label="Refill account">Refill account</span>
            </div>
              <div tmo-layout="12 10@lg offset-2@lg"
              class="bg-color-white padding-vertical-20-md padding-horizontal-small ">
              <div tmo-layout="grid gap-row-none">
                  <span tmo-layout="4@md" class="text-center-md text-center-lg text-center-xl padding-vertical-small padding-bottom-medium-xs padding-bottom-medium-sm" *ngFor="let data of refillData.refillAccountDetails; let i=index"
                  [ngClass]="{'border-right-grey-md border-bottom-grey-xs':i!= refillData.refillAccountDetails.length-1}">
                      <p><span class="body-copy black text-bold font-size-16-xs" tabindex="0"
                          [attr.aria-label]="data.title">{{data.title}}</span></p>
                      <p class="padding-top-12 p-r-4">
                          <span class="body-copy gray70 font-size-16-xs" tabindex="0" [attr.aria-label]="data.val" [ngClass]="{'text-bold':data.title=='Auto refill'}">{{data.val}}</span>
                          <span class="padding-left-xsmall d-inline-flex" role="link"
                          aria-label="View/Edit" tabindex="0" *ngIf="data.title=='Auto refill'">
                              <span><a class="body-copy brand-magenta text-bold text-decoration-none height-auto cursor sectional-link font-size-16-xs">View/Edit</a></span>
                          <span class="arrow-right-magenta"></span></span>
                      </p>
                  </span>
              </div>
          </div>
            <div class="bg-color-white padding-vertical-small p-b-20 padding-horizontal-small margin-top-large margin-top-small" tmo-layout="12 10@lg offset-2@lg">
              <p class="disp-without-line-break"><span class="display6" tabindex="0" aria-label="fund your account">Fund your account: </span><span class="body-copy" tabindex="0" aria-label="Refill with a prepaid card"> Refill with a prepaid card</span></p>
              <div class="disp-line-break"><p class="display6 padding-bottom-xsmall-sm padding-bottom-xsmall-xs" tabindex="0" aria-label="fund your account">Fund your account: </p><p class="body-copy" tabindex="0" aria-label="Refill with a prepaid card"> Refill with a prepaid card</p></div>
            </div>
            <div tmo-layout="12 10@lg offset-2@lg" class="bg-color-white padding-horizontal-small-md padding-horizontal-small-lg padding-horizontal-small-xl">
                <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12 4@md 3@lg offset-2@lg" class="bg-color-white padding-top-small text-center padding-bottom-medium">
                <div>
                  <img src="assets/img/refill/PIN_Image.png" alt="Refill image" class="padding-top-small-md padding-top-small-lg padding-top-small-xl" tabindex="0"/>
                </div>
            </div>
            <div tmo-layout="12 8@md 7@lg" class="bg-color-white padding-horizontal-small padding-horizontal-small-sm">
              <div class="padding-top-large-md padding-top-large-lg padding-top-large-xl">
                <div class="no-padding textfield">
                  <input type="text" aria-label="Enter your Refill card number" id="accountNumber" minlength='14' maxlength='14' name="accountNumber" appCustomformat
                  format="creditCardNumberFormat" class="input body-copy black" [(ngModel)]="pinNumber" required #accountNumber="ngModel">
                   <label aria-hidden="true" for="accountNumber" class="pointer-none" [ngClass]="[(accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required && accountNumber != '' ) ? 'legal red label-focus label-invalid' : '',
                   (!accountNumber.invalid )   ? 'legal black' : '',
                   (!accountNumber.valid &&!accountNumber.pristine  && accountNumber.value  != '')   ? 'legal red' : '',
                   ( accountNumber.errors?.required ) ? 'body-copy' : '']">Refill card number (PIN)</label>
                <div class="input-animation"></div>
                 
              </div>
                <div class="error-message-top">
                    <span tmo-layout="10 3@md offset-5@md" class="legal red text-left errormessage mb-0 font-12" *ngIf="(accountNumber.errors?.required && accountNumber.touched && accountNumber.invalid && accountNumber.value != '') || (accountNumber.errors?.pattern || accountNumber.errors?.minlength)"
                      tabindex="0" aria-label="The refill card PIN entered is invalid. Please try again.">
                      The refill card PIN entered is invalid. Please try again.
                    </span>
                    <span tmo-layout="2 1@md offset-8@md" class="pull-right icon-margin-left" *ngIf="(accountNumber.errors?.required && accountNumber.touched && accountNumber.invalid && accountNumber.value != '') || (accountNumber.errors?.pattern || accountNumber.errors?.minlength)">
                      <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
                    </span>
                    <span tmo-layout="10 3@md offset-5@md" class="legal font-12 text-left errormessage padding-top-xsmall mb-0" *ngIf="accountNumber.valid"
                    tabindex="0" aria-label=" the full value of your card will be applied to your account">
                    the full value of your card will be applied to your account
                  </span>
                </div>
              </div>

              <div class="d-flex p-t-2" tmo-layout="grid gap-none">
                  <div tmo-layout="12 4@md 3@lg" class="padding-right-xsmall-md padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm">
                      <button tabindex="0" 
                        appButtonripple class="primary-cta full-btn-width w-100" aria-label="Submit">Submit</button>
                    </div>
              <div tmo-layout="12 4@md 3@lg" class="padding-bottom-large padding-left-xsmall-md padding-bottom-small-xs padding-bottom-small-sm">
                <button tabindex="0"
                  appButtonripple class="secondary-cta secondary-cta-black full-btn-width w-100" >Cancel</button>
              </div>
              
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
