/*input box starts*/
@import "src/assets/scss/global-variables.scss";

.TMO-REFILL-INPUT {
  .input-animation {
  bottom: 22px;
  }
  .p-t-2 {
    padding-top: 2px;
  }
  .font-Sfpro {
    font-family: SFProText-Bold;
  }
  .font-Sfpro-regular {
    font-family: SFProText-Regular;
  }
  .padding-vertical-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .padding-vertical-11 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .padding-top-12 {
    padding-top: 12px;
  }
  .icon-margin-left {
    margin-left: -24px;
  }

  @media #{$alldeviceexceptsmartphone} {
    .border-right-grey-md {
      border-right: 1px solid #cccccc;
    }
    .margin-top-large {
      margin-top: $l;
    }
  }
  @media #{$smartphones-xs},
    #{$smartphones-sm} {
    .d-flex-sm {
      display: flex;
    }
  }
  @media #{$alldeviceexceptsmartphone} {
    .padding-right-xsmall-md {
      padding-right: 8px;
    }
    .padding-left-xsmall-md {
      padding-left: 8px;
    }
    .padding-vertical-20-md {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .disp-line-break {
      display: none;
    }
    .disp-without-line-break {
      display: block;
    }
  }
  .padding-right-small {
    padding-right: 16px;
  }
  .margin-top--small {
    margin-top: -16px;
  }
  .font-12 {
    font-size: 12px;
  }
  @media #{$smartphones-xs},
  #{$smartphones-sm} {
    .d-flex-sm {
      display: flex;
    }
    .container-sm {
      max-width: 100%;
    }
    .border-bottom-grey-xs {
      border-bottom: 1px solid #e8e8e8;
    }
    .font-size-16-xs {
      font-size: 16px;
    }
    .arrow-right-magenta {
      margin-top: -2px;
    }
    .padding-horizontal-76-xs {
      padding-left: 76px;
      padding-right: 76px;
    }
    .margin-top-small {
      margin-top: $s;
    }
    .disp-line-break {
      display: block;
    }
    .disp-without-line-break {
      display: none;
    }
  }

  
}
