@import "src/assets/scss/global-variables.scss";
.TMO-ERROR-STATE-MODAL{

    .dialog{
        @media 
            #{$tablets-md},
            #{$desktops-lg},
            #{$desktops-xl}{
                max-width: 400px;
        }    
    }
    .animation-out {
        box-shadow: $zero 15px 12px $zero rgba($zero, $zero, $zero, .22), $zero 19px 38px $zero rgba($zero, $zero, $zero, .30); 
        opacity: $zero; 
        transform: translate($zero, -150%); 
        transition: 300ms; 
        z-index: -1; 
      }
      .animation-in {
        opacity: 1; 
        transform: translate($zero, $zero); 
        transition: 750ms; 
        z-index: 1000; 
        @media screen {
          transform: translate($zero, $zero); 
        }
      }
}
.m-l-7{
    margin-left:7px;
}