<div class="TMO-ERROR-STATE-MODAL">
  <div tmo-layout="container">
    <div tmo-layout="grid" class="padding-top-xxl">
      <div tmo-layout="12  10@sm offset-2@sm  12@md  offset-1@md" class="text-center">
        <a class="secondary-cta padding-top-small" appButtonripple (click)="visible = !visible" (keydown.enter)="visible = !visible" tabindex="0" aria-label="Click on Error state modal button" >Error State Modal</a> 
      </div>
    </div>
    <div class="dialog-container">
      <div class="dialog animation-out modal_landscapeht" id="modalBody" tabindex="-1" aria-live="assertive" [ngClass]="{'animation-in':visible}">
        <div *ngIf="visible">
        <div tmo-layout="grid gap-none" class="no-margin text-center ">
          <span mat-dialog-title tmo-layout="12" class="no-padding black display5" tabindex="0" role="title" aria-label="Error State Headline">Error State Headline</span>
        </div>
        <div tmo-layout="grid gap-none" class="no-margin padding-top-medium">
          <div tmo-layout="12" class="no-padding text-center body-copy" tabindex="0" aria-label="Error state modal">Error state modal.</div>
        </div>
        <div tmo-layout="grid gap-none" class="mx-0 padding-top-xl">
          <div tmo-layout="12" class="no-padding padding-left-xsmall ">
                <button class="primary-cta-accent pull-right m-l-7 ml-2" aria-label="Click to Continue" appButtonripple (click)="close()">Continue</button>
                <button (keydown.tab)="focusIn()" class="secondary-cta-accent-black secondary-cta-accent pull-right" aria-label="Click to Cancel" appButtonripple (click)="close()">Cancel</button>
          </div>
        </div>
      </div>
        </div>
    </div>
    <div class="overlay" (click)="close()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
  </div>
  </div>