<div #sticky class="TMO-GLOBAL-HEADER-COMPONENT ">
  <div class="gh-header gh-sticky-header" role="application" [ngClass]="{'gh-sticky-zero': !headerTop}">
    <div class="gh-container-xl">
      <a id="gh-tab-focus" tabindex="-1"></a>
      <div class="gh-column-12 gh-d-flex gh-justify-content-between gh-align-items-center gh-hidden-xs" aria-live="assertive">
        <a class="gh-lang-font gh-white gh-text-decoration-none" tabindex="0" [attr.aria-label]="language" href="">{{language}}</a>
        <div class="gh-dropdown gh-d-flex gh-justify-content-end" id="{{dropdownidval}}" appGlobalHeaderDropdown
          dropdownid="{{dropdownidval}}">
          <div id="model" class="gh-tele-next-medium gh-dropdown-toggle gh-cursor gh-box-sizing-border-box" (mouseover)="changeIcon('dropdown')"
            (mouseleave)="changeMagenta('dropdown')" tabindex="0" [attr.aria-label]='"Profile name " + profileName + ". Click on dropdown"'>
            <div class="gh-person-white gh-relative-position gh-float-left" [ngClass]="showPersonWhite ? '': 'gh-person-magenta'"></div>
            <span class="gh-white gh-relative-position gh-name-position gh-dropdown-name gh-p-l-4 gh-ellipsis">{{profileName}}</span>
            <span class="gh-arrow-down-gray gh-float-right"></span>
          </div>
          <ul class="gh-dropdown-menu" aria-hidden="true">
            <li tabindex="-1" aria-label="dropdown opened. please press tab to select the dropdown list" class="gh-first-li gh-tele-next-medium gh-cursor gh-dropdown-option gh-white  gh-p-t-12 gh-padding-bottom-small gh-padding-left-small gh-padding-right-small gh-active">
              <div class="gh-person-white gh-relative-position gh-float-left"></div>
              <span class="gh-relative-position gh-name-position gh-p-l-4" aria-hidden="true">{{profileName}} </span>
              <div class="gh-arrow-up-white gh-relative-position gh-float-right"></div>
              <div class="gh-border-bottom-gray70 gh-padding-top-xsmall"></div>
            </li>
            <li class="gh-dropdown-option gh-menu-tele-ultr" *ngFor="let dropdownInfo of detailsArray; let i = index"
              [ngClass]="{'gh-active':dropdownInfo.title === selectedVal}" (click)="select(dropdownInfo.title)"
              tabindex="0" [attr.aria-label]="dropdownInfo.title">
              <a routerLink="" class="gh-white gh-text-decoration-none gh-padding-left-small gh-padding-right-small gh-padding-bottom-small gh-d-block"
                *ngIf="dropdownInfo.title">
                {{dropdownInfo.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="gh-d-flex">
        <div class="gh-column-6 gh-column-2-md gh-d-inline-flex gh-padding-top-medium-md">
          <a routerLink="" class="gh-text-decoration-none" role="link" aria-label="click to go to My T-MOBILE page">
            <span class="gh-padding-right-xsmall gh-border-right gh-inline-block gh-float-left">
              <div class="gh-tmo-icon" aria-hidden="true"></div>
            </span>
            <span class="gh-padding-left-xsmall gh-header-title gh-inline-block gh-align-middle gh-p-t-4">MY T-MOBILE</span>
          </a>
        </div>
        <div class="gh-column-6 gh-column-10-md gh-d-flex gh-justify-content-end gh-align-items-center-xs">
          <p class="gh-link-tele-ultr gh-padding-right-small-sm gh-padding-right-large gh-padding-top-large-md gh-hidden-xs"
            *ngFor="let val of navItems">
            <a class="gh-white gh-d-inline-block gh-border gh-text-decoration-none" href="{{val.url}}" role="link"
              [attr.aria-label]='"click to go to " + val.title + " page"'>{{val.title|uppercase}}</a>
          </p>
          <div *ngFor="let val of iconArray;let i=index">
            <div class="gh-d-flex gh-padding-right-xsmall-xxs gh-padding-right-small gh-m-t-28-md" *ngIf="val.image">
              <div class="{{val.image}} gh-width-24 gh-cursor" tabindex="0" (mouseover)="changeIcon(i)" (mouseleave)="changeMagenta(i)"
                role="img" [attr.aria-label]='"click to " + val.alt'>
              </div>
            </div>
          </div>
          <div #searchcomp aria-live="assertive">
            <div class="gh-d-flex" aria-live="assertive">
              <div tabindex="0" id="searchIconId" role="img" aria-label="click to search" class="{{searchImg}} gh-cursor"
                *ngIf="showImages || (!showImages && mobileView)" (click)="openSearch()" (mouseover)="changeIcon('search')"
                (mouseleave)="changeMagenta('search')" [ngClass]="{'gh-m-t-28-md': showImages}">
              </div>
              <input type="text" id="searchId" role="textbox" [tabindex]="!showImages?'0':'-1'" name="headerInputText"
                #headerInputText="ngModel" name="headerInputText" [(ngModel)]="inputtext1" required class="gh-input gh-body-copy gh-black gh-search-out gh-m-t-20-md gh-align-items-center"
                (keyup)="filter($event)" placeholder="{{placeholder}}" (focus)="focusFunction()" (keydown)="hidekeydown($event)"
                [ngClass]="{'gh-search-in':!showImages}" aria-activedescendant="0">
              <div class="gh-relative-position">
                <div [tabindex]="!showImages && showInput && !mobileView  && inputtext1 ==''?'0':'-1'" *ngIf="!showImages && showInput && !mobileView  && inputtext1 ==''"
                  class="gh-search-gray gh-absolute-position gh-cursor" (click)="closeSearch()" role="img" aria-label="click to close search text box"></div>
                <div [tabindex]="!showImages && showInput && !mobileView ?'0':'-1'" *ngIf="!showImages && showInput && !mobileView  && inputtext1 !==''"
                  class="gh-search-magenta gh-magenta-search-position gh-absolute-position gh-cursor" (click)="onSearch()"
                  role="img" aria-label="click to close search text box"></div>
              </div>
              <div class="gh-dialog-container" aria-hidden="true" [ngClass]="{'gh-show-dialog gh-position-fixed': showInput && mobileView}">
                <div class="gh-d-none gh-box-sizing-border-box" [ngClass]="{'gh-dialog': showInput && mobileView}">
                  <input tabindex="-1" id="mobileSearchId" type="text" name="headerInputText" (keydown)="hidekeydown($event)"
                    class="gh-box-sizing-border-box gh-input gh-body-copy gh-black gh-inputMobile gh-absolute-position"
                    [(ngModel)]="inputtext1" required #headerInputText="ngModel" placeholder="{{placeholder}}" (focus)="focusFunction()"
                    (keyup)="filter($event)">
                  <div class="gh-absolute-position gh-search-position">
                    <div class="gh-search-gray gh-relative-position gh-cursor" aria-label="click to search" *ngIf="showInput && mobileView  && inputtext1 ==''"></div>
                    <div class="gh-search-magenta gh-magenta-search-position gh-relative-position gh-cursor" aria-label="click to search"
                      (click)="onSearch()" *ngIf="showInput && mobileView  && inputtext1 !==''"></div>
                    <span class="gh-border-left-black gh-relative-position"></span>
                    <div class="gh-close-black gh-relative-position gh-cursor gh-d-inline-block" (click)="closeSearch()"></div>
                  </div>
                </div>
              </div>
              <div class="gh-overlay" (click)="closeSearch()" [ngClass]="{'gh-overlay-in gh-position-fixed':visible && mobileView,'gh-overlay-out':!visible}"></div>
            </div>
            <div class="gh-overlap" [ngClass]="{'gh-position-fixed': mobileView}" *ngIf="((filteredList.length > 0 && inputtext1 !='' && !selecteditem))">
              <div class="gh-suggestions gh-scroll-style gh-search-menu" [ngClass]="{'gh-show-suggestions':((filteredList.length > 0 && inputtext1 != '' && !selecteditem))}">
                <ul class="gh-ul-style-none" aria-labelledby="searchId" role="listbox">
                  <li *ngFor="let item of filteredList;let i=index" class="gh-cursor gh-li-style-suggestions" (click)="selectSearchDropdown(i)"
                    value="{{i}}" id="{{i}}" role="option"> <span [innerHTML]="item.title"></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="gh-overlap" [ngClass]="{'gh-position-fixed': mobileView}">
              <div class="gh-recent-search gh-scroll-style gh-box-sizing-border-box" [ngClass]="{'gh-show-recent-search':((recentSearches.length > 0 && filteredList.length === 0 && showrecentSearches && showInput && !selecteditem) || (recentSearches.length > 0  && inputtext1 ==='' && showInput && !selecteditem))}">
                <ul class="gh-ul-style-none" aria-labelledby="searchId" role="listbox">
                  <li *ngFor="let r of recentSearches;let i=index" class="gh-cursor gh-li-style-search gh-d-flex"
                    (click)="selectSearch(r)" value="{{i}}" id="{{i}}" role="option">
                    <i class="fa fa-clock-o gh-clock-icon" aria-hidden="true"></i><span>{{r}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="gh-hide-md">
            <div class="gh-column-12  gh-float-right gh-padding-left-xsmall gh-d-flex">
              <span class="gh-padding-right-xsmall gh-border-left"></span>
              <div tabindex="-1" class="gh-menu-white gh-cursor" (click)="openNav()" (blur)="hideNav($event)"
                aria-label="menu"></div>
              <div id="sidenavID" aria-hidden="true" class="gh-sidenav gh-absolute-position" [ngClass]="{'gh-sidenav-top': headerTop}">
                <span class="gh-title-heading gh-title-position gh-white">Hi Eric!</span>
                <div class="gh-menu-close-position gh-absolute-position">
                  <div class="gh-close-white gh-cursor gh-d-inline-block" (click)="closeNav()"></div>
                </div>
                <a class="gh-h6-heading gh-white gh-padding-vertical-small gh-d-block gh-title-top-border" (mouseover)="changeIcon('messageicon')"
                  (mouseleave)="changeMagenta('messageicon')">
                  <div class="gh-comments-white gh-align-middle gh-d-inline-block" [ngClass]="showMessageIconHover ? 'gh-comments-white': 'gh-comments-magenta'"></div>
                  <span class="gh-padding-left-small">Message us</span>
                </a>
                <a class="gh-h6-heading gh-white gh-padding-left-large gh-padding-bottom-small gh-d-block" (mouseover)="changeIcon('callicon')"
                  (mouseleave)="changeMagenta('callicon')">
                  <div class="gh-call-white gh-align-middle gh-d-inline-block" [ngClass]="showCallIconHover ? 'gh-call-white': 'gh-call-magenta'"></div>
                  <span class="gh-padding-left-small">Call us</span>
                </a>
                <div class="gh-gray85 gh-padding-right-xxl gh-padding-top-small gh-side-nav-height">
                  <div class="gh-padding-bottom-medium" *ngFor="let val of navItems; let i = index">
                    <a class="gh-border gh-h5-heading gh-white gh-text-decoration-none gh-d-block gh-padding-left-large"
                      href="{{val.url}}">{{val.title}}</a>
                  </div>
                  <a class="gh-h6-heading gh-border gh-white gh-d-block gh-padding-left-large gh-padding-bottom-small">{{language}}</a>
                  <div class="gh-link-top-border gh-padding-bottom-small"></div>
                  <div class="gh-white" id="divID">
                    <div class="gh-padding-bottom-medium" *ngFor="let val of detailsArray; let i = index">
                      <a (click)="select(val.title)" class=" gh-border gh-h6-heading gh-padding-left-large  gh-white gh-text-decoration-none gh-d-block"
                        *ngIf="val.title !== multiline">{{val.title}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>