<!doctype html>
<div class="TMO-FA-DASHBOARD">
  <div tmo-layout="container" *ngIf='isDataLoaded' >
    <div tmo-layout="grid" class="padding-top-large text-center">
      <div tmo-layout="12" class="display3" role="title" tabindex="0">Family allowances</div>
    </div>
    <div tmo-layout="grid gap-row-none" class="padding-top-small padding-top-medium-sm padding-top-medium-xs">
      <div tmo-layout="12 10@md offset-2@md 5@lg offset-2@lg">
        <p class="h5-heading" role="title" tabindex="0">{{dashboardData.name}}'s allowances</p>
      </div>
      <div tmo-layout="12 10@md offset-2@md 5@lg" class="no-padding fa-lg text-left-md padding-top-small-xs padding-top-small-sm padding-top-small-md">
        <span class="body-copy padding-top-xsmall absolute-position" tabindex="0">Billing cycle: {{dashboardData.billingCycle}}</span>
        <div class="teritiary-cta float-right cursor padding-top-xsmall no-padding-viewlines">
          <span href="#" tabindex="0" class=" brand-magenta text-decoration-none cursor sectional-link">Help</span>
        </div>
      </div>
    </div>
    <div tmo-layout="grid gap-row-none" class="padding-top-small" [ngClass]="{'padding-bottom-large': dashboardData.restricted || dashboardData.noEdit}">
      <div tmo-layout="12 10@md offset-2@md" class="body-copy" tabindex="0">{{dashboardData.message}}</div>
    </div>
    <div tmo-layout="grid gap-row-none" *ngIf="!dashboardData.restricted && !dashboardData.noEdit">
      <div tmo-layout="12 10@md offset-2@md 5@lg offset-2@lg" class="padding-right-small-lg p-t-2">
        <div tmo-layout="12" class="display6 padding-top-medium padding-top-small-xs padding-top-small-sm padding-bottom-xsmall" tabindex="0">Select line to manage</div>
        <app-search-reusable [tabIndex]="0" (callBackValue)="searchValue($event)" [inputArray]="dashboardData['selectLine']" [persistent]=true [placeholder]="dynamicplaceholder"></app-search-reusable>
        <p class="padding-top-medium p-t-44">
          <a tabindex="0" tmo-layout="12" class="teritiary-cta brand-magenta text-decoration-none no-padding-viewlines cursor sectional-link" routerLink="../fa-lines" routerLinkActive="active">View list of all lines
          </a>
        </p>
      </div>
      <div tmo-layout="12 10@md offset-2@md 5@lg" class="padding-left-small-lg">
        <div tmo-layout="12 vertical-center" class="padding-top-medium padding-bottom-small">
          <span class="display6 margin-right-xsmall" tabindex="0">Parent line</span>
          <span [attr.tooltip-text]="parentLineTooltop" (window:resize)="onResize($event)" [attr.tooltip-position]="currentWindowWidth > 768 ? 'right' : 'bottomleft'" class="body-copy top-3 tooltip-top-4-sm">
              <i class="tooltip-icon"></i>
            </span>        
        </div>
        <app-dropdown-selector [tabindex]="0" [selectedVal]="selectedVal" [dropdownidval]="selectdashboard" [dropdownArray]="dashboardData['parentLine']" [dropdownText]= "dropdownText" (callBackValue)="selectedValue($event)"></app-dropdown-selector>
        
        
        <div tmo-layout="12 vertical-center" class="body-copy padding-top-medium d-flex align-items-center "> 

        <span class = "teritiary-cta brand-magenta text-decoration-none no-padding-viewlines cursor sectional-link" tabindex="0" aria-label="Grant users full access.">
          Grant users full access.
        </span>
      </div>
        <div tmo-layout="12 vertical-center" class="body-copy padding-top-medium d-flex align-items-center phone-status-deskop">         
         <span >Phone Status:</span>
          <span class="checkbox margin-left-medium-m margin-right-xsmall-m relative-position top-3">
            <label class="switch">
              <input type="checkbox" tabindex="-1" class="slider-btn" checked    (click)="clickFun()">
              <span class="slider round"  (keydown.enter)="toggle()" aria-label="phone status on" role="switch"  tabindex="0"></span>
            </label>
          </span>
          <span class="legal padding-left-xsmall p-t-2" *ngIf="onState">ON</span>
          <span class="legal padding-left-xsmall p-t-2" *ngIf="!onState">OFF</span>
          <div class="dialog-container">
            <div class="dialog animation-out modal-landscape" tabindex="-1" id="dialogs" aria-hidden="false"   data-backdrop="false"  [ngClass]="{'animation-in':visible}">
              <div tmo-layout="grid gap-none" class="padding-top-xsmall text-center">
                <span tmo-layout="10 offset-2" class="display4">{{modalArray.title}}</span>
              </div>
              <div tmo-layout="grid gap-none" class="no-margin padding-top-small padding-bottom-medium">
                <div tmo-layout="12 10@lg offset-2@lg" class="body-copy">{{modalArray.content}}
                </div>
              </div>
              <div tmo-layout="grid gap-none">
                <div tmo-layout="12">
                  <button [tabindex]="this.visible?0:-1"  class="primary-cta-accent float-right buttonno"    appButtonripple (click)="primaryClose()">{{modalArray.primaryButton}}</button>
                  <button [tabindex]="this.visible?0:-1" id="buttonno"  class="secondary-cta-accent secondary-cta-black margin-right-xsmall float-right buttonno" appButtonripple (click)="secondaryClose()" (keydown.enter)="secondaryClose()">{{modalArray.secondaryButton}}</button>

                </div>
              </div>
            </div>
          </div>
          <div class="overlay" (click)="primaryClose()" [ngClass]="{'overlay-in':visible,'overlay-out':!visible}"></div>
        </div>
      </div>
    </div>
    
    <div tmo-layout="grid" class="padding-top-large padding-top-medium-sm padding-top-medium-xs padding-bottom-large" *ngIf="!dashboardData.restricted && !dashboardData.noEdit">
      <div tmo-layout="12 10@md offset-2@md">
        <span class="checkbox d-inline-flex">
          <label  class="p-t-2">
            <input class="legal" id="checkbox2 " tabindex="-1" name="checkbox2" type="checkbox" value="" >
            <span class="legal indicator" tabindex="0" appCheckBoxDirective role="checkbox" aria-label="Notify account owner and line user via text message when a line has reached its allowance">
              <span class="check1 inline-block"></span>
            </span>
          </label>
          <span class="body-copy margin-horizontal-xsmall">Notify account owner and line user via text message when a line has reached its allowance.</span>
        </span>
      </div>
    </div>
    <div tmo-layout="grid gap-row-none" class="allowances" *ngFor="let info of dashboardData['allowance']; let i=index">
      <div tmo-layout="12 10@md offset-2@md">
        <div tmo-layout="12" class="inset-divider-1px"></div>
      </div>
      <div tmo-layout="12 10@md offset-2@md" tabindex="0" (keydown)="toggleAccordian($event,i)" (click)="closeAccordian(i);" class="cursor padding-top-small d-flex align-items-center justify-content-between" [ngClass]="{'padding-bottom-small': activeAccordian !== i }">
        <span tmo-layout="11" class="display6">{{info.title}}</span>
        <span tmo-layout="1" class="float-right cursor arrow-ref" [ngClass]="{'arrow-up arrow-up-rotation ':i==0}"  aria-label="click for more details"></span>
      </div>
      <div tmo-layout="12 10@md offset-2@md" class="acc-content class{{i}}" [ngClass]="{'accordian-in':i==0}">
        <div tmo-layout="12 10@md offset-2@md" class="body-copy padding-top-xsmall" [tabindex]="activeAccordian === i? 0:-1">{{info.suheading}}</div>
        <div tmo-layout="12 10@md offset-2@md"  class="padding-top-small padding-bottom-small">
          <span class="checkbox d-inline-flex"  >
            <label>
              <input class="legal" id="checkbox{{i}}{{i}}" name="checkbox{{i}}{{i}}" type="checkbox"     [checked]="info.allowanceCheck" (change)="info.allowanceCheck = !info.allowanceCheck;disableButton = info.allowanceCheck" tabindex="-1"
                [disabled]="dashboardData.noEdit || (dashboardData.restricted && info.title === 'Messages')">
              <div class="legal indicator p-t-2-md" appCheckBoxDirective role="checkbox" aria-label="No allowance" [tabindex]="activeAccordian === i ? 0: -1">
                <span class="legal check1"    ></span>
              </div>
            </label>
            <span class="padding-left-xsmall body-bold black margin-top-1px margin-top-2px-md"> No allowance</span>
          </span>
          <span [attr.tooltip-text]="noAllowancesTooltips[i]" (window:resize)="onResize($event)" [attr.tooltip-position]="currentWindowWidth > 768 ? 'right' : 'bottomleft'" class="body-copy m-t-2-md p-l-6" >
            <i class="tooltip-icon m-b-2-md"></i>
          </span>
        </div>
        <div tmo-layout="grid">
          <div tmo-layout="12" class="inset-divider-1px"></div>
        </div>
        <div tmo-layout="grid" class="padding-top-medium padding-bottom-xl">
          <span tmo-layout="6 4@md offset-1@md 3@lg offset-1@lg" [tabindex]="activeAccordian === i? 0:-1" class="body-bold">Current allowance</span>
          <!-- <span tmo-layout="6 3@md" class="body-copy" *ngIf="!info.allowanceCheck">{{info.currentInfo}}</span> -->
          <div tmo-layout="6 3@md" *ngIf="!info.allowanceCheck && !dashboardData.restricted">
            <div tmo-layout="12" class="textfield relative-position">
              <input tmo-layout="12" type="text"  minlength="3" maxlength="3" name="inputText" class="input"
                [(ngModel)]="info.inputtext1" required #currAllowance="ngModel" [ngClass]="{'border-red':currAllowance.invalid && !currAllowance.pristine && !currAllowance.errors?.required}"
                placeholder="{{info.currentInfo}}" format='' appCustomformat [tabindex]="activeAccordian === i? 0:-1" aria-label="please enter a three digit number for current allowance">
              <div tmo-layout="12" class="input-animation"></div>
            </div>
            <!-- <div tmo-layout="6 2@md" class="no-padding padding-top-xsmall" *ngIf="inputTextNever.invalid && !inputTextNever.pristine && !inputTextNever.errors?.required"> -->
            <p tmo-layout="12" class="d-flex justify-content-between padding-top-xsmall" *ngIf="currAllowance.invalid && !currAllowance.pristine && !currAllowance.errors?.required">
          <!-- <span tmo-layout="6 3@md" class="body-copy" [tabindex]="activeAccordian === i?0:-1">{{ info.allowanceCheck ? '000' : info.usedInfo}}</span> -->
              <span tmo-layout="11" class="legal red" [tabindex]="activeAccordian === i?0:-1" >Please enter limit</span>
              <i tmo-layout="1" class="warning-red pull-right padding-left-35"></i>
            </p>
          </div>
          <!-- </div>         -->
          <span tmo-layout="6 3@md" class="body-copy" *ngIf="info.allowanceCheck || dashboardData.restricted" [tabindex]="activeAccordian === i &&(info.allowanceCheck || dashboardData.restricted)? 0:-1">No allowance</span>
        </div>
        <div tmo-layout="grid" class="padding-bottom-xl">
          <span tmo-layout="6 4@md offset-1@md 3@lg offset-1@lg" class="body-bold" [tabindex]="activeAccordian === i?0:-1">Used</span>
          <span tmo-layout="6 3@md" class="body-copy" [tabindex]="activeAccordian === i?0:-1">{{ info.allowanceCheck ? '000' : info.usedInfo}}</span>
        </div>
        <div tmo-layout="grid">
          <span tmo-layout="6 4@md offset-1@md 3@lg offset-1@lg" class="body-bold padding-bottom-small-xs padding-bottom-small-sm" [ngClass]="{'padding-bottom-medium': info.allowanceCheck || info.alerts.length <= 0, 'padding-bottom-small': !info.allowanceCheck && info.alerts.length > 0  }" [tabindex]="activeAccordian === i?0:-1">Remaining</span>
          <span tmo-layout="6 4@md" class="body-copy" [tabindex]="activeAccordian === i?0:-1">{{ info.allowanceCheck ? 'No allowance set' : info.remainingInfo}}</span>
        </div>
        <div tmo-layout="grid gap-none" [ngClass]="{'padding-bottom-small': info.alerts.length > 0 && !info.allowanceCheck  }"  *ngIf="!info.allowanceCheck">
          <p tmo-layout="offset-1@md 12" class="legal d-flex" *ngFor="let error of info['alerts'];let j=index " [ngClass]="{'padding-top-xsmall': j>0}" >
            <span class="margin-top-base" [tabindex]="activeAccordian === i? 0:-1" >
              <span class="red">!Alert: </span>{{error.desc}}</span>
            <span [attr.tooltip-text]="allowancesAlertTooltips[i]" (window:resize)="onResize($event)" [attr.tooltip-position]="currentWindowWidth > 768 ? 'left' : 'left'" class="body-copy outline-none m-t-base p-l-6"
              *ngIf="j==1" [tabindex]="activeAccordian === i? 0:-1" >
              <i class="tooltip-icon margin-top-base"></i>
            </span>
          </p>
        </div>
        <div tmo-layout="grid gap-none" [ngClass]="{'padding-bottom-small': info.allowanceCheck }"  *ngIf="info.allowanceCheck && info.title!=='Minutes' && info.default">
          <p tmo-layout="offset-1@md 12 8@lg" class="legal d-flex">
            <span >
              <span class="red">!Alert: </span>{{info.default}}</span>
          </p>
        </div>
      </div>
    </div>
    <div tmo-layout="grid gap-row-none"  class="">
      <div tmo-layout="12 10@md offset-2@md">
        <div tmo-layout="12"  class="inset-divider-1px"></div>
      </div>
      <div tmo-layout="12 10@md offset-2@md" tabindex="0" (keydown)="toggleAccordian($event,3)" (click)="closeAccordian(3);" class="cursor padding-top-small d-flex align-items-center justify-content-between" [ngClass]="{'padding-bottom-small padding-bottom-small-xs padding-bottom-small-sm': activeAccordian!==3}">
        <span tmo-layout="11 10@md offset-2@md" class="display6">Schedule</span>
        <span tmo-layout="1" class="float-right cursor arrow-ref"  aria-label="click for more details"></span>
      </div>
      <div tmo-layout="12 10@md offset-2@md" class="acc-content" [ngClass]="{'accordian-in': showSchedule}">
        <div tmo-layout="12 10@md offset-2@md" class="padding-top-xsmall">
          <p tmo-layout="12 10@md offset-2@md" class="body-copy">
            <span [tabindex]="activeAccordian === 3?0:-1">Decide when managed lines can access their devices using blocks of predefined time periods throughout the week.</span>
            <span [attr.tooltip-text]="ScheduleTooltop" (window:resize)="onResize($event)" [attr.tooltip-position]="currentWindowWidth > 768 ? 'top' : ((319 < currentWindowWidth && currentWindowWidth < 349) || (402 > currentWindowWidth && currentWindowWidth > 374) ? 'topleft' : 'topright')" tooltip-position="top" class="body-copy outline-none" aria-hidden="true" [tabindex]="activeAccordian === 3?0:-1">
              <i class="tooltip-icon vertical-align-middle m-b-1"></i>
            </span>
          </p>
        </div>
        <div tmo-layout="grid gap-none" class="padding-top-small body-copy body-md" *ngFor="let values of dashboardData['schedule']; let i=index" [ngClass]="{'padding-bottom-small padding-bottom-small-xs padding-bottom-small-sm': i === (dashboardData['schedule'].length - 1)}">
          <span tmo-layout="3@md 3@lg 12 offset-1@md offset-1@lg" [tabindex]="activeAccordian === 3?0:-1">{{values.week}}</span>
          <span tmo-layout="2@md 5" class="checkbox d-inline-flex padding-top-small-sm padding-top-small-xs " *ngFor="let timeslot of values.timeslot; let j=index">
            <label>
              <input class="legal" type="checkbox" [disabled]="dashboardData.noEdit || dashboardData.restricted" [checked]="timeslot.selected" tabindex="-1">
              <div class="legal indicator p-t-2" role="checkbox" appCheckBoxDirective [tabindex]="activeAccordian === 3?0:-1" [attr.aria-label]="timeslot.slot">
                <span class="legal check1"></span>
              </div>
            </label>
            <span class="p-l-6"> {{timeslot.slot}}</span>
          </span>
        </div>
      </div>
    </div>

    <div tmo-layout="grid gap-row-none"  class="">
      <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
      <div tmo-layout="12 10@md offset-2@md" tabindex="0" (keydown)="toggleAccordian($event,4)" (click)="closeAccordian(4);" class="cursor padding-top-small d-flex align-items-center justify-content-between" [ngClass]="{'padding-bottom-small padding-bottom-small-xs padding-bottom-small-sm': activeAccordian!==4}">
        <span class="display6">Allowed numbers</span>
        <span class="float-right cursor arrow-ref"  aria-label="click for more details"></span>
      </div>
      
      <div tmo-layout="12" class="acc-content " [ngClass]="{'accordian-in': showAllowedDetails}">
        <div tmo-layout="grid gap-column-none gap-row-none" class="p-l-2-md">
          <span tmo-layout="12 9@md offset-2@md" class="body-copy padding-top-xsmall" [tabindex]="activeAccordian === 4?0:-1">Manage numbers that are Always Allowed or Never Allowed for each line.</span>
          <span tmo-layout="12 3@md offset-2@md" class="body-bold black padding-top-small padding-top-medium-xs padding-top-medium-sm" [tabindex]="activeAccordian === 4?0:-1" role="rowheader" >Always allowed</span>
          <span tmo-layout="10 8@md offset-2@md" class="legal padding-top-xsmall" [tabindex]="activeAccordian === 4?0:-1">Always Allowed numbers must be domestic ten-digit phone numbers. Toll-free T-Mobile Customer Care numbers (611
              or 1-877-453-1304) are always allowed, so they can’t be entered into your list. </span>
          <p tmo-layout="11 offset-1 offset-2@md offset-2@lg offset-2@xl" class="legal d-flex margin-top-base align-items-center" >
            <span [tabindex]="activeAccordian === 4?0:-1">
              Regardless of restrictions or allowance limits on the line, the numbers below can be reached.</span>
            <span  [attr.tooltip-text]="alwaysAllowedTooltip" (window:resize)="onResize($event)" [attr.tooltip-position]="currentWindowWidth > 768 ? 'left' : 'bottomright'" class=" p-l-6 outline-none"
              [tabindex]="activeAccordian === 4?0:-1">
              <i class="tooltip-icon"></i>
            </span>
          </p>

          <span tmo-layout="3 offset-1 2@md offset-2@md" class="body-bold black padding-top-small padding-bottom-xsmall padding-top-medium-xs padding-top-medium-sm padding-bottom-small-xs padding-bottom-small-sm" role="columnheader" [tabindex]="activeAccordian === 4?0:-1">Number</span>
          <span tmo-layout="3 offset-5 4@md offset-5@md" class="body-bold black padding-top-small padding-bottom-xsmall padding-top-medium-xs padding-top-medium-sm padding-bottom-small-xs padding-bottom-small-sm" role="columnheader" [tabindex]="activeAccordian === 4?0:-1">Description</span>
          <span tmo-layout="3 offset-11 3@md offset-9@md" class="body-bold black text-center padding-top-small padding-bottom-xsmall padding-top-medium-xs padding-top-medium-sm padding-bottom-small-xs padding-bottom-small-sm" role="columnheader" [tabindex]="activeAccordian === 4?0:-1">Remove</span>
          <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
        </div>        
        <div tmo-layout="grid gap-column-none gap-row-none" *ngFor="let info of dashboardData['allowableNumbers']; let i=index" class="p-l-2-md" [tabindex]="activeAccordian === 4?0:-1">
              <span tmo-layout="4 3@md offset-2@md" class="padding-vertical-small-xs padding-vertical-small-sm padding-vertical-xsmall body-copy">{{info.number}}</span>
              <span tmo-layout="5 4@md offset-5@md" class="padding-vertical-small-xs padding-vertical-small-sm padding-vertical-xsmall body-copy">{{info.description}}</span>
              <p tmo-layout="3 offset-11 3@md offset-9@md" class="text-center padding-vertical-small-xs padding-vertical-small-sm padding-vertical-xsmall">
                <span class="cursor inline-block" [ngClass]="{'clear-icon-black': info.removable}" (click)="info.removable? removeAllowable(info.number):''" (keydown.enter)="info.removable? removeAllowable(info.number):''" [tabindex]="activeAccordian === 4&&info.removable ? 0:-1 " [attr.aria-hidden]="!info.removable" [attr.aria-label]="info.removable?'Remove icon':''" ></span>
              </p>
              <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
        </div>
        <div tmo-layout="grid gap-column-none gap-row-none" class="p-l-2-md never-allowed">
            <div tmo-layout="9 4@md offset-2@md" class="no-padding textfield relative-position">
              <input type="text" id="inputText"  minlength="14" maxlength="14" name="inputText" class="input" [tabindex]="activeAccordian === 4 ? 0:-1 "
                [(ngModel)]="inputTextAlwaysAllow" required #inputTextAdd="ngModel" [ngClass]="{'border-red':inputTextAdd.invalid && !inputTextAdd.pristine && !inputTextAdd.errors?.required, 
                    'border-green':inputTextAdd.valid}" placeholder="Add new" format='phonenumber' appCustomformat [disabled]="dashboardData.noEdit">
              <div class="input-animation"></div>
            </div>
            <span class="padding-top-medium padding-left-small">
              <span tmo-layout="3 1@md" class="body-copy text-center" [ngClass]="{'brand-magenta cursor':inputTextAdd.dirty, 'gray30':!inputTextAdd.dirty}"
              (click)="inputTextAdd.valid ? addAllowable(inputTextAlwaysAllow) : ''"  (keydown.enter)="inputTextAdd.valid ? addAllowable(inputTextAlwaysAllow) : ''" [tabIndex]="inputTextAdd.valid ?0:-1">Add
            </span>
            </span>
            <div tmo-layout="9 4@md offset-2@md" class="d-flex no-padding padding-top-xsmall" *ngIf="inputTextAdd.invalid && !inputTextAdd.pristine && !inputTextAdd.errors?.required">
              <p tmo-layout="12" class=" text-left d-flex justify-content-between">
                <span tmo-layout="11" class="legal red">ERROR: Please enter a valid phone number (no international numbers or 900 numbers).</span>
                <i tmo-layout="1" class="warning-red pull-right padding-left-35"></i>
              </p>
            </div>
            <span tmo-layout="12 10@md offset-2@md" class="legal padding-top-medium" [tabindex]="activeAccordian === 4 ? 0:-1 ">Note: Use of the Always Allowed numbers feature could result in overage charges on your bill.</span>
            <span tmo-layout="12 3@md offset-2@md" class="body-bold black padding-top-small" [tabindex]="activeAccordian === 4 ? 0:-1 ">Never allowed</span>
            <p tmo-layout="11 offset-1 offset-2@md offset-2@lg offset-2@xl" class="legal d-flex margin-top-base align-items-center" >
              <span [tabindex]="activeAccordian === 4 ? 0:-1 ">
                The numbers below are blocked for this line. Calls and messages can not be sent or received to these numbers.</span>
              <span [attr.tooltip-text]="neverAllowedTooltip" (window:resize)="onResize($event)" [attr.tooltip-position]="currentWindowWidth > 768 ? 'left' : 'bottomright'" class="  p-l-6 outline-none"
                [tabindex]="activeAccordian === 4 ? 0:-1 " >
                <i class="tooltip-icon "></i>
              </span>
            </p>
            <span tmo-layout="9 2@md offset-2@md" class="body-bold black padding-top-medium padding-bottom-xsmall padding-bottom-small-xs padding-bottom-small-sm" role="columnheader" [tabindex]="activeAccordian === 4?0:-1">Number</span>
            <span tmo-layout="3 offset-11 3@md offset-9@md" class="body-bold black text-center padding-top-medium padding-bottom-xsmall padding-bottom-small-xs padding-bottom-small-sm" role="columnheader" [tabindex]="activeAccordian === 4?0:-1">Remove</span>
            <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
          </div>
          <div tmo-layout="grid gap-column-none gap-row-none" *ngFor="let info of dashboardData['neverAllowableNumbers']; let i=index" class="p-l-2-md" [tabindex]="activeAccordian === 4?0:-1">
            <span tmo-layout="4 3@md offset-2@md" class="body-copy padding-vertical-xsmall padding-vertical-small-xs padding-vertical-small-sms">{{info.number}}</span>
            <p tmo-layout="3 offset-11 3@md offset-9@md" class="text-center padding-vertical-small-xs padding-vertical-small-sm padding-vertical-xsmall">
              <span class="cursor inline-block" [ngClass]="{'clear-icon-black': info.removable}" (click)="info.removable? removeNeverAllowable(info.number):''" (keydown.enter)="info.removable? removeNeverAllowable(info.number):''" aria-label="remove icon" [tabindex]="activeAccordian === 4&&info.removable ? 0:-1 "></span>
            </p>
            <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
          </div>
          <div tmo-layout="grid gap-column-none gap-row-none" class="p-l-2-md padding-bottom-medium ">
              <div tmo-layout="12 6@md">
                <div tmo-layout="grid gap-column-none gap-row-none">
                  <div tmo-layout="9 8@md offset-3@md" class="padding-top-xsmall no-padding textfield relative-position">
                    <input type="text" id="inputText"  minlength="14" maxlength="14" name="inputText" class="input" [tabindex]="activeAccordian === 4 ? 0:-1 "
                      [(ngModel)]="inputTextNeverAllow" required #inputTextNever="ngModel" [ngClass]="{'border-red':inputTextNever.invalid && !inputTextNever.pristine && !inputTextNever.errors?.required, 
                      'border-green':inputTextNever.valid}" placeholder="Add new" format='phonenumber' appCustomformat [disabled]="dashboardData.noEdit">
                    <div class="input-animation"></div>
                  </div>
                  <span class="padding-top-large padding-left-small">
                    <span tmo-layout="3 2@md" class="body-copy  text-center" [ngClass]="{'brand-magenta cursor':inputTextNever.dirty, 'gray30':!inputTextNever.dirty}"
                    (click)="inputTextNever.valid ? addNeverAllowable(inputTextNeverAllow):''" (keydown.enter)="inputTextNever.valid ? addNeverAllowable(inputTextNeverAllow):''" [tabIndex]="inputTextNever.valid ? 0:-1">Add</span>
                  </span>
                  
                  <div tmo-layout="9 8@md offset-3@md" *ngIf="inputTextNever.invalid && !inputTextNever.pristine && !inputTextNever.errors?.required">
                    <p class="text-left d-flex justify-content-between padding-top-xsmall">
                      <span tmo-layout="11" class="legal red">ERROR: Please enter a valid phone number (no international numbers, 900 numbers, or 800 numbers - including
                        866, 877, and 888).
                      </span>
                      <i tmo-layout="1" class="warning-red pull-right padding-left-35"></i>
                    </p>
                  </div>
                </div>
              </div>
              <div tmo-layout="12 5@md" class="padding-left-small-md">
                <div class="relative-position padding-top-medium-sm padding-top-medium-xs padding-top-large-md padding-top-large-lg padding-top-large-xl d-flex">
                  <span class="checkbox">
                    <label for="checkbox3">
                      <input id="checkbox3" name="checkbox3" type="checkbox" value="" [disabled]="dashboardData.noEdit || dashboardData.restricted" tabindex="-1">
                      <span class="indicator" [tabindex]="activeAccordian === 4 ? 0:-1 " role="checkbox" aria-label="411 (Information) You may also want to block." appCheckBoxDirective>
                        <span class="check1 inline-block" ></span>
                      </span>
                    </label>
                  </span>
                  <span class="body-copy padding-horizontal-xsmall">411 (Information) You may also want to block.</span>
                </div>
              </div>
            </div>
      </div>
    </div>

    <div tmo-layout="grid gap-row-none" class="">
      <div tmo-layout="12 10@md offset-2@md">
        <div tmo-layout="12" class="inset-divider-1px"></div>
      </div>
      <div tmo-layout="12 10@md offset-2@md" tabindex="0" (keydown)="toggleAccordian($event,5)" (click)="closeAccordian(5); this.showHistory1 = !this.showHistory1" class="cursor  padding-top-small d-flex align-items-center justify-content-between" [ngClass]="{'padding-bottom-small padding-bottom-small-xs padding-bottom-small-sm': activeAccordian!==5}">
        <span tmo-layout="11" class="display6 ">Change history</span>
        <span tmo-layout="1" class="float-right cursor arrow-ref"  aria-label="click for more details"></span>
      </div>
      <div tmo-layout="12 10@md offset-2@md" *ngIf="!this.showHistory1">
        <div tmo-layout="12" class="inset-divider-1px"></div>
      </div>
    </div>
    <div tmo-layout="grid gap-row-none" class="acc-content" [ngClass]="{'accordian-in': showHistory}">
      <div tmo-layout="12 10@md offset-2@md" class="body-copy padding-top-xsmall">
        <div tmo-layout="12" [tabindex]="activeAccordian === 5?0:-1">View the change history made to your Family Allowances.</div>
      </div>
      <div tmo-layout="12 10@md offset-2@md  show hide@md">
          <a tmo-layout="10 offset-2@md" [tabindex]="activeAccordian === 5?0:-1" class="padding-top-small teritiary-cta brand-magenta text-decoration-none no-padding-viewlines cursor" routerLink="../fa-lines-history" routerLinkActive="active" >View history of all lines</a>
      </div>
      <div tmo-layout="10 5@md offset-2@md" class="padding-top-large-sm padding-top-large-xs padding-top-small">
          <app-dropdown-selector [selectedVal]="selectHistory" [dropdownidval]="ddlselecthistory"  [dropdownArray]="dashboardData['changeHistory']" [disabled]="dashboardData.noEdit" [tabindex]="activeAccordian === 5 ? 0: -1"></app-dropdown-selector>
          <div tmo-layout="12 10@md offset-2@md">
              <div class="legal padding-top-xsmall" [tabindex]="activeAccordian === 5?0:-1">
                Billing cycle
              </div>
              </div>
        <!-- <div tmo-layout="12 5@md offset-2@md" class="dropdown" id="test1" tabindex=1
          [ngClass]="{'disabled': dashboardData.noEdit}" appDropdown dropdownid="test1">
          <div id="model2" class="dropdown-toggle gray60">
            <span href="" class="body-copy black" ng-model="selectHistory">{{selectHistory}}</span>
            <span class="arrow-down pull-right margin-right-base margin-top-base"></span>
          </div>
          <div tmo-layout="12" class="legal padding-top-xsmall">Billing cycle</div>
          <ul tmo-layout="10 5@md offset-2@md" class="dropdown-menu" role="menu" aria-labelledby="model2">
            <li role="menuitem" class="dropdown-option body-copy margin-left-base margin-right-base margin-top-base" *ngFor="let dropdownInfo of  dashboardData['changeHistory'];let i=index;"
              [ngClass]="{'active':dropdownInfo.period === selectHistory}" (click)="selecthistory(dropdownInfo.period,i)">
              <a> {{dropdownInfo.period}} </a>
            </li>
          </ul>
        </div> -->
      </div>
      <div tmo-layout="12 10@md offset-2@md hide show@md" class="padding-top-small padding-bottom-xsmall">
          <a tmo-layout="10 offset-2@md" [tabindex]="activeAccordian === 5 ? 0:-1 " class="teritiary-cta brand-magenta text-decoration-none no-padding-viewlines cursor sectional-link" routerLink="../fa-lines-history" routerLinkActive="active">View history of all lines</a>
      </div>
      <div tmo-layout="5 3@md offset-2@md" class="padding-top-medium body-bold black" [tabindex]="activeAccordian === 5?0:-1" role="columnheader">Date/time</div>
      <div tmo-layout="5 6@md" class="padding-top-medium body-bold black" [tabindex]="activeAccordian === 5?0:-1"tabindex="0" role="columnheader">What was changed:</div>
      <div tmo-layout="12 10@md offset-2@md" class="padding-top-small">
        <div tmo-layout="10 offset-2@md" class="inset-divider-1px"></div>
      </div>
      <div tmo-layout="12" *ngFor="let historyChange of dashboardData['changeHistory'][historyChanges]['changes']">
        <div tmo-layout="grid gap-row-none" [tabindex]="activeAccordian === 5?0:-1" index="0">
          <span tmo-layout="5 3@md offset-2@md" class="padding-vertical-m body-copy" >{{historyChange.dateTime}}</span>
          <span tmo-layout="5 6@md" class="padding-vertical-m body-copy" >{{historyChange.desc}}</span>
          <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
        </div>
      </div>
    </div>
    <div tmo-layout="grid" class="text-center padding-top-large" *ngIf="!dashboardData.restricted || !dashboardData.noEdit">
      <div tmo-layout="12">
        <span class="checkbox d-inline-flex">
          <label>
            <input class="legal" type="checkbox" id="checkbox4" [disabled]="dashboardData.restricted" tabindex="-1">
            <div class="legal indicator p-t-2" tabindex="0" appCheckBoxDirective role="checkbox" aria-label="Apply allowance changes to all lines">
              <span class="legal check1" ></span>
            </div>
          </label>
          <span class="p-l-6 body-copy" > Apply allowance changes to all lines </span>
        </span>
      </div>
    </div>

    <div tmo-layout="grid gap-row-none" class="padding-top-small" *ngIf="!dashboardData.restricted || !dashboardData.noEdit">
        <div tmo-layout="12 3@md last@md" class="padding-bottom-small-xs padding-bottom-small-sm ">
            <button class="primary-cta full-btn-width no-padding" tabindex="0" appButtonripple [disabled]="dashboardData.restricted && disableButton" role="button">Save
            </button>
        </div>
        <div tmo-layout="12 3@md offset-4@md" class="padding-bottom-small-xs padding-bottom-small-sm">
            <button class="secondary-cta secondary-cta-black txt-ellipsis full-btn-width no-padding" tabindex="0" appButtonripple role="button">Discard changes</button>
        </div>
    </div>
    <div tmo-layout="grid" class="padding-top-large padding-bottom-xxl legal">
      <div tmo-layout="12" tabindex="0">
        Qualifying postpaid, multi-line plan required. Calls and messages sent or received while roaming on another carrier’s network,
        and not on the T-Mobile USA network (“roaming”), may not count towards allowance limits. Even if a number is on your
        Never Allowed list or otherwise blocked, you may still be able to send and receive calls and messages to and from
        that number while roaming. Your Never Allowed list may not include international numbers. Always Allowed numbers
        must be domestic ten-digit phone numbers; toll-free T-Mobile numbers are excluded. Setting allowances may impact
        your ability to use services. We can't guarantee that any call, including those to & from 911 emergency service providers,
        will connect or be uninterrupted. Allowances is for domestic use only and will not work while roaming internationally.
      </div>
    </div>

  </div>
</div>
