﻿@import "src/assets/scss/global-variables.scss";

.content{
  @media #{$tablets-md},#{$desktops-lg},#{$desktops-xl}{
    min-height: calc(100vh - 299px); 
  }
  @media #{$smartphones-xs},#{$smartphones-sm}{
    min-height: calc(100vh - 565px); 
  }
 }