<div role="status" aria-live="polite" aria-atomic="true">
        <div class="content" >
                <app-download></app-download>
                <app-spinner></app-spinner>
                <app-global-header></app-global-header>
                <app-header></app-header>
                <app-breadcrumb></app-breadcrumb>
                <router-outlet></router-outlet>
        </div>
        <app-global-footer></app-global-footer>
</div>