<div class="REFILL-INPUT-PAYMENT">
    <div class="tmo-content bg-color-gray">
        <div tmo-layout="container" class="container-sm">
            <div tmo-layout="grid gap-row-none" *ngIf="isDataLoaded"
                class="padding-top-xsmall  ">
                
                <div tmo-layout="12 10@lg offset-2@lg" class="padding-horizontal-small-xs padding-horizontal-small-sm">
                    <span class="legal f-size10" tabindex="0" aria-label="My phone number: (360) 998-9183">My phone
                        number: {{refillData.phone}}</span>
                </div>
                <div tmo-layout="12 10@lg offset-2@lg"
                    class="padding-vertical-large padding-horizontal-small-xs padding-horizontal-small-sm relative-position padding-vertical-medium-xs padding-vertical-medium-sm">
                    <span class="display4" tabindex="0" aria-label="Refill account">Refill account</span>
                </div>

                <!-- top section account details -->
                <div tmo-layout="12 10@lg offset-2@lg"
                    class="bg-color-white padding-horizontal-small padding-vertical-20-md">
                    <div tmo-layout="grid gap-row-none">
                        <span tmo-layout="4@md" class="text-center-md  text-center-lg text-center-xl padding-vertical-small padding-bottom-medium-xs padding-bottom-medium-sm" *ngFor="let data of refillData.refillAccountDetails; let i=index"
                        [ngClass]="{'border-right-grey-md border-bottom-grey-xs':i!= refillData.refillAccountDetails.length-1}">
                            <p><span class="body-copy black text-bold font-size-16-xs" tabindex="0"
                                [attr.aria-label]="data.title">{{data.title}}</span></p>
                            <p class="padding-top-12 p-r-4">
                                <span class="body-copy gray70 font-size-16-xs" tabindex="0" [attr.aria-label]="data.val" [ngClass]="{'text-bold':data.title=='Auto refill'}">{{data.val}}</span>
                                <span class="padding-left-xsmall d-inline-flex" role="link" aria-label="View/Edit" tabindex="0" *ngIf="data.title=='Auto refill'">
                                    <span><a class="body-copy brand-magenta text-bold text-decoration-none height-auto cursor sectional-link font-size-16-xs">View/Edit</a></span>
                                <span class="arrow-right-magenta"></span></span>
                            </p>
                        </span>
                    </div>
                </div>

                <!-- fund your account starts -->
                <div tmo-layout="12 10@lg offset-2@lg"
                    class="padding-vertical-small padding-horizontal-small bg-color-white margin-top-large margin-top-small">
                    <span tmo-layout="3@md hide@md" class="text-left display4 text-decoration-none" tabindex="0"
                        aria-label="Fund your account">Fund your account</span>
                        <span tmo-layout="3@md hide show@md" class="text-left display6 text-decoration-none" tabindex="0"
                        aria-label="Fund your account">Fund your account</span>
                </div>
                
                        <div tmo-layout="12 10@lg offset-2@lg">
                                <div class="inset-divider-1px"></div>
                        </div>
                   
                    <div tmo-layout="12 10@lg offset-2@lg"
                        class="padding-top-medium padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm bg-color-white padding-horizontal-small">
                        <div tmo-layout="grid gap-row-none">
                            <span tmo-layout="4@md" class="padding-horizontal-small-xl padding-bottom-small-xs padding-bottom-small-sm" *ngFor="let data of refillData.fundYourAccount; let i=index">
                                <div class="text-center" [ngClass]="{'border-bottom-grey-xs':i!= refillData.fundYourAccount.length-1}">
                                    <img role="img" src="{{data.image}}"
                                        class="padding-bottom-xsmall-md padding-bottom-xsmall-lg padding-bottom-xsmall-xl img-content cursor"
                                        tabindex="0" [attr.aria-label]="data.title">
                                    <div class="padding-horizontal-xsmall no-padding-md padding-horizontal-small-xxs padding-horizontal-xxxl-xs padding-horizontal-xxxl-sm">
                                        <div
                                            class="padding-bottom-base body-bold text-decoration-none black word-break font-size-16-xs">
                                            <span tabindex="0" [attr.aria-label]="data.title">{{data.title}}:</span>
                                        </div>
                                        <div class="body-copy word-break fixed-height font-size-16-xs">
                                            <span tabindex="0" [attr.aria-label]="data.description">{{data.description}}</span>
                                        </div>
                                        <div
                                            class="padding-top-small padding-top-small-md padding-top-small-lg padding-top-small-xl padding-bottom-medium-xs padding-bottom-medium-sm">
                                            <span tabindex="0" [attr.aria-label]="'Use'+ data.title"
                                                class='d-inline-flex' role="link"><span><a
                                                        class="body-copy brand-magenta text-bold text-decoration-none height-auto font-size-16-xs cursor sectional-link">Use
                                                        {{data.title}}</a></span> <span
                                                    class="arrow-right-magenta"></span></span>
                                        </div>
                                    </div>
                                </div>
                               
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
