@import "src/assets/scss/global-variables.scss";
.REFILL-INPUT-PAYMENT {
  .font-Sfpro {
    font-family: SFProText-Bold;
  }
  .font-Sfpro-regular {
    font-family: SFProText-Regular;
  }
  .padding-vertical-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .padding-vertical-11 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .padding-top-12 {
    padding-top: 12px;
  }
 
  
  @media #{$alldeviceexceptsmartphone} {
    .border-right-grey-md {
      border-right: 1px solid #e8e8e8;
    }
    .fixed-height{
      min-height: 48px;
    }
    .padding-vertical-20-md {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .margin-top-large {
      margin-top: $l;
    }
  }
  @media #{$tablets-md} {
    .font-size-md{
      font-size: 14px;
    }
  }
  @media #{$smallphones}
  {
    .padding-horizontal-small-xxs{
    padding-right: $s;
    padding-left: $s;
    }
  }
    
  
  @media #{$smartphones-xs},
#{$smartphones-sm} {
    .d-flex-sm {
      display: flex;
    }
    .container-sm { 
      max-width: 100%;
    }
    .border-bottom-grey-xs {
      border-bottom: 1px solid #e8e8e8;
    }
    .font-size-16-xs{
      font-size: 16px;
    }
    .arrow-right-magenta{
      margin-top:-2px;
    }
    .padding-horizontal-76-xs{
      padding-left: 76px;
      padding-right: 76px;
    }
    .margin-top-small {
      margin-top: $s;
    }
  }
 
}
