<div class="TMO-SYSTEM-ERROR">
    <div tmo-layout="container">
        <div class="">
            <div tmo-layout="grid gap-none" class="">
                <div tmo-layout="12" class="text-center padding-top-large-xs padding-top-large-sm padding-top-xl legal"
                    >
                    <div class="hidden" >Error icon graphic</div>
                    <div class="exclamation-circle" tabindex="0" aria-label="Error icon graphic" role="img"></div>
                </div>
                <div tmo-layout="12" class="display3 text-center" tabindex="0" [attr.aria-label]="Errorname">
                    <span>{{Errorname}}</span>
                </div>
                <div tmo-layout="12" class="body body-copy text-center padding-top-medium" tabindex="0" [attr.aria-label]="Errormessage">
                    <span>{{Errormessage}} </span>
                </div>
            </div>
        </div>
        <div tmo-layout="grid gap-row-none" class="no-margin padding-vertical-xl no-padding text-center"  >
            <div tmo-layout="12 3@md last@md" class="padding-bottom-small-xs padding-bottom-small-sm padding-horizontal-small-xs padding-horizontal-small-sm no-padding">
                <a class="primary-cta w-100 no-padding padding-top-small" appButtonripple tabindex="0"  aria-label="click on message us button">Message
                    us</a>
            </div>
            <div tmo-layout="12 3@md offset-4@md" class="padding-bottom-small-xs padding-bottom-small-sm padding-horizontal-small-xs padding-horizontal-small-sm no-padding">
                <a class="secondary-cta secondary-cta-black txt-ellipsis w-100 no-padding
                    padding-top-small" appButtonripple tabindex="0"  aria-label="click on back to payments button">Back
                    to payments</a>
            </div>
        </div>
    </div>
</div>