@import "src/assets/scss/global-variables.scss";
.TMO-SYSTEM-ERROR {
    .exclamation-circle {
        width: 118px;
        height: 118px;
        display: inline-block;
        @media #{$smartphones-xs} {
            width: 74px;
            height: 74px;
        }
    }
     @media #{$smartphones-xs}{
         .padding-horizontal-small-xs{
             padding-right: 16px;
             padding-left: 16px;
         }
     }
     .hidden {
         position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
} 
@media #{$tablets-md}{
    .secondary-cta{
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
}
}