@import "src/assets/scss/global-variables.scss";
.TMO-PROFILE-BLADE{
    [tmo-layout~='grid'] > div {
        background-color: white;
        color : black;
     }
     .d-inline-block {
         display: inline-block;
     }
     .d-none {
         display: none;
     }
     .word-break {
        word-break: break-word;
     }
     .text-right {
         text-align: right;
     }
     .cursor{
        outline: none;
    }
}