<div class="TMO-PROFILE-BLADE" routerLink={{url}} routerLinkActive="active" (keydown)="reDirectTo($event, url)">
  <div tmo-layout="grid gap-row-none vertical-center"  class="cursor">
    <div tmo-layout="12 10@md offset-2@md" *ngIf="topDivider">
      <div class={{topDividerClass}}></div>
    </div>
    <div tmo-layout="11 9@md offset-2@md">
      <div tmo-layout="12" class="no-padding pull-left padding-top-medium padding-bottom-medium padding-top-large-md padding-bottom-large-md">
        <p tmo-layout="12" class="{{titleTextClass}} word-break" [innerHTML]="titleText"></p>
        <p tmo-layout="12" class="{{titleDescClass}} word-break padding-top-small padding-top-medium-md no-padding"
          *ngIf="titleDesc != emptyValue" [innerHTML]="titleDesc" [ngClass]="{'padding-bottom-small': titleDesc2 != emptyValue}"></p>
        <p tmo-layout="12" *ngIf="titleDesc2 != emptyValue" class="{{titleDesc2Class}} word-break no-padding"
          [innerHTML]="titleDesc2">
        </p>
      </div>
    </div>
    <div tmo-layout="1" class="no-padding fa-lg text-right">
      <span *ngIf="icon != emptyValue" class={{icon}} [ngClass]="{'text-right':true}"  aria-label="click for more details"></span>
    </div>
  </div>
  <div tmo-layout="grid gap-none" *ngIf="bottomDivider">
    <div tmo-layout="12 10@md offset-2@md">
      <div class={{bottomDividerClass}}></div>
    </div>
  </div>
</div>