<div class="TMO-GLOBAL-DROPDOWN-COMPONENT">
    <div class="gd-dropdown" id="{{dropdownidval}}" tabindex={{tabindex}} appGlobalDropdown dropdownid="{{dropdownidval}}" [attr.aria-label]="textToRead + selectedVal + 'selected' ">
      <div id="model" class="gd-dropdown-toggle" >
        <span class="gd-body-copy " [ngClass]="{'disabled': disabled }" ng-model="selectedVal">{{selectedVal}}</span>
        <span class="gd-arrow-down gd-float-right"  [ngClass]="{'disabled': disabled }"></span>
      </div>
      <ul class="gd-dropdown-menu" role="menu" aria-labelledby="model" id="dropdownOptions">
        <li role="menuitem" class="gd-dropdown-option gd-drpdwn-fontfam gd-cursor" *ngFor="let dropdownInfo of dropdownArray; let i = index" [ngClass]="{'gd-active':dropdownInfo.name === selectedVal}"
          (click)="select(dropdownInfo.name)">
          <a [attr.aria-label]="dropdownInfo.name"> {{dropdownInfo.name}} </a>
        </li>
      </ul>
    </div>
  </div>
