<div class="TMO-FA-FAMILYCONTROLS">
  <div tmo-layout="container">
    <div tmo-layout="grid" class="padding-vertical-medium-xs padding-vertical-medium-sm padding-vertical-xl">
      <div tmo-layout="12" class="display3 text-center" role="title" aria-labelledby="family controls" tabindex='0'>Family controls</div>
    </div>
    <div tmo-layout="grid" class="padding-bottom-small">
      <div tmo-layout="12 6@md offset-4@md">
          <app-search-reusable [inputArray]="lineData" [persistent]=true [elementId]=1 (callBackValue)="searchValue($event)" [placeholder]="dynamicplaceholder" ></app-search-reusable>
      </div>
    </div>
    <div tmo-layout="grid" class="padding-bottom-medium">
      <p tmo-layout="6@md offset-4@md">
        <a routerLink="../fa-lines" routerLinkActive="active" class="teritiary-cta brand-magenta text-decoration-none height-auto no-padding-viewlines cursor sectional-link">View list of all lines</a>
      </p>
    </div>
    <div class = "padding-bottom-large">
    <div tmo-layout="grid 12" *ngFor="let val of data; let i = index"class="">
      <app-profile-blade *ngIf="i < (data.length-1); else bottomDivider" [titleText]="val.titleText" [titleDesc]="val.titleDesc"
        [titleDesc2]="val.titleDesc2" [url]="val.url"></app-profile-blade>
      <ng-template #bottomDivider>
        <app-profile-blade [bottomDividerClass]="'inset-divider-1px'" [titleText]="val.titleText" [titleDesc]="val.titleDesc"
          [titleDesc2]="val.titleDesc2" [url]="val.url" [bottomDivider]=true></app-profile-blade>
      </ng-template>
    </div>
  </div>
  </div>
</div>
