<div class="TMO-PROBLEM-IDENTIFIER">
  <div tmo-layout="container">
    <form #myForm="ngForm">
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12" class="padding-top-large no-padding">
          <div class="text-center padding-horizontal-large">
            <!-- <p class="hidden">problem identifier image</p> -->
            <img src="../../../../assets/img/svg/icons/error-icon.svg" class="img-height" tabindex="0" aria-label="We need a little help">
          </div>
          <div class="padding-top-medium padding-horizontal-small">
            <div class="display3 text-center" tabindex="0" aria-label="We need a little help">We need a little help.</div>
          </div>
        </div>
      </div>
      <div tmo-layout="grid gap-none" tabindex="0" aria-label="We hit a snag while trying to transfer your number to T-Mobile.Please re-enter the account number from your current wireless account below, and we’ll try again.">
        <div tmo-layout="10@md offset-2@md" class="body-copy padding-top-medium text-center text-left-sm">
          We hit a snag while trying to transfer your number to
          <span class="nowrap">T-Mobile.</span> 
        </div>
        <div tmo-layout="10@md offset-2@md" class="body-copy text-center text-left-sm">
          Please re-enter the account number from your current wireless account below, and we’ll try again.
        </div>
      </div>
      <div tmo-layout="grid gap-none" *ngIf="inputType.showAccountno" aria-live="assertive">
        <div tmo-layout="4@md offset-5@md" class="padding-top-small padding-top-medium-xs padding-top-medium-sm">
          <div class=" no-padding textfield " >
            <input type="text" role="textbox" aria-label="Re-enter your Account number" id="accountNumber" appClearInput minlength='16' maxlength='16' name="accountNumber" appCustomformat
              [format]="numbersOnly" class="input body-copy black " [(ngModel)]="inputType.accountNumber" required #accountNumber="ngModel"
              [ngClass]="{'border-red':accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required}">
            <label aria-hidden="true" for="accountNumber" class="pointer-none" [ngClass]="[(accountNumber.invalid && !accountNumber.pristine && !accountNumber.errors?.required) ? 'legal red label-focus label-invalid' : '',
                      (!accountNumber.invalid )   ? 'legal' : '',
                      ( accountNumber.errors?.required ) ? 'body-copy' : '']">Re-enter your Account number</label>
            <div class="input-animation"></div>
          </div>
          <div class="error-message-top">
            <span tmo-layout="10 3@md offset-5@md" class="legal red text-left errormessage  padding-top-xsmall mb-0" *ngIf="accountNumber.errors?.required && accountNumber.touched"
              tabindex="0" aria-label="Please enter account number">
              Please enter account number
            </span>
            <span tmo-layout="10 3@md offset-5@md" class="legal red text-left errormessage  padding-top-xsmall mb-0" *ngIf="accountNumber.errors?.pattern || accountNumber.errors?.minlength"
              tabindex="0" aria-label="Please enter valid account number">
              Please enter valid account number
            </span>
            <span tmo-layout="2 1@md offset-8@md" class="pull-right" *ngIf="accountNumber.invalid  && !accountNumber.pristine && !accountNumber.errors?.required  || accountNumber.errors?.required && accountNumber.touched">
              <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
            </span>
          </div>
        </div>
      </div>

      <div tmo-layout="grid gap-none" *ngIf="inputType.showPincode" aria-live="assertive">
        <div tmo-layout="4@md offset-5@md" class="padding-top-large">
          <div class=" no-padding textfield">
            <input type="text" role="textbox" aria-label="Re-enter your PIN/Password" appCustomformat id="pincode" appClearInput minlength='4'
             maxlength='4'  name="pincode"  [format]="numbersOnly" 
             class="input body-copy black" [(ngModel)]="inputType.pincode" required #pincode="ngModel" [ngClass]="{'border-red':pincode.invalid && !pincode.pristine && !pincode.errors?.required}">
            <label for="pincode" aria-hidden="true" class="pointer-none" [ngClass]="[(pincode.invalid && !pincode.pristine && !pincode.errors?.required) ? 'legal red label-focus label-invalid' : '',
                      (!pincode.invalid )   ? 'legal black' : '',
                      ( pincode.errors?.required ) ? 'body-copy' : '']">Re-enter your PIN/Password</label>
            <div class="input-animation"></div>
          </div>
        </div>
        <div class="error-message-top" tmo-layout="4@md offset-5@md">
          <span class="legal red text-left errormessage  padding-top-xsmall mb-0" *ngIf="pincode.errors?.required && pincode.touched"
            tabindex="0" id="error1" aria-label="Please enter PIN/Password">
            Please enter PIN/Password
          </span>
          <span class="legal red text-left errormessage  padding-top-xsmall mb-0" *ngIf="pincode.errors?.pattern || pincode.errors?.minlength"
            tabindex="0" aria-label="Please enter valid PIN/Password">
            Please enter valid PIN/Password
          </span>
          <span class="pull-right" *ngIf="pincode.invalid  && !pincode.pristine && !pincode.errors?.required  || pincode.errors?.required && pincode.touched">
            <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
          </span>
        </div>
      </div>
      <div tmo-layout="grid gap-none" *ngIf="inputType.showZipcode" aria-live="assertive">
        <div tmo-layout="4@md offset-5@md" class="padding-top-large">
          <div class=" no-padding textfield">
            <input type="text" role="textbox" aria-label="Re-enter your ZIP code" appCustomformat id="zipcode" appClearInput minlength='5' 
            maxlength='5'  name="zipcode"  [format]="numbersOnly" class="input body-copy black" [(ngModel)]="inputType.zipcode"
             required #zipcode="ngModel" [ngClass]="{'border-red':zipcode.invalid && !zipcode.pristine && !zipcode.errors?.required}">
            <label for="zipcode" aria-hidden="true" class="pointer-none" [ngClass]="[(zipcode.invalid && !zipcode.pristine && !zipcode.errors?.required) ? 'legal red label-focus label-invalid label-invalid' : '',
                      (!zipcode.invalid )   ? 'legal black' : '',
                      ( zipcode.errors?.required ) ? 'body-copy' : '']">Re-enter your ZIP code</label>
            <div class="input-animation"></div>
          </div>
        </div>
        <div class="error-message-top"  tmo-layout="4@md offset-5@md">
          <span class="legal red text-left errormessage  padding-top-xsmall mb-0" *ngIf="zipcode.errors?.required && zipcode.touched"
            tabindex="0" id="error2" aria-label="Please enter PIN/Password">
            Please enter ZIP code
          </span>
          <span class="legal red text-left errormessage  padding-top-xsmall mb-0" *ngIf="zipcode.errors?.pattern || zipcode.errors?.minlength"
            tabindex="0" aria-label="Please enter valid PIN/Password">
            Please enter valid ZIP code
          </span>
          <span class="pull-right" *ngIf="zipcode.invalid  && !zipcode.pristine && !zipcode.errors?.required  || zipcode.errors?.required && zipcode.touched">
            <i tabindex="0" aria-label="error icon" class="errormessageimg warning-red-outline-12 pull-right"></i>
          </span>
        </div>
       </div>

      <div tmo-layout="grid gap-none" aria-live="assertive">
        <div tmo-layout="4@md offset-5@md" class="padding-top-xxl padding-bottom-xl">
          <div class="body-link text-black cursor" tabindex="0" role="link" aria-label="Help me find this information">Help me find this information</div>
        </div>
        <div tmo-layout="4@md offset-5@md" class="text-center padding-bottom-large padding-bottom-medium-xs padding-bottom-medium-sm">
          <button tabindex="0" [attr.aria-label]="!myForm.form.valid ? 'button is disabled till the valid input' : 'Click here to re-sumbit'"
            appButtonripple class="primary-cta full-btn-width w-100" [disabled]="!myForm.form.valid">Re-submit</button>
        </div>
      </div>
    </form>
  </div>
</div>