@import "src/assets/scss/global-variables.scss";
.TMO-PROBLEM-IDENTIFIER {
  .input-animation {
    bottom: 22px;
    }
  .img-height {
    width: 142px;
    height: 120px;
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {

    .img-height {
      width: 130px;
      height: 109px;
    }
    .text-left-sm {
      text-align: left; 
    } 
  }

  .H3-heading {
    font-family: Tele-Ult;
  }
  .nowrap {
    white-space: nowrap;
  }
  
  
}
  

