<div class="TMO-HOME-TMO-HOME-TOP-BANNER-PAGE">
  <div class="tmo-content bg-color-gray">
    <!--<app-global-header></app-global-header>-->
      <app-notification  tabindex="0" aria-label='Warning Your account is past due. Pay now to avoid fees. Pay Now link. Click here to make a payment'  *ngIf="showAlert && isDataLoaded && (homePageData.paymentDetails[0].alertInfo | json) !== isEmptyObject"
        (callBackCloseAlert)="closeAlert($event)" (keydown)="closeAlert($event)" 
      alertIcon="warning-outline-white" 
      [alertDesc]="homePageData.paymentDetails[0].alertInfo.title"
        [alertSubDesc]="homePageData.paymentDetails[0].alertInfo.description" 
      [alertSubDescLink]="homePageData.paymentDetails[0].alertInfo.descriptionLink" 
      backgroundColor="#e8200d" 
      alertResolveURL="">
    </app-notification>
    <div tmo-layout="container" class="container-sm" *ngIf='isDataLoaded' [ngClass]="{'slide-content':!showAlert}">
      <!-- Last login, Welcome & Notifications Section -->
      <div tmo-layout="grid gap-row-none" class="padding-top-xsmall padding-horizontal-small-xs padding-horizontal-small-sm"
        id="notifications-section">
        <div tmo-layout="12 10@md offset-2@md">
            <span class="legal f-size10" tabindex="0" [attr.aria-label]='"Last login" + homePageData.lastLoginDate +" " + homePageData.lastLoginTime'>Last login {{homePageData.lastLoginDate}} {{homePageData.lastLoginTime}} </span>
            <span class="legal f-size10 float-right m-t-2" tabindex="0" [attr.aria-label]='"Account #," + homePageData.accountId'>Account # {{homePageData.accountId}}</span>
        </div>
      
      <div tmo-layout="12 10@md offset-2@md">
      <!--IphoneX, center Icon, button Section - OLD BANNER-->

        <!--<div tmo-layout="grid gap-none" class="padding-top-medium-xs padding-top-medium-sm padding-bottom-large-xs padding-bottom-large-sm margin-horizontal-large-md height-58-md">
          <div tmo-layout="6 3@md offset-2@md" class="bg-color-black height-58-md d-flex justify-content-start align-items-center padding-vertical-xsmall padding-horizontal-small  padding-vertical-small-xs padding-vertical-small-sm">
            <img class="btn-details" src="assets/img/png/tmo-home/iphone_xs.png" alt="IphoneX">
          </div>
          <div tmo-layout="6 3@md last@md" class="bg-color-black text-right height-58-md d-flex justify-content-end align-items-center padding-vertical-xsmall padding-horizontal-small padding-vertical-small-xs padding-vertical-small-sm">
            <button class="primary-cta-accent btn-details" appButtonripple>Shop now</button>
          </div>
          <div tmo-layout="12 4@md" class="bg-color-black text-center p-t-16 height-58-md d-flex justify-content-center">
            <img class="height-58-md" src="assets/img/png/tmo-home/marketing-mobile.png" alt="iphoneX image">
          </div>
        </div>-->
      <!--NEW BANNER-->
          <div tmo-layout="container" class="container-max-width">
            <app-tmo-homepage-banner [imageAlignment]="imageAlignment" [ctaAlignment]="ctaAlignment" 
            [totalItems]="totalItems"></app-tmo-homepage-banner>
          </div>
      </div>

      <!--End-->
        <div tmo-layout="12 10@md offset-2@md" class="padding-bottom-large relative-position">
            <span class="display4" tabindex="0" role="title" [attr.aria-label]='"Welcome," + homePageData.accountName'>Welcome, {{homePageData.accountName}}</span>
            <span class="float-right d-inline-flex align-items-center cursor m-t--10-xs" tabindex="0" [attr.aria-label]='"You have "+homePageData.notifications.length+" notifications. Click here to view them"' (click)="openNotification()"
              (keydown)="eventHandler($event)">
              <span class="notification-bounds" (click)="openNotification()"
              (keydown)="eventHandler($event)">
                <span class="inline-block padding-right-base-sm relative-position bell-icon m-t-4 m-l-4 notification-down" (click)="openNotification()"
                (keydown)="eventHandler($event)" [ngClass]="{'notification-icon-magneta': homePageData.notifications.length>0,'notification-icon-grey':homePageData.notifications.length<=0 }">
                  <span class="notification-count legal-bold notification-down" (click)="openNotification()"
                  (keydown)="eventHandler($event)">{{homePageData.notifications.length}}</span>
                </span>
              </span>
              <span class="body-copy padding-right-xsmall padding-left-xsmall padding-top-xsmall notification-down" tmo-layout="hide show@md" (click)="openNotification()"
              (keydown)="eventHandler($event)"> Notifications </span>
              <span class="arrow-down notification-down m-l-xs m-t-xs" (click)="openNotification()"
              (keydown)="eventHandler($event)"></span>
          </span>
          <div class="relative-position">
            <div class="overlap float-right">
              <div class="notifications scroll-style search-menu" 
			  [ngClass]="{'show-notifications ': showNotification,'show-notifications-out':!showNotification}">
                <div class="text-right padding-bottom-small m-r-16 padding-top-xsmall relative-position">
                    <p class="d-inline-flex align-items-center" [tabindex]="showNotification?'0':'-1'" [attr.aria-label]='"You have "+homePageData.notifications.length+" notifications. Click here to close the notifications"' (click)="openNotification()" (keydown)="eventHandler($event)">
                    <span tmo-layout="hide@md" class="mobile-notification-title h4-heading padding-top-xsmall" *ngIf="showNotification">Notifications</span>
                    <span class="notification-bounds">
                      <span class="inline-block padding-right-base-sm relative-position bell-icon m-r-7 m-t-4" [ngClass]="{'notification-icon-magneta': homePageData.notifications.length>0,'notification-icon-grey':homePageData.notifications.length<=0 }">
                        <span class="notification-count legal-bold">{{homePageData.notifications.length}}</span>
                      </span>
                    </span>
                    <span class="body-copy padding-right-xsmall  padding-left-xsmall padding-top-xsmall" tmo-layout="hide show@md"> Notifications </span>
                    <span class="inline-block cursor arrow-up m-l-xs m-t-xs" (click)="closeNotification()"></span>
                  </p>
                </div>
                <div *ngIf="homePageData.notifications.length<=0">
                  <p class="body-disabled text-center margin-auto padding-horizontal-medium padding-bottom-xxl padding-top-large" [tabindex]="showNotification && homePageData.notifications.length<=0? '0' : '-1'">At this time no notifications exist for your account.</p>
                </div>
                <div *ngIf="homePageData.notifications.length>0">
                    <div *ngFor="let notification of homePageData['notifications']" class="grid padding-vertical-xsmall notification-section d-flex align-items-center padding-horizontal-xsmall" tabindex="-1"
                      routerLink="{{homePageData.myBenefits.url}}" >
                      <div class="padding-horizontal-xsmall padding-horizontal-small-xs" tmo-layout="12">
                        <span [tabindex]="showNotification?'0':'-1'" [attr.aria-label]='notification.type=="error"?"error "+ notification.title :"warning "+ notification.title  ' >
                        <span class="inline-block warning-info-icon" [ngClass]="{'error': notification.type=='error', 'warning-icon':notification.type=='warning','info-icon':notification.type=='info','check-icon':notification.type=='check'}"></span>
                        <span class="body-bold-link text-decoration-none word-break vertical-align-top" >{{notification.title}}</span></span>
                        <br />
                        <span class="body-copy word-break" [tabindex]="showNotification?'0':'-1'" [attr.aria-label]='notification.description ' >{{notification.description}} </span>
                        <span class="legal brand-magenta text-decoration-underline white-space-nowrap cursor" [tabindex]="notification.additionalLink?'0':'-1'" [attr.aria-label]="notification.additionalLink +' link'" >{{notification.additionalLink}}</span>
                      </div>
                  </div>
                  <div class="text-center padding-bottom-small padding-top-xsmall padding-horizontal-small">
                    <button class="secondary-cta-accent secondary-cta-black font-14 full-btn-width" appButtonripple [tabindex]="showNotification?'0':'-1'" aria-label="Click here to see all"> See all</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End-->
      <!-- Balance & I want to Section -->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 5@md offset-2@md 6@lg offset-2@lg" class="bg-color-white">
            <div class="padding-vertical-small padding-horizontal-small padding-bottom-medium-xs">
            <div class="vertical-align-middle padding-bottom-small">
              <span class="display6 black" tabindex="0" role="title"> Balance </span>
              <a class="teritiary-cta brand-magenta text-decoration-none height-auto cursor float-right m-t-7-md m-t-2-sm m-t-0-xxs sectional-link"
                routerLink="{{homePageData.myBenefits.url}}" aria-label="Click here to view bill">View bill</a>
            </div>
            <div tmo-layout="12" class="padding-bottom-small margin-horizontal-sm">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12" class="padding-bottom-xsmall">

              <div class="text-center" *ngIf="isPaymentDue">
                <div class="align-items-center d-flex justify-content-center">
                  <i class="error inline-block"></i>
                    <span class="body-copy black bold padding-left-xsmall" tabindex="0" [attr.aria-label]='"warning Payment is" + isPaymentDueCount +"days past due!"'> Payment is {{isPaymentDueCount}} days past due! </span>
                </div>
                <div class="body-copy padding-top-xsmall text-center" >
                  <span tabindex="0" aria-label=" Due immediately:">Due immediately:</span> 
                </div>
              </div>

              <div class="body-copy text-center" *ngIf="homePageData.paymentDetails[0].price == 0 && !isPaymentDue">
                <div class="align-items-center d-flex justify-content-center">
                  <i class="validation-outline-green inline-block"></i>
                  <span class="padding-left-xsmall" tabindex="0" aria-label="No payment due at this time">No payment due at this time</span>
                </div>
              </div>
                <div class="body-copy text-center" *ngIf="homePageData.paymentDetails[0].price != 0 && !isPaymentDue" tabindex="0" [attr.aria-label]='"Due" + homePageData.paymentDetails[0].paymentDueDate'>
                Due {{homePageData.paymentDetails[0].paymentDueDate}}
              </div>
              <div class="display4 text-center" [ngClass]="{'padding-top-xsmall': !isPaymentDue }" >
                  <span tabindex="0" [attr.aria-label]='"$"+homePageData.paymentDetails[0].price +" "+ homePageData.paymentDetails[0].unit'>
                  <span >${{homePageData.paymentDetails[0].price}}</span>
                  <span class="vertical-align-top h6-heading text-bold">{{homePageData.paymentDetails[0].unit}}</span>
                </span>
              </div>
              <div class="text-center padding-vertical-small" *ngIf="!isPaymentDue && homePageData.paymentDetails[0].price != 0 && homePageData.paymentDetails[0].autopayDetails.length !== 0">
                <div class="legal">
                  <a class="black" href="/">Autopay</a> scheduled for {{homePageData.paymentDetails[0].autopayDetails[0].scheduleDate}} </div>
                <div class="legal padding-top-xsmall"> VISA {{homePageData.paymentDetails[0].autopayDetails[0].visaNumber}} </div>
              </div>

              <div tmo-layout="grid gap-column-none">
              <div tmo-layout="12 8@md offset-3@md 8@lg offset-3@lg" class="text-center" [ngClass]="{'padding-top-small-sm padding-top-small-xs padding-top-medium': isPaymentDue || homePageData.paymentDetails[0].price == 0 || homePageData.paymentDetails[0].autopayDetails.length == 0 }">
                <button class="full-btn-width" [ngClass]="{'secondary-cta secondary-cta-black txt-ellipsis
                 no-padding': homePageData.paymentDetails[0].price == 0 || homePageData.paymentDetails[0].autopayDetails.length !== 0 && !isPaymentDue, 'primary-cta': (homePageData.paymentDetails[0].price != 0 && homePageData.paymentDetails[0].autopayDetails.length == 0  || isPaymentDue )} "
                  appButtonripple aria-label='Click here to make a payment'>
                  Make a payment</button>
              </div>
              </div>

              <div class="body-copy text-center padding-top-small brand-magenta " *ngIf="isPaymentDue" >
                  <span class="cursor" tabindex="0" aria-label='Click here to Set up a Payment Arrangement'>Set up a Payment Arrangement</span>
                </div>
                <div class="padding-top-small">
                  <div class="legal text-center  word-break" >
                    <span tabindex="0" [attr.aria-label]='"Thanks for your last payment of $"+ homePageData.paymentDetails[0].lastPaymentAmount + " on " +homePageData.paymentDetails[0].lastPaymentDate'>
                      Thanks for your last payment of ${{homePageData.paymentDetails[0].lastPaymentAmount}} on {{homePageData.paymentDetails[0].lastPaymentDate}}
                    </span>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
        <div tmo-layout="12 5@md offset-7@md 4@lg offset-8@lg" class="bg-color-white margin-top-small-xs padding-top-small-sm">
          <div class="padding-vertical-small padding-horizontal-small">
            <span class="display6 black" tabindex="0" role="title"> I want to... </span>

            <div tmo-layout="12" class="padding-top-small padding-bottom-xsmall margin-horizontal-sm">
              <div class="inset-divider-1px"></div>
            </div>
            <div tmo-layout="12">
              <div [ngClass]="{'padding-top-small': i!= 0}" *ngFor="let details of homePageData['iWantToList'];let i=index ">
                <div class="d-flex-sm">
                  <!-- *ngIf="homePageData.paymentDetails.length !== 0 && i != 0" -->
                  <img src="{{details.image}}" alt="{{details.description}}" tabindex="0">
                  <a class="font-14 bold font-tele-fet text-transform-none brand-magenta padding-left-xsmall vertical-align-middle text-decoration-none position-absolute-md p-t-5 padding-top-base-xs padding-bottom-base-xs padding-top-base-sm padding-bottom-base-sm padding-top-base-md padding-bottom-base-md"
                    routerLink={{details.url}} [attr.aria-label]='"click here to"+ details.description'>{{details.description}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End -->
      <!-- My Line Section -->
      <div tmo-layout="grid gap-none" [ngClass]="{'padding-vertical-large padding-vertical-small-xs padding-vertical-small-sm': homePageData.myLineDetails.upgradeEarly , 'padding-top-large padding-bottom-large padding-top-small-xs padding-bottom-small-xs padding-bottom-small-sm padding-top-small-sm': !homePageData.myLineDetails.upgradeEarly}">
        <div tmo-layout="12 10@md offset-2@md" class="bg-color-white padding-top-small p-b-20 padding-horizontal-small">
            <span class="display6" tabindex="0" [attr.aria-label]='homePageData.myLineDetails.title' role="title">{{homePageData.myLineDetails.title}}</span>
            <span class="body-copy padding-left-xsmall" tabindex="0" [attr.aria-label]='homePageData.myLineDetails.number'>{{homePageData.myLineDetails.number}}</span>
          <a class="teritiary-cta brand-magenta text-decoration-none height-auto cursor float-right m-t-7-md m-t-2-sm m-t-0-xxs sectional-link"
            [routerLink]="homePageData.myLineDetails.url" routerLinkActive="active" aria-label="Click here to view details" role="link">View details</a>
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="bg-color-white padding-horizontal-small-md padding-horizontal-small-lg padding-horizontal-small-xl">
          <div class="inset-divider-1px"></div>
        </div>
        <div tmo-layout="12 3@md offset-2@md" class="bg-color-white padding-top-small text-center padding-bottom-medium padding-bottom-large-xs padding-bottom-large-sm">
          <div class="padding-bottom-small-xs padding-bottom-small-sm padding-bottom-small-lg padding-bottom-small-xl" *ngIf="homePageData.myLineDetails.upgradeEarly">
            <span *ngIf = "(homePageData.paymentDetails[0].alertInfo | json) !== isEmptyObject; else noNotification" [attr.tooltip-text]="tooltipText" [attr.tooltip-position]="'top'" class="body-copy">
                <button class="teritiary-cta  font-14 txt-ellipsis no-padding btn-style" appButtonripple tabindex="0" aria-label="Click here to upgrade" disabled role="button">Upgrade</button>
            </span>
            <ng-template #noNotification>
            <button class="secondary-cta-accent secondary-cta-black font-14 txt-ellipsis no-padding btn-style" appButtonripple aria-label="Click here to call to upgrade early" role="button">Call to upgrade early</button>
            </ng-template>
          </div>
          <div *ngIf="!homePageData.myLineDetails.upgradeEarly" class="legal font-italic padding-horizontal-medium padding-top-xsmall-sm padding-top-xsmall-xs padding-bottom-small-xs padding-bottom-small-sm padding-bottom-xsmall-md padding-bottom-medium-lg padding-bottom-medium-xl"
            [ngClass]="{'d-none':!homePageData.myLineDetails.upgrade}">Contact your Primary Account Holder to upgrade</div>
          <div>
            <img [src]="homePageData.myLineDetails.image" alt="phone image" class="paddiing-top-small-xs padding-top-small-md" tabindex="0" />
          </div>
        </div>
        <div tmo-layout="12 7@md" class="bg-color-white padding-horizontal-small-xs padding-horizontal-small-sm ">
          <div tabindex="0" role="link" *ngFor="let data of homePageData.myLineDetails.data; let i=index;" class="padding-right-small">
            <div tmo-layout="grid" class="align-items-center cursor" [ngClass]="{'padding-vertical-small': i !== 0, 'padding-bottom-small padding-top-small-md padding-top-small-lg padding-top-small-xl': i === 0}">
              <div tmo-layout="10 11@md">
                <span class="body-copy black">{{data.title}}</span>
                <span class="legal padding-left-xsmall padding-vertical-xsmall">{{data.description}}</span>
              </div>
              <div tmo-layout="2 1@md">
                <span class="arrow-right float-right" aria-label="click for more details"></span>
              </div>
            </div>
            <div class="inset-divider-1px" *ngIf="i != homePageData.myLineDetails.data.length-1"></div>
          </div>
        </div>
      </div>
      <!--End -->
      <!-- Other lines and devices Section -->
        <div tmo-layout="grid" *ngIf="(homePageData.otherDevices | json) !== isEmptyObject">
        <div tmo-layout="12 10@md offset-2@md" class="padding-top-small bg-color-white padding-horizontal-small-xs padding-horizontal-small-sm">
          <div class="padding-bottom-small padding-horizontal-small-md padding-horizontal-small-lg padding-horizontal-small-xl position">
            <span class="display6" tabindex="0" role="title">{{homePageData.otherDevices.title}}</span>
            <a class="teritiary-cta float-right brand-magenta height-auto cursor m-t-7-md m-t-2-sm m-t-0-xxs sectional-link" [routerLink]='homePageData.otherDevices.url'
              routerLinkActive='active' aria-label="Click here to view account">View account</a>
          </div>
          <div tabindex="0" class="padding-bottom-small cursor padding-horizontal-small-md padding-horizontal-small-lg padding-horizontal-small-xl"
            *ngFor="let otherDevices of homePageData.otherDevices.data">
            <div class="inset-divider-1px margin-horizontal-sm"></div>
            <div class="padding-top-small d-flex align-items-center">
              <img [src]="otherDevices.image"  *ngIf="otherDevices.image !== ''" tabindex="0" aria-label="phone image"/>
              <img src="assets/img/png/tmo-home/placeholder-small.png" class="noImage" tabindex="0" aria-label="no image" *ngIf="otherDevices.image === ''"/>
              <div class="d-flex-md">
                  <p class="p-l-16 body-bold black" tabindex="0" [attr.aria-label]='otherDevices.name'>
                  {{otherDevices.name}}
                </p>
                  <p class="p-l-16-xs padding-horizontal-small-sm padding-horizontal-xsmall p-r-0-xs body-copy" tabindex="0" [attr.aria-label]='otherDevices.number'>
                  {{otherDevices.number}}
                </p>
              </div>
              <div class="legal margin-left-auto brand-magenta d-flex align-items-center">
                  <span class="padding-horizontal-small p-l-0-xs" tabindex="0" [attr.aria-label]='otherDevices.upgradeAvailable ? "Upgrade available" : ""'>{{otherDevices.upgradeAvailable ? 'Upgrade available' : ''}}</span>
                  <span class="arrow-right" tabindex="0" aria-label="click for more details"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End -->
      <!--My T-Mobile benefits Section -->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 10@md offset-2@md" class="padding-vertical-small padding-horizontal-small bg-color-white">
          <span tmo-layout="3@md" class="text-left display6 text-decoration-none" tabindex="0" role="title">{{homePageData.myBenefits.title}}</span>
          <a class="teritiary-cta brand-magenta text-decoration-none height-auto cursor float-right see-more m-t-7-md m-t-2-sm m-t-0-xxs sectional-link"
            routerLink="{{homePageData.myBenefits.url}}" aria-label="Click here to see more">See more</a>
        </div>
        <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px"></div>
      </div>
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12 10@md offset-2@md" class="padding-vertical-medium bg-color-white padding-horizontal-small">
          <div tmo-layout="grid gap-row-none">
            <span tmo-layout="4@md" *ngFor="let data of homePageData.myBenefits.data;let i=index;" [ngClass]="{'padding-bottom-xl-xs padding-bottom-xl-sm':i!=homePageData.myBenefits.data.length-1}">
              <div class="text-center-md text-center-xl text-center-lg d-flex-sm ">
              <img src="{{data.image}}" alt="{{data.title}}" role="img" [attr.aria-label]="data.title" class="padding-bottom-xsmall-md padding-bottom-xsmall-lg padding-bottom-xsmall-xl img-content cursor" tabindex="0">
              <div class="padding-left-xsmall">
                  <div class="padding-bottom-base body-bold text-decoration-none black word-break" tabindex="0" [attr.aria-label]="data.title">{{data.title}}</div>
                  <div class="body-copy word-break" tabindex="0" [attr.aria-label]="data.description">{{data.description}}</div>
                  <div tabindex="0" [attr.aria-label]="data.disclaimer" [ngClass]="{'d-none legal padding-top-small padding-top-xsmall-xs': !showDisclaimer,'legal padding-top-small padding-top-xsmall-xs':showDisclaimer}">{{data.disclaimer}}</div>
              </div>
            </div>
          </span>
          </div>
        </div>
      </div>
      <!--End -->
    </div>
  </div>
  <!-- <app-global-footer></app-global-footer> -->
</div>
