@import "src/assets/scss/global-variables.scss";
.TMO-FA-LINES-HISTORY {
    .margin-top-xs {
      margin-top: -$xs;
    }

  .no-padding-viewlines {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height:auto !important;
    line-height: 1.1;
  }

  .sectional-link:focus {
    outline: #4089ff auto 5px;
  }
  .p-t-11 {
    padding-top: 11px;
  }
} 
