<!doctype html>
<div class="TMO-FA-LINES-HISTORY">
  <div tmo-layout="container" *ngIf='isDataLoaded'>
    <!-- Add main content class as required for Button bottom alignment -->
    <div tmo-layout="grid 12" class="padding-top-large padding-top-medium-xs padding-top-medium-sm text-center">
      <span class="display3" tabindex="0">Family allowances</span>
    </div>
    <div tmo-layout="grid">
      <div tmo-layout="12 10@md offset-2@md" class="padding-top-small padding-top-medium-xs padding-top-medium-sm">
        <span class="text-left h5-heading text-decoration-none" tabindex="0">{{dashboardData.name}}'s change history</span>
        <span class="float-right body-copy" tmo-layout="hide show@md">
          <a class="teritiary-cta brand-magenta text-decoration-none float-right no-padding-viewlines cursor sectional-link p-t-11" tabindex="0" href="">Help</a>
        </span>
      </div>
    </div>

    <div class="padding-vertical-small padding-bottom-xsmall-lg padding-bottom-xsmall-xl" tmo-layout="grid">
      <span class="text-left body-copy" tmo-layout="10 9@md offset-2@md" tabindex="0">Listed below are all changes to the Allowances feature for this line.</span>
      <span class="float-right body-copy" tmo-layout="2 hide@md show@sm">
        <a class="teritiary-cta brand-magenta text-decoration-none float-right no-padding-viewlines cursor" href="#">Help</a>
      </span>
    </div>

    <div tmo-layout="grid gap-row-none" class="position-relative">
      <div tmo-layout="12 10@md offset-2@md 5@lg offset-2@lg">
        <app-search-reusable [tabIndex]="2" [inputArray]="lineHistoryData" [persistent]=true [elementId]=1 [placeholder]="dynamicplaceholder" [maxlength]="17" (callBackValue)="selectedSearchValue($event)"></app-search-reusable>
      </div>
      <div tmo-layout="12 10@md offset-2@md 5@lg">
        <div class="padding-top-medium-xs padding-top-medium-sm padding-top-medium-md  padding-top-xsmall">
          <app-dropdown-selector [selectedVal]="selectedRange" [tabindex]="2" [dropdownidval]="selectline" [dropdownArray]="datePeriod" [dropdownText]="dropdownText"
            (callBackValue)="selectedValue($event)"></app-dropdown-selector>
        </div>
      </div>
    </div>
    <div tmo-layout="grid">
      <div  tmo-layout="12 10@md offset-2@md">
        <p class="padding-top-small">
          <a tabindex="0" tmo-layout="12" class="teritiary-cta brand-magenta text-decoration-none no-padding-viewlines cursor sectional-link" routerLink="../fa-lines" routerLinkActive="active">View history of all lines
          </a>
        </p>
      </div>
    </div>

    <div class="padding-top-small padding-bottom-large">
      <div  tmo-layout="grid gap-none">
          <div tmo-layout="3@md 5 offset-2@md" class="body-bold black" tabindex="0" role="columnheader" >Date/time</div>
        <div tmo-layout="7@md 6 offset-6 " class="body-bold black padding-bottom-small" tabindex="0" role="columnheader">What was changed:</div>      
        <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px padding-bottom-small"></div>
      </div>
      <div tmo-layout="grid gap-none" *ngFor= "let data of selectedLineData" tabindex="0">
        <div tmo-layout="3@md 5 offset-2@md" class="body-copy ">{{data.title}}</div>
        <div tmo-layout="7@md 6 offset-6 " class="body-copy padding-bottom-small">{{data.data}}</div>      
        <div tmo-layout="12 10@md offset-2@md" class="inset-divider-1px padding-bottom-small"></div>
      </div>
    </div>

  </div>
</div>
