@import "src/assets/scss/global-variables.scss";
.row-direction-right {
    direction: rtl
}
.banner-background{
    background-color: $gray20;
}

.row-direction-left {
    direction: ltr;
}
.primary-cta-accent {
    font-size: 14px;
    min-height: 32px;
    line-height: 16px;
    height:auto;
    max-width: 240px;
}
.p-r-24 {
    padding-right: 24px;
}

@media #{$desktops-xl} {
    .image-width {
        width: 376px;
        height: 358px;
        /*margin-right: 18px;
        margin-left: 18px;*/
    }
    .image-padding-top-xl-xl {
        padding-top: 40px;
    }
    
}
@media #{$desktops-lg} {
    .image-width {
        width: 313px;
        height: 300px;
        /*margin-right: 13px;
        margin-left: 13px;*/
    }

    // .padding-top-medium-lg {
    //     padding-top: 16px;
    // }
   
}
.float-right{
float: right;
}
.margin-verical-auto{
    margin-bottom: auto;
    margin-top:auto;
}

@media #{$tablets-md} {
    .image-width {
        width: 230px;
        height: 230px;
        //margin-left: 18px;
        // background-color: white;
    }

    .image-width-right {
        width: 248px;
        height: 230px;
    }

    .p-r-8-md {
        padding-right: $xs;
      }

    // .padding-top-medium-lg {
    //     padding-top: 16px;
    // }
   
}

@media #{$smartphones-sm} {
    .image-width {
        width: 220px;
        height: 220px;
    }

    .padding-bottom-small-md {
        padding-top: 12px;
    }
   
}

@media  #{$smartphones-xs},#{$smartphones-xxs} {
    .image-width {
        width: 240px;
        height: 240px;
    }
}

@media #{$alldeviceexceptsmartphone} {
    .icon-width {
        width: 272px;
        height: 48px;
    }
    .padding-left-horizantal{
        padding-left:16px;
      }

      .p-r-15 {
          padding-right: 16px !important;
      }
}
@media #{$tablets-md},#{$smartphones-xs}, #{$smartphones-sm} {
    
    .gridGap {
        grid-gap: 0px !important;
    }
}

@media #{$smartphones-xs},#{$smartphones-xxs},#{$smartphones-sm} {
    .background-margin {
      margin-left: -16px;
      margin-right: -16px;
    }
}

 @media #{$smartphones-xs}, #{$smartphones-sm} {
     .text-center-sm {
        text-align: center;
     }
    .grid-pull-left {
         grid-row: 1;
    }
    .icon-width {
        width: 181px;
        height: 32px;
    }
    .d-block-sm {
        display: block !important; 
      }
 } 
