<div  class="TMO-HOMEPAGE-BANNER padding-vertical-small-xs padding-vertical-large padding-vertical-small-sm background-margin">
  <div class="banner-background text-center-sm" [ngClass]="{'text-center': ctaAlignment == 'center', 'padding-top-medium': (ctaAlignment), 'padding-top-small-lg':ctaAlignment == 'right'}">
    <div tmo-layout="grid gap-row-none"  *ngIf="totalItems" [ngClass]="{'row-direction-right': imageAlignment == 'left' && !ctaAlignment, 'gridGap': (imageAlignment == 'right')}">
          <div  [attr.tmo-layout]="(ctaAlignment ? (ctaAlignment == 'left' || ctaAlignment == 'right'  ? '12 8@md offset-1@md 8@lg offset-1@lg' : '12 10@md offset-2@md 10@lg offset-2@lg') : (imageAlignment == 'left' ? '12 7@md offset-1@md 7@lg offset-1@lg' : '12 7@md offset-1@md 7@lg offset-1@lg') )" [ngClass]="{'row-direction-left p-r-15': imageAlignment == 'left' && !ctaAlignment,'padding-left-horizantal':imageAlignment == 'right' || ctaAlignment == 'right' || ctaAlignment == 'left','p-r-8-md': imageAlignment == 'right'}">
                  <div tmo-layout="12 3@md" class="icon-image"
                  [ngClass]="{ 'padding-top-small-sm  padding-top-small-xs padding-top-medium-md padding-top-medium-lg image-padding-top-xl-xl': (imageAlignment == 'left'),'padding-top-medium padding-top-xl-xl':imageAlignment == 'right'}">
                          <img aria-label="image" class="icon-width" role="img" 
                          src={{totalItems.icon_image}} tabindex="0">
                        </div>
                        <div tmo-layout="12" class="eyebrow black padding-top-medium padding-horizontal-small-sm padding-horizontal-small-xs">
                          <span tabindex="0" [attr.aria-label]="totalItems.eyebrow_text">
                            {{ totalItems.eyebrow_text }}
                          </span>
                        </div>
                        <div tmo-layout="12" class="display5 padding-top-xsmall padding-horizontal-small-sm padding-horizontal-small-xs">
                          <span tabindex="0" [attr.aria-label]="totalItems.banner_title">
                            {{ totalItems.banner_title }}
                            </span>
                        </div>
                        <div tmo-layout="12" class="body-copy gray60 padding-top-xsmall padding-horizontal-small-sm padding-horizontal-small-xs">
                            <span tabindex="0" [attr.aria-label]="totalItems.banner_description">
                              {{ totalItems.banner_description }}
                              </span>
                          </div>
                          <div  
                          [attr.tmo-layout]="(ctaAlignment ? (ctaAlignment == 'right'? '12 2@md show hide@md' : '12 2@md') : '12 2@md')"
                          class="padding-top-small  d-block-sm padding-horizontal-small-sm padding-horizontal-small-xs">
                            <button class="primary-cta-accent  no-padding"
                              appButtonripple  tabindex="0" [attr.aria-label]="totalItems.button_text">  {{ totalItems.button_text }}
                            </button>
                          </div>
                          <div tmo-layout="12" class="legal padding-horizontal-small-sm padding-horizontal-small-xs padding-top-small padding-bottom-medium padding-bottom-small-xs"
                          [ngClass]="ctaAlignment ? (ctaAlignment == 'right'? 'padding-bottom-small-md padding-bottom-medium-sm':'padding-bottom-medium-sm')
                           : 'padding-bottom-xl-xl padding-bottom-small-sm'">
                            <span tabindex="0" [attr.aria-label]="totalItems.sub_desc">
                              {{ totalItems.sub_desc }}
                              </span>
                          </div>
          </div>
          <div class="margin-verical-auto"  [ngClass]="{ 'grid-pull-left ': (imageAlignment == 'left'), 'p-r-24':ctaAlignment == 'right'  }"
          [attr.tmo-layout]="(ctaAlignment ? (ctaAlignment == 'right'  ? '12 4@md 4@lg show@md hide' : '12 3@md 3@lg show@md hide') : '12 4@md 4@lg' )">
                  <img aria-label="image" class="netflix-img image-width" [ngClass]="{ 'image-width-right': (imageAlignment == 'right') }" role="img" 
                  src={{totalItems.device_image}} tabindex="0" *ngIf="!ctaAlignment">
                  <button class="primary-cta-accent  no-padding float-right" *ngIf= "ctaAlignment == 'right'"
                      appButtonripple  tabindex="0" [attr.aria-label]="totalItems.button_text">  {{ totalItems.button_text }}
                  </button>
          </div>
    </div>
  </div>
</div>
