<!doctype html>
<div class="TMO-DROPDOWN-SELECTOR">
  <div tmo-layout="grid gap-none">
    <div tmo-layout="12" class="dropdown" [ngClass]="{'disabled': disabled }" id="{{dropdownidval}}" tabindex={{tabindex}} appDropdown dropdownid="{{dropdownidval}}">
      <div id="model" class="dropdown-toggle">
        <span class="body-copy " [ngClass]="{'disabled': disabled }" ng-model="selectedVal">{{selectedVal}}</span>
        <span class="arrow-down float-right"  [ngClass]="{'disabled': disabled }"></span>
      </div>
      <ul tmo-layout="10" class="dropdown-menu" role="menu" aria-labelledby="model">
        <li role="menuitem" class="dropdown-option body-copy " *ngFor="let dropdownInfo of  dropdownArray" [ngClass]="{'active':dropdownInfo.name === selectedVal}"
          (click)="select(dropdownInfo.name)">
          <a > {{dropdownInfo.name}} </a>
        </li>
      </ul>
      
    </div>
    <a tmo-layout="12" class="legal padding-top-xsmall text-black"   tabindex="0"   href="" *ngIf="dropdownText">{{dropdownText}}</a>
  </div>
</div>