@import "src/assets/scss/global-variables.scss";
.TMO-DROPDOWN-SELECTOR{
  .dropdown-toggle {
    border-bottom: solid 1px $gray60; 
    cursor: $pointer; 
    height: 25px; 
    margin-left: 1px; 
    padding-bottom: 8px; 
    width: 99%; 
    
    .arrow-down, .arrow-down-disable {
      height:13px; 
      width:13px; 
      margin-right: 3.5px; 
      margin-top: 3.5px; 
    }
  
    &::after {
      border-top: $none; 
      border-right: $none; 
      border-left: $none; 
    }
  
    &:focus {
      outline: $none; 
    }
  }
  
  .dropdown-menu {
    background-color: #fff;
    background-clip: padding-box;
    display: $block; 
    float: left;
    font-size: 1rem;
    left: 0;
    list-style: none;
    max-height: $zero; 
    overflow: $auto; 
    opacity: $zero; 
    overflow: $auto; 
    padding: $zero; 
    transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
    -webkit-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
    -moz-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
    -ms-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
    -o-transition: max-height .2s, opacity .2s .2s, visibility 0s .3s; 
    visibility: $hidden; 
    width: 100%; 
    position: absolute; 
    min-width: 10rem; 
    margin: 0.125rem 0 0; 
    text-align: left; 
    z-index: 1000; 
  
    li.dropdown-option:hover > a {
      color: $brand-magenta; 

      &:hover {
        color: $brand-magenta; 

        &.dropdown-option-active-a {
          color: $gray60; 
        }
      }
    }
  
    li.dropdown-option:active > a {
      color: $white; 

      &:hover {
        color: $white; 
      }
    }
    .dropdown-option-active
    {
     background-color: $brand-magenta;
    }
    
    .dropdown-option-active-a
    {
     color: #ffff;
    }
//  .dropdown-option .active > a
//   {
//    color:$brand-magenta
//   }
 li.dropdown-option > a {
      font-weight: $normal; 
      line-height: 2.5rem; 
      padding: 9px 10px; 
      color: #212529;

      &:hover {
        color: $brand-magenta; 
      }

      &.dropdown-option-active-a {
        color: $brand-magenta; 
      }
    }

    .active:hover > a {
      color: $gray60; 
    }
  
    .active:active > a {
        color: $white; 
    }

    &::-webkit-scrollbar {
      height: 30px; 
      width: 5px; 
    }
  
    &::-webkit-scrollbar-thumb:vertical {
      background-color: $gray40; 
    }
    li.dropdown-option.dropdown-hover.active{
      color: $gray60; 
      a {
        color: $brand-magenta !important; 
       }
    }
      li.dropdown-option.dropdown-hover {
      a {
       color: $brand-magenta !important; 
      }
      
    }
  }
  
  .dropdown-menu.show {
    box-shadow: $zero 6px 12px rgba($zero, $zero, $zero, .175); 
    -webkit-box-shadow: $zero 6px 12px rgba($zero, $zero, $zero, .175); 
    border-radius: $base; 
    border: 1px solid $gray30; 
    border: 1px solid rgba($zero, $zero, $zero, .15); 
    max-height: 178px; 
    opacity: 1; 
    overflow:auto; 
    transition: max-height .5s, opacity .2s, visibility 0s; 
    -webkit-transition: max-height .5s, opacity .2s, visibility 0s; 
    -moz-transition: max-height .5s, opacity .2s, visibility 0s; 
    -ms-transition: max-height .5s, opacity .2s, visibility 0s; 
    -o-transition: max-height .5s, opacity .2s, visibility 0s; 
    visibility: visible; 
  }

  .dropdown-toggle-height {
    height: $auto; 
  }
  
  .dropdown-option {
    &:hover {
      background-color: $gray10; 
      color: $gray60; 

      &.dropdown-option-active {
        color: $brand-magenta; 
        background: $gray10; 
      }     
    }   
    &:active {
      background-color: $brand-magenta; 
      color: $white; 
    }
  }
  
  .dropdown-option:active > a {
    color: $white; 
  }
  
  .dropdown-hover
  {
    background-color: $gray10; 
    color: $brand-magenta; 
  }
  
  .dropdown {
    position: relative; 

    &:focus {
        outline:none; 
        
      .dropdown-toggle {
        outline: 1px dotted #212121; 
        outline: -webkit-focus-ring-color $auto 5px; 
    
        &.outline-none
        {
          outline: $none !important; 
        }
      }
    }
  }

  .disabled {
    color: $gray60; 
    cursor: $default; 
    opacity: 0.8; 
    pointer-events: $none; 
  }

  .dropdown-menu {

     .active > a {
        color:$gray60 !important;
     }
    
     .active:hover > a {
        color:$brand-magenta !important;
     }

     .active:active > a {
      color:$white !important;
     }
 }
  .text-black { 
  //  color:$black; 
    text-decoration: none; 
    pointer-events: none; 
 }
}