@import "src/assets/scss/global-variables.scss";
$smartphones-xs-sm: 'only screen and (min-width: 375px) and (max-width: 767px)';
 .TMO-HOME-TMO-HOME-PAGE {
.primary-cta:hover,
.primary-cta:active,
.primary-cta:active::after{
  box-shadow:rgba(0,0,0,0.16) 0px 4px 6px !important;
}
.font-14{
  font-size: 14px !important;
}
  /* notification style start*/ 
  .overlap {
    position: absolute;
    z-index: 1;
    background: $white;
    width: 100%;
    display:block;
    width:336px;
    top: -46px;
    right: -$s;
  }
.mobile-notification-title{
  position: absolute;
  top: 10px;
  left: $m;
}
.word-break{
  word-break: break-word;
}
@media #{$smartphones-sm} {
  .overlap {
    top:-30px;
  }
}
  @media #{$smartphones-xs}
  {
    .overlap {
      top:-30px;
      width:359px;
    }
    .m-t--10-xs{
      margin-top:-10px;
    }
  }
  @media #{$smartphones-xxs}
  {
    .m-t-0-xxs {
      margin-top: $zero;
    }
    .overlap {
      top:-30px;
         width: 305px;
    }
  }
  .notifications {
    overflow-y: hidden;
    opacity: 0;
    transition: all 300ms;
    z-index: -1;
  }
  .show-notifications {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
    overflow-y: auto;
    max-height:405px; 
    transition: max-height .4s; 
    -webkit-transition: max-height .4s; 
    -moz-transition: max-height .4s; 
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);;    
    z-index: 1;
    display: block;
  }
  .show-notifications-out {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
    overflow-y: hidden;
    padding-top: $zero;
    max-height:0px; 
    transition: max-height .4s, padding-top .4s; 
    -webkit-transition: max-height .4s, padding-top .4s; 
    -moz-transition: max-height .4s, padding-top .4s; 
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);;    
    z-index: 1;
    display: none;
  }
  .padding-right-base-sm {
      padding-right: $base;
    }
    .notification-section:hover {
      background-color:$gray10;
    }
    .m-r-16 {
      margin-right:$s;
    }
    .m-t-xs{
      margin-top: $xs;
    }
    .full-btn-width{
      width: 100%;
    }
    .notification-count {
      color:$white;
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .bell-icon {
     // height: 26px; 
     // width: 21.3px;
     display: inline-table;
     transform: scale(1.1);
     width: 16px;
    } 
    .warning-info-icon{
      width:20px;
      height:20px;
    }
    .warning-info-icon.error{
      width: 21px;
      height: 18px;
    }
    .notification-section {
      cursor: context-menu; 
    }
  /* notification style ends */
  /*  balance and i want section starts */
    .font-tele-fet {
      font-family: $tele-grotesk-fet;
    }
    .vertical-align-top {
      vertical-align: top;
    }
    .text-transform-none {
      text-transform: none;
    }
    .padding-left-xsmall {
      padding-left: $xs;
    }
    @media #{$smartphones-sm}, #{$smartphones-xs} {
      // [tmo-layout~='container'] {
      //   max-width: 100%;
      // }
      .container-sm { 
        max-width: 100%;
      }
      .margin-horizontal-sm {
        margin-left: -16px;
        margin-right: -16px;
      }
    }
    @media #{$smartphones-xs-sm} {
      .m-t-2-sm {
        margin-top: 2px;
      }
    }
    .validation-outline-green {
      height: 20px;
      width: 20px;
    }
    .justify-content-center {
      justify-content: center;
    }
    @media #{$alldeviceexceptsmartphone} {
      .padding-right-small {
        padding-right: $s;
      }
      .padding-horizontal-46{
        padding-left: 46px;
        padding-right: 46px;
      }
      .d-flex-md {
        display: flex;
      }
      .padding-left-xsmall-md {
        padding-left: $xs;
      }
      .position-absolute-md {
        position: absolute; 
      }
      .m-t-7-md {
        margin-top: 7px;
      }
    }
    .font-italic {
      font-style: italic;
    }
    .p-b-20{
      padding-bottom: 20px;
    }
    @media #{$tablets-md} {
    .btn-style{
        width: 147px;
        font-size: 14px;
        padding-right: 8px;
        padding-left: 8px;
    }
  }

  //my line ends
  /* OtherLines & devices: Start */
      .margin-left-auto {
          margin-left: auto;
      }
  /* OtherLines & devices: End */
  /* IphoneX, center Icon, button Section: start */
  .btn-details {   // For placeholder width and height
      width: 104px;
      height: 32px;
      letter-spacing: 0.5px;
      line-height: 1.14;
      font-size: 14px; 
  }
  @media #{$tablets-md}, #{$desktops-lg}, #{$desktops-xl} {
      .btn-details {
          width: 141px;
      }
      .height-58-md{
          height: 58px;
      }
      .margin-horizontal-large-md{
        margin-top: 32px;
        margin-bottom: 32px;
      }
      .p-t-5{
        padding-top:5px;
      }
  }
  @media #{$smartphones-xs}, #{$smartphones-xxs},#{$smartphones-sm}{
      .margin-horizontal-small-xs{
        margin-top: 16px;
        margin-bottom: 16px;
      }
  }
  /*IphoneX, center Icon, button Section:End*/
  /*Benefits: Start*/
    @media #{$smartphones-xs},
          #{$smartphones-sm} {
    .d-flex-sm {
      display: flex;
    }
    .padding-left-xsmall {
      padding-left: $xs;
    }
    .img-content {
      width:49px;
      height:37px;
    }
  }
  .sectional-link:focus {
    outline: #4089ff auto 5px;
  }
 /*Benifits: End*/
  .height-auto {  height: auto;}
  .position span  { vertical-align:bottom;}
  .m-t-2 { margin-top: 2px;}
}
.font-telehal{
  font-family: Tele-Hal;
}
.bold{
  font-weight: bold;
}
@media #{$smartphones-xs},#{$smartphones-sm} {
.margin-top-small-xs { 
  margin-top: $s;  
} 
.m-l-xs { 
  margin-left:$xs; 
  } 

  .img-height {
    height:14px;
  }

}
.body-bold-link:hover {
  color:#000000;
} 
@media #{$minismartphones-xs} { 
  .f-size9 { 
    font-size: 9px;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}
[tooltip-position='top']::before, [tooltip-position='top']::after{
  left: 54%;
  @media#{$smartphones-xs}, #{$smartphones-sm}{
    left: 60%;
  }
}
[tooltip-position='top']::after{
  min-width: 297px;
}
.noImage{
  width: 24px;
  height: 49px;
}
.notification-down
{
  cursor: pointer;
}
.m-l-7{
  margin-left:7px;
}
.input-animation{
  bottom:22px;
}

.opacity{
  opacity: 0.2;
}
.body{
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
  letter-spacing: 0px;
  font-weight: normal;
  color: #6A6A6A;
}
.dialog{
  @media 
      #{$tablets-md},
      #{$desktops-lg},
      #{$desktops-xl}{
          max-width: 450px;
  }    
}
.warning-red-outline-12{
  //background: url('assets/img/png/warning-red-outline-12.png') no-repeat;
  width: 24px;
  height: 15px;
}
.error-message-top{
  line-height:15px;
}

.animation-in {
  z-index: 10000; 
}