<!doctype html>
<div class="TMO-HOME">
  <div tmo-layout="container">
    <div tmo-layout="grid gap-row-none">
      <div tmo-layout="12 6@md offset-4@md">
        <p class="body-bold black padding-top-large">Select Page</p>
        <app-dropdown-selector [selectedVal]="selectedVal"  (callBackValue)="selectedValue($event)" [dropdownidval]="selecthome" [dropdownArray]="pageNames"></app-dropdown-selector>
      </div>
      <div tmo-layout="8 offset-3 6@md offset-4@md" class="padding-top-small pageurl justify-self-center">
        <div *ngIf='showFamilyAllowance'>
          <ul>
            <li><a routerLink="family-allowance/fa-controls" routerLinkActive="active">Family Controls</a></li>
            <li><a routerLink="family-allowance/fa-dashboard" routerLinkActive="active">Family Dashboard</a></li>
            <li><a routerLink="family-allowance/fa-dashboard-singleline" routerLinkActive="active">Family Dashboard - Single line</a></li>
            <li><a routerLink="family-allowance/fa-lines" routerLinkActive="active">Family Lines</a></li>
            <li><a routerLink="family-allowance/fa-lines-history" routerLinkActive="active">Family Line History</a></li>
            <li><a routerLink="family-allowance/fa-benefit" routerLinkActive="active">Benefit</a></li>
          </ul>
        </div>
        <div *ngIf='showStyleGuide'>
          <ul>
            <!--<li><a class="home-link" routerLink="style-guide/button" routerLinkActive="active">Buttons</a></li>
          <li><a class="home-link" routerLink="style-guide/typography" routerLinkActive="active">Typography</a></li> -->
          </ul>
        </div>
        <div *ngIf='showTmoHome'>
          <ul><li><a class="home-link" routerLink="tmo-home/tmo-home-page" routerLinkActive="active">Home Page</a></li></ul>
          <ul><li><a class="home-link" routerLink="tmo-home/tmo-home-top-banner-page" routerLinkActive="active">Home Page - Top Banner</a></li></ul>
          <ul><li><a class="home-link" routerLink="tmo-home/tmo-home-prepaid-page" routerLinkActive="active">Home Page - prepaid</a></li></ul>
         
        </div>
        <div *ngIf='showErrorHandling'>
          <ul>
            <li><a class="home-link" routerLink="error-handling/systemerror" routerLinkActive="active">System Error</a></li>
          </ul>
          <ul>
            <li><a class="home-link" routerLink="error-handling/errorstate-modal" routerLinkActive="active">Error State Modal</a></li>
          </ul>
          <ul>
            <li><a class="home-link" routerLink="error-handling/servererror-modal" routerLinkActive="active">Server Error</a></li>
          </ul>
        </div>
        <div *ngIf='showPortIn'>
          <ul>
            <li><a routerLink="port-in/problemIdentifier" routerLinkActive="active">Problem Identifier</a></li>
            <li><a routerLink="port-in/problemFix" routerLinkActive="active">Problem Fix</a></li>
            <li><a routerLink="port-in/maximumAttempts" routerLinkActive="active">Maximum Attempts</a></li>
            <li><a routerLink="port-in/successStatus" routerLinkActive="active">Success Status</a></li>
          </ul>
        </div>
        <div *ngIf='showStandalone'>
          <ul>
            <li><a routerLink="schduledcall" routerLinkActive="active">Schduled calls</a></li>
            
          </ul>
        </div>
        <div *ngIf='refill'>
          <ul>
            <li><a routerLink="refill/refillaccount" routerLinkActive="active">Refill Account</a></li>
            <li><a routerLink="refill/refillinput" routerLinkActive="active">Refill Input</a></li>
            <li><a routerLink="refill/refillinputpayment" routerLinkActive="active">Refill Input Payment</a></li>
            <li><a routerLink="refill/Refillconfirmation" routerLinkActive="active">Refill Confirmation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
