@import "src/assets/scss/global-variables.scss";
.TMO-HOME {

    .pageurl li {
        padding-bottom: $xs;
    }
    .pageurl a {
        text-decoration: none;
    }

    .margin-right-base {
        margin-right: $base; 
    }
    
      .margin-left-base {
        margin-left: $base; 
    }
    
      .margin-top-base {
        margin-top: $base; 
    }

    ul {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}