@import "src/assets/scss/global-variables.scss";
.TMO-PROBLEM-FIX {
  .img-height {
    width: 142px;
    height: 120px;
  }
  @media #{$smartphones-xs},#{$smartphones-sm} {
    .main-content {
      min-height: calc(100vh - 487px);
    }
    .img-height {
      width: 130px;
      height: 109px;
    }
    .text-left-sm {
      text-align: left; 
    } 
  }
  .cursor:hover {
    color: $brand-magenta;
  }
  .hidden {
    position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
  } 
}
