<div class="TMO-PROBLEM-FIX">
  <div tmo-layout="container">
    <!--<div class="main-content">-->
      <div tmo-layout="grid gap-row-none">
        <div tmo-layout="12" class="padding-top-large no-padding text-center">
          <p class="hidden" aria-label="fixed icon">Fixed icon</p>
          <img src="./assets/img/svg/icons/fixed-icon.svg" class="img-height" tabindex="0" alt="fixed icon" aria-label="fixed icon">
        </div>
        <div tmo-layout="12 10@md offset-2@md">
          <p class="display3 padding-top-medium text-center" tabindex="0" [attr.aria-label]="details.title">{{details.title}}!</p>
          <p tabindex="0" class="body-copy padding-top-medium padding-top-small-xs padding-top-small-sm text-center
          text-left-sm" [attr.aria-label]="details.content">{{details.content}} </p>         
        </div>
      </div>
   <!-- </div>-->
    <div tmo-layout="grid">
      <div tmo-layout="12 4@md offset-5@md" class="text-center padding-top-xl padding-bottom-large padding-bottom-small-xs padding-bottom-small-sm">
        <p class="hidden" aria-label="All done! Click to continue">All done! Click to continue</p>
        <button class="secondary-cta secondary-cta-black w-100" tabindex="0" appButtonripple role="button">All done</button>
      </div>
    </div>
  </div>
</div>